<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */

$imageUrl = $block->getImage($block->getProduct(), 'product_base_image')->getImageUrl();
?>

<meta property="og:type" content="og:product" />
<meta property="og:title" content="<?= $block->escapeHtml($block->getProduct()->getName()); ?>" />
<meta property="og:image" content="<?= $block->escapeUrl($imageUrl); ?>" />
<meta property="og:description" content="<?= $block->escapeHtml($block->getProduct()->getShortDescription()); ?>" />
<meta property="og:url" content="<?= $block->escapeUrl($block->getProduct()->getProductUrl()); ?>" />
<?php if ($priceAmount = $block->getProduct()->getFinalPrice()):?>
    <meta property="product:price:amount" content="<?php /* @escapeNotVerified */ echo $priceAmount; ?>"/>
    <?= $block->getChildHtml('meta.currency'); ?>
<?php endif;?>
