<div class="container">
   <p class="dashboard-link"
      style="margin-top:0;padding-left:15px;padding-bottom:15px;">
       <a href="<?= $this->getUrl('customer/account');?>">
           <span class="glyphicon glyphicon-chevron-left"></span>Back to dashboard
       </a>
   </p>
   <div class="buyers-dashboard">
      <div class="col-md-6">
         <p class="bd-heading">BUYERS SETTINGS</p>
         <!-- buyers-dashboard-nav end  here -->  
      </div>
      <!-- col-md-6 end  here -->  
      <div class="col-md-6">
         <div class="buyers-dashboard-buttons">
            <!-- Large button group -->
            <span class="btn-group right">
               <ul class="bd-btn">
                  <li>
                     <button class="btn btn-default btn-lg" type="button" data-toggle="modal" data-target="#CategoryModal">
                     FIND ME A... <span class="caret"></span>
                     </button> 
                  </li>
                  <li>or</li>
                  <li>
                     <button class="btn btn-default btn-lg" id="openSalonShow" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     OPEN A SALON
                     </button>
                  </li>
               </ul>
            </span>
         </div>
         <!-- buyers-dashboard-buttons end  here --> 
      </div>
      <!-- col-md-6 end  here --> 
   </div>
   <!-- buyers-dashboard end  here -->    
   <div class="clearfix"></div>
   <!-- ********** Buyer settings section starts here ********** -->
   <section class="buyer-settings dashboard" id="buyers-settings-content" style="display: block;">
      <!-- Buyer settings tab menu starts here -->
      <ul class="nav nav-stacked col-md-4">
         <li id="tab_a_content" class="active"><a>personal information</a></li>
         <li id="tab_b_content"><a>location</a></li>
         <li id="tab_c_content"><a>login &amp; password</a></li>
         <li id="tab_d_content"><a>deleting an account</a></li>
      </ul>
      <!-- Buyer settings tab menu ends here -->
      <!-- Buyer settings tab content starts here -->
      <div class=" col-md-5">
         <!-- Personal Information tab content starts here -->
         <div class="tab-pane ronati-modal " id="tab_a">
            <form class="form form-edit-account" action="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/editPost') ?>" method="post" id="form-personal-info" data-hasrequired="* Required Fields" autocomplete="off" novalidate="novalidate">
               <?= $block->getBlockHtml('formkey')?>
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">First name</label>
                  <div class="col-sm-12">
                     <input type="text"
                            id="firstname"
                            name="firstname"
                            value="<?= $block->escapeHtml($block->getCustomer()->getFirstname()) ?>"
                            title="First Name"
                            class="form-control"
                            data-validate="{required:true}">
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputPassword3" class="col-sm-12 control-label login-form-label">Last name</label>
                  <div class="col-sm-12">
                     <input type="text"
                            id="lastname"
                            name="lastname"
                            class="form-control"
                            data-validate="{required:true}"
                            aria-required="true"
                            aria-invalid="true"
                            aria-describedby="firstname-error"
                            value="<?= $block->escapeHtml($block->getCustomer()->getLastname()) ?>">
                  </div>
               </div>
               <!-- Gender Form -->
               <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
               <?php if ($_gender->isEnabled()): ?>
               <?= $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
               <?php endif ?>
               <!-- End -->
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">Email</label>
                  <div class="col-sm-12">
                     <input type="email"
                            class="form-control"
                            id="email"
                            data-validate="{required:true, 'validate-email':true}"
                            aria-required="true"
                            aria-invalid="true"
                            aria-describedby="firstname-error"
                            value="<?= $block->escapeHtml($block->getCustomer()->getEmail()) ?>">
                  </div>
               </div>
               <div class="form-group">
                  <?php if($block->getCustomer()->getCustomAttribute('contact_number')== "" ){ ?>
                  <label for="inputEmail3" class="col-sm-12 control-label phone-number-label">Phone</label>
                  <div class="col-sm-12">
                     <input type="telephone" name="contact_number" id="telephone" class="form-control"  placeholder="please save contact details" data-validate="{required:true}" aria-required="true" aria-invalid="true" aria-describedby="telephone-error" maxlength="10">
                  </div>
                  <?php }else{ ?>
                  <label for="inputEmail3" class="col-sm-12 control-label phone-number-label">Phone</label>
                  <div class="col-sm-12">
                     <input type="telephone"
                            name="contact_number"
                            id="telephone"
                            class="form-control"
                            data-validate="{required:true}"
                            aria-required="true"
                            aria-invalid="true"
                            aria-describedby="telephone-error"
                            value="<?= $block->getCustomer()->getCustomAttribute('contact_number')->getValue();?>"
                            maxlength="10">
                     <?php } ?>
                  </div>
               </div>
               <button type="submit" class="ronati-modal-button" title="<?php /* @escapeNotVerified */ echo __('Save') ?>"><span><?php /* @escapeNotVerified */ echo __('Save') ?></span></button>
            </form>
         </div>
         <!-- Personal Information tab content ends here -->



         <!-- Location tab content starts here -->

         <!-- check if seller exit -->
         <?php
            $helper = $this->helper('Webkul\Marketplace\Helper\Data');
            $seller_exist= $helper->isSellerExist();
            $partner = $helper->getSeller();
            $isSecure = $this->getRequest()->isSecure();
            $actionUrl = $block->getUrl('marketplace/account/becomesellerCustomUpdate', ["_secure" => $isSecure]);
            
            if (isset($partner['is_seller'])  ) { ?>
         <div class="tab-pane ronati-modal" id="tab_b" style="display: none;">
            <form class="form-horizontal" action="<?= $actionUrl ?>" enctype="multipart/form-data" method="post" >
               <input type="hidden" class="required-entry form-control" name="profileurl" value="abc" />
               <input type="hidden" class="required-entry form-control" name="is_seller" id="is_seller" value="0" />
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">Country</label>
                  <div class="col-sm-12">
                     <div class="input-group-btn">
                        <select class="form-control btn btn-default"  name="country_pic" id="country_pic" onchange="getRegionList(this.value)">
                           <option selected="selected">please select country</option>
                           <?php  $blockObj= $block->getLayout()->createBlock('Webkul\Marketplace\Block\Account\Editprofile');
                              $blockObj->getMyCountryMethod();
                              
                              foreach ($blockObj->getMyCountryMethod() as  $country_value) { ?> 
                           <option <?php if($country_value['value']!=''){
                              echo ($partner['country_pic']==$country_value['value']?"selected='selected'":""); ?>
                                      value="<?= $country_value['value']; ?>"><?= $country_value['label'];?></option>
                           <?php } } ?>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="form-group" id="seller_state_id">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">State</label>
                  <div class="col-sm-12">
                     <div class="input-group-btn">
                        <select class="form-control btn btn-default" name="seller_state" id="seller_state">
                           <option value="<?= $partner['seller_state'];?>"><?= $partner['seller_state'];?></option>
                           >
                        </select>
                     </div>
                  </div>
               </div>
               <div class="field required" style="display: none;" id="seller_state_text">
                  <label class="label control-label login-form-label">State</label>
                  <div class="col-sm-12">
                     <input type="text"
                            class="form-control"
                            name="seller_state"
                            id="seller_state"
                            data-validate="{required:true}"
                            autocomplete="off"
                            aria-required="true"
                            value="<?= $partner['seller_state'];?>">
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">City</label>
                  <div class="col-sm-12">
                     <input type="text"
                            class="form-control"
                            name="seller_city"
                            id="seller_city"
                            data-validate="{required:true}"
                            autocomplete="off"
                            aria-required="true"
                            value="<?= $partner['seller_city'];?>">
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">Zip</label>
                  <div class="col-sm-6">
                     <input type="text"
                            class="form-control"
                            name="zipcode"
                            value="<?= $partner['zipcode'];?>"
                            maxlength="5">
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">Address</label>
                  <div class="col-sm-12">
                     <input type="text"
                            class="form-control"
                            placeholder=""
                            name="seller_address"
                            value="<?= $partner['seller_address'];?>">
                  </div>
               </div>
               <button class="ronati-modal-button" type="submit">Save</button> 
            </form>
         </div>
         <?php }else{ ?>
         <div class="tab-pane ronati-modal" id="tab_b" style="display: none;">
             <?php $secure = $this->getRequest()->isSecure()  ?>
            <form class="form-horizontal"
                  id="seller-form"
                  action="<?= $block->getUrl('marketplace/account/notSelleraccount', ["_secure" => $secure]) ?>">
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">Country</label>
                  <div class="col-sm-12">
                     <div class="input-group-btn">
                        <select class="form-control btn btn-default" name="country_pic" onchange="getRegionList(this.value)">

                        <option selected="selected">please select country</option>
                           <?php  $blockObj= $block->getLayout()->createBlock('Webkul\Marketplace\Block\Account\Editprofile');
                              $blockObj->getMyCountryMethod();
                              
                              foreach ($blockObj->getMyCountryMethod() as  $country_value) { ?> 
                           <option <?php if($country_value['value']!=''){
                              echo ($partner['country_pic']==$country_value['value']?"selected='selected'":""); ?>
                                      value="<?= $country_value['value']; ?>"><?= $country_value['label'];?></option>
                           <?php } } ?>
                           
                        </select>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">States</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" id="" placeholder="" name="seller_state">
                  </div>
               </div>
              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">City</label>
                  <div class="col-sm-12">
                     <input type="text" class="form-control" name="seller_city" id="seller_city" data-validate="{required:true}" autocomplete="off" aria-required="true" value="">
                  </div>
               </div>
              
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">Zip</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" id="" placeholder="" name="zipcode" value="" maxlength="5">
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">Address</label>
                  <div class="col-sm-12">
                     <input type="text" class="form-control" id="" placeholder="" name="seller_address" value="">
                  </div>
               </div>
               <button class="ronati-modal-button" type="submit">Save</button>
            </form>
        
         <?php } ?>

         </div>
         <!-- end -->
         <!-- Location tab content ends here -->
         <!-- login & password tab content starts here -->
         <div class="tab-pane ronati-modal" id="tab_c" style="display: none;">
            <form class="form-horizontal" id="form-password-reset" data-hasrequired="* Required Fields" autocomplete="off" novalidate="novalidate">
               <p id="login-reset-success-message"></p>
               <label for="inputEmail3" class="col-sm-12 control-label login-form-label">The login is an email address</label>
               <div class="form-group">
                  <label for="inputEmail3" class="col-sm-12 control-label login-form-label">Login(Email)</label>
                  <div class="col-sm-12">
                     <input type="email"
                            class="form-control"
                            id="email"
                            value="<?= $block->getCustomer()->getEmail(); ?>"
                            readonly>
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputPassword3" class="col-sm-12 control-label login-form-label">Current Password</label>
                  <div class="col-sm-12">
                     <input type="password" class="form-control" id="current_password" name="current_password">
                     <p id="current-password-error-message"></p>
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputPassword3" class="col-sm-12 control-label login-form-label">New Password</label>
                  <div class="col-sm-12">
                     <input type="password" class="form-control" id="new_password" name="new_password">
                     <p id="new-password-error-message"></p>
                  </div>
               </div>
               <button type="button" class="ronati-modal-button" id="password-reset-button" title="<?php /* @escapeNotVerified */ echo __('Save') ?>"><span><?php /* @escapeNotVerified */ echo __('Save') ?></span></button> 
            </form>
         </div>
         <!-- login & password tab content ends here -->
         <!-- Deleting an account tab content starts here -->
         <div class="tab-pane ronati-modal" id="tab_d" style="display: none;">
            <form class="form-horizontal" id="form-delete-account" data-hasrequired="* Required Fields" autocomplete="off" novalidate="novalidate">
               <div class="form-group">
                  <p id="success-message"></p>
                  <label class="col-sm-12 control-label login-form-label">After deleting the account, the history of your purchases will be lost;You will no longer be able to monitor the status of your orders and receive information from sellers through the portal.</label>
               </div>
               <div class="form-group">
                  <label for="inputPassword3" class="col-sm-12 control-label login-form-label">Current Password</label>
                  <div class="col-sm-12">
                     <input type="password" name="old_password" class="form-control" id="old_password">
                     <p id="delete-error-message"></p>
                  </div>
               </div>
               <button type="button" class="ronati-modal-button" id="account-delete-button" title="<?php /* @escapeNotVerified */ echo __('Delete your account') ?>"><span><?php /* @escapeNotVerified */ echo __('delete your account') ?></span></button>
            </form>
         </div>
         <!-- Deleting an account tab content ends here -->
      </div>
      <!-- Buyer settings tab content ends here -->
   </section>
</div>

<script type="text/x-magento-init">
{
    "*" : {
        "buyerSettingModal" : {}
    }
}

</script>
<script type="text/javascript">
   require([
       "jquery",
       "mage/mage"
   ], function($){
   
       $('#delete-error-message').hide();
       $('#current-password-error-message').hide();
       $('#new-password-error-message').hide();
       $('#success-message').hide();
       $('#login-reset-success-message').hide();
       
       var dataForm = $('#form-personal-info');
       dataForm.mage('validation', {});
   
       var UserDeleteForm = $('#form-delete-account');
       UserDeleteForm.mage('validation', {});
   
       var PasswordResetForm = $('#form-password-reset');
       PasswordResetForm.mage('validation', {});
   
       // Account deletion action  
       $("#account-delete-button").on("click",function(){ 
   
        var old_password = $('#old_password').val();
        if(old_password=='') {
           $('#delete-error-message').show();
           $('#delete-error-message').html('<span style=color:red;>Please enter your current password</span>');
           return false;
        } else {
                  jQuery('#success-message').show();
                  jQuery('#success-message').html('<p style=color:navy;>' +
                      '<img src="<?= $block->getViewFileUrl("images/loader-1.gif"); ?>"' +
                      ' id="loading-img" width="30"/> Account deletion in process...</p>');
                  
           jQuery.ajax({
                   url: "<?= $this->getUrl('delete-account/'); ?>",
                   showLoader: false,
                   data: {'old_password':old_password},                   
                   type: 'POST'
           }).done(function(data) {
               var json = jQuery.parseJSON(data);
               jQuery('#success-message').show();
                          jQuery('#success-message').html('<p class="message-success success message">' +
                              '<img src="<?= $block->getViewFileUrl("images/loader-1.gif"); ?>" id="loading-img"' +
                              ' width="30"/>Account deletion successful...Redirecting you to homepage</p>');
                          window.location.href = "<?= $this->getUrl('/'); ?>";
   
           }).error(function(data) {
                          $('#success-message').show();
                          $('#success-message').html('<span class="message-error error message">Current password mismatched. Please provide correct current password of your account.</span>');
           });
        }
       });
   
       // Login reset action
       $("#password-reset-button").on("click",function(){ 
   
        var email = $('#email').val();
        var current_password = $('#current_password').val();
        var new_password = $('#new_password').val();
        
        if(current_password=='') {
           $('#current-password-error-message').show();
           $('#current-password-error-message').html('<span style=color:red;>Please enter your current password</span>');
           return false;
        } else {
           $('#current-password-error-message').hide();
        } 
   
        if(new_password=='') {
           $('#new-password-error-message').show();
           $('#new-password-error-message').html('<span style=color:red;>Please enter your new password</span>');
           return false;
        } else {
           $('#new-password-error-message').hide();
        }                
           jQuery('#login-reset-success-message').show();
                  jQuery('#login-reset-success-message').html('<p class="message-success success message">' +
                      '<img src="<?= $block->getViewFileUrl("images/loader-1.gif"); ?>" ' +
                      ' id="loading-img" width="30"/> Saving your information...</p>');
        
       });
   
       // Current password authentication
       $("#current_password").blur(function(){ 
           var current_password = $('#current_password').val();
           if(current_password.length>3) {
   
              jQuery.ajax({
                   url: "<?= $this->getUrl('delete-account/index/compairpassword'); ?>",
                   showLoader: false,
                   data: {'current_password':current_password},                   
                   type: 'POST'
           }).done(function(data) {
               var json = jQuery.parseJSON(data);
               jQuery('#login-reset-success-message').show();
               jQuery('#login-reset-success-message').html('<p class="message-success success message">Current password authenticated! Go ahead</p>');
               $('#password-reset-button').prop('disabled', false);
               $('#current-password-error-message').hide();
   
           }).error(function(data) {
              $('#current-password-error-message').show();
              $('#current-password-error-message').html('<span style="color:red;">Current password mismatched. Please provide correct current password of your account.</span>');
              $('#password-reset-button').prop('disabled', true);
           });
           }   
       }); 
   
   });
</script>



<script type="text/javascript">
   /*get selceted country get  state dropdown */
     function getRegionList(country_pic){
               jQuery.ajax({
                       url: "<?= $this->getUrl('marketplace/seller/countryregion'); ?>",
                       showLoader: true,
                       data: {'country_id':country_pic },                   
                       type: 'POST'
               }).done(function(data) {
                   var json = jQuery.parseJSON(data);
                   if(json.length!='0') {
                   jQuery("#seller_state").empty();
                   jQuery.each(json, function (key, value) {
                       jQuery("#seller_state").append(jQuery("<option value="+value.region_id+"'>"+value.default_name+"</option>"));
                       });
                   jQuery('#seller_state_text').hide();
                   } else {
                       jQuery('#seller_state_id').hide();
                       jQuery('#seller_state_text').show();
                   }
               });    
       }
</script>
