<?php
/** @var \RonatiModules\Auth\Helper\Data $helper */
$helper = $this->helper('RonatiModules\Auth\Helper\Data');
?>
<main>
	<section class="profile profile_dashboard">
		<div class="container">
			<a href="#" class="link-back link-back_indent"><?= __('Back') ?></a>
			<div class="profile__header">
				<div class="profile__title-block">
					<p class="profile__title"><?= __('Hello') ?>, <?= ucwords($helper->getCustomer()->getName());?>!</p>
					<p class="profile__sub-title"><?= __('Here\'s an overview of your Ronati world') ?>...</p>
				</div>
				<div class="counter-wrap">
					<div class="counter">
						<p class="counter__title"><?= __('Purchased Items') ?></p>
						<p class="counter__num">0</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row profile__dashboard">

				<!--Buyer Sidebar-->
                <?= $this->getLayout()->getBlock('buyer_sidebar')->toHtml(); ?>

				<div class="profile__body">
					<div class="dashboard">
						<div class="row profile__row">
							<div class="dashboard__activity">
								<div class="activity">
									<p class="activity__title"><?= __('Latest activity') ?>:</p>
									<div class="notification-list">
										<div class="notification-list__item">
											<div class="notification-list__item-text"><a href="#" data-slice="85" class="link link_default js-slice-words">You have no items in your request</a></div>
										</div>
									</div>
								</div>
								<a href="#" class="link link_gold-line dashboard__activity-more"><?= __('View all activity') ?></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
