<div class="container">
   <div class="buyers-dashboard">
      <div class="col-md-6">
         <p class="bd-heading"><?= __('buyers dashobard') ?></p>
         <ul class="buyers-dashboard-nav clearfix">
            <li><span><i class="glyphicon glyphicon-user"></i></span><?= __('User/Buyer Name') ?> </li>
            <li class="buyers-settings">
                <span><em class="glyphicon glyphicon-cog"></em></span>
                <a href="<?= $this->getUrl('customer/account/edit');?>"><?= __('Setting') ?></a>
            </li>
            <li class="buyers-settings"><span><a href='#' id="setPreferences">Preferences</a></span></li>
         </ul>
         <button style="padding: 10px 15px;font-size: 12px;margin-top: 15px;"
                 type="button"
                 class="ronati-modal-button"
                 name="becomeseller">
             <span><?= __('Become a Seller') ?></span>
         </button>
         <!-- buyers-dashboard-nav end  here -->  
      </div>
      <!-- col-md-6 end  here -->  
      <div class="col-md-6">
         <div class="buyers-dashboard-buttons">
            <!-- Large button group -->
            <span class="btn-group right">
               <ul class="bd-btn">
                  <li>
                     <button class="btn btn-default btn-lg" type="button" data-toggle="modal" data-target="#CategoryModal">
                     FIND ME A... <span class="caret"></span>
                     </button> 
                  </li>
                  <li>or</li>
                  <li>
                     <button class="btn btn-default btn-lg" id="openSalonShow" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     OPEN A SALON
                     </button>
                  </li>
               </ul>

            </span>
         </div>
         <!-- buyers-dashboard-buttons end  here --> 
      </div>
      <!-- col-md-6 end  here --> 
   </div>
   <!-- buyers-dashboard end  here -->    
   <div class="clearfix"></div>
   <div class="buyers-dashboard-tabs" id="buyers-dashboard-complete-content">
      <div class="col-md-12">
         <div class="tabbable-panel">
            <div class="tabbable-line">
               <ul class="nav nav-tabs tabtop tabsetting">
                  <li class="active"> <a href="#gallery" data-toggle="tab"><?= __('my private galleries') ?></a> </li>
                  <li> <a href="#wishlist" data-toggle="tab"><?= __('my wishlist') ?></a> </li>
                  <li>
                      <a href="#messages" data-toggle="tab">
                          <?= __('messages') ?>
                          <span class="message-count">3</span>
                      </a>
                  </li>
                  <li> <a href="#purchase" data-toggle="tab"><?= __('purchase history') ?></a> </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<?php
$templatePath = "RonatiModules_WebkulMarketplace::account/becomeseller.phtml";
?>
<?= $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate($templatePath)->toHtml();?>
