<?php
/** @var $block \RonatiModules\Theme\Block\Html\BuyerSidebar */
$customerSession = $block->getCustomerSesion();
$helper = $block->getAuthHelper();
$profile_picture = $helper->getCustomerAvatarPath($customerSession->getCustomer()->getId());
$highlight_profile = $block->getHighlightProfile();
$highlight_history = $block->getHighlightHistory();
$highlight_address = $block->getHighlightAddress();
$highlight_payment = $block->getHighlightPayment();
?>
<div class="profile__aside">
    <ul class="profile-nav">
        <li>
            <a href="<?= $this->getUrl("customer/account/index"); ?>" title="dashboard" class="user">
                <div class="user__avatar"><img src="<?= $profile_picture; ?>" class="js-img-center done"
                                               style="width: auto; height: 100%; position: relative; left: 0px; top: 0px;"></div>
                <div class="user__info">
                    <p class="user__name"><?= ucwords($customerSession->getCustomer()->getName()); ?></p>
                    <p class="user__status"><?= __('Buyer') ?></p>
                </div>
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="<?= $this->getUrl("customer/account/edit"); ?>" title="Profile"
               class="<?= $highlight_profile; ?> profile-nav__link">
                <svg width="16px" height="15px" class="profile-nav__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#profile"></use>
                </svg>
                <?= __('Profile') ?>
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="#" title="Messages" class="profile-nav__link">
                <svg width="16px" height="11px" class="profile-nav__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#profile-messages"></use>
                </svg>
                Messages
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="<?= $this->getUrl("sales/order/history/"); ?>" title="Purchases"
               class="<?= $highlight_history; ?> profile-nav__link">
                <svg width="16px" height="16px" class="profile-nav__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#purchases"></use>
                </svg>
                <?= __('Purchases') ?>
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="<?= $this->getUrl("customer/address/index"); ?>" title="Shipping Address"
               class="<?= $highlight_address; ?> profile-nav__link">
                <svg width="16px" height="15px" class="profile-nav__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pointer"></use>
                </svg>
                <?= __('Shipping Address') ?>
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="<?= $this->getUrl("vault/cards/listaction"); ?>" title="Payment Methods"
               class="<?= $highlight_payment; ?> profile-nav__link">
                <svg width="16px" height="12px" class="profile-nav__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#payments"></use>
                </svg>
                <?= __('Payment Methods') ?>
            </a>
        </li>
        <li class="profile-nav__item">
            <a href="<?= $this->getUrl("customer/address/index"); ?>" title="Billing" class="profile-nav__link">
                <svg width="16px" height="14px" class="profile-nav__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#billing"></use>
                </svg>
                <?= __('Billing') ?>
            </a>
        </li>
    </ul>
</div>
