<main>
    <section class="creating-request">
        <div class="container">
            <div id="screen-error-message" class="screen-error-message-request"></div>
            <div class="profile__info" id="screen-message"></div>
            <form id="contact-form" data-validate="{required:true, 'validate-input-one': true}" enctype="multipart/form-data"
                  novalidate="novalidate">
                <div id="buyer-contact" class="tabs-buyer">
                    <div id="request-information" class="tabs-buyer__item">
                        <div class="describe-search">
                            <p class="creating-request__title-step">Drop us a line</p>
                            <p id="message"></p>
                            <div class="form-field">
                                <label for="contact_email_address"
                                       class="form-field__label"><?= __('Your Email Address') ?>:</label>
                                <input id="contact_email_address" name="give-your-email" type="text" data-valid="text"
                                       class="form-field__input" data-validate="{required:true, email:true}" autocomplete="off"
                                       aria-required="true" placeholder="<?= __('Enter your email address*') ?>">
                                <p class="form-field__hint-gray">* (<?= __('Required field') ?>)</p>
                            </div>
                            <div class="form-field">
                                <label for="fullname" class="form-field__label"><?= __('Your Name') ?>:</label>
                                <input id="fullname" name="give-your-name" type="text" data-valid="text" class="form-field__input"
                                       data-validate="{required:true}" autocomplete="off" aria-required="true"
                                       placeholder="<?= __('Enter your name*') ?>">
                                <p class="form-field__hint-gray">* (<?= __('Required field') ?>)</p>
                            </div>
                            <div class="form-field">
                                <label for="contact_message" class="form-field__label">
                                    <?= __('Your Message') ?>:
                                </label>
                                <textarea id="contact_message" name="what-your-message"
                                          placeholder="<?= __('Put your message here*...') ?>"
                                          data-valid="text" class="form-field__textarea"
                                          data-validate="{required:true}" autocomplete="off" aria-required="true"></textarea>
                                <p class="form-field__hint-gray">* (<?= __('Required field') ?>)</p>
                            </div>
                        </div>
                        <div class="btn-group btn-group_right">
                            <input type='button' class="btn btn_small-h btn_gold tabs-buyer__next js-next-step" id="contact-btn"
                                   value="<?= __('Send') ?>"
                            />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
<script type="text/x-magento-init">
{
    "*" : {
        "aboutUsForm" : {}
    }
}



</script>

