<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $block->getStoreManager();
$webkulMpDataHelper = $objectManager->create('Webkul\Marketplace\Helper\Data');
$helper = $this->helper('\Nostress\Koongo\Helper\Data');
?>
<main class="holding-wrapper">
    <section>
        <div class="home-contentarea">
            <div class="blocklevel-one">
                <div class="ronati-container">
                    <div class="LeftBx">
                        <span class="heading-style">The Power of Simplicity</span>
                        <p>Technology and the internet have created tremendous, previously unseen market opportunities, and affordable access to global buyers.</p>
                        <p>Yet, with all of the advances, dealers are mired in complex processes, using disconnected tools, marketplaces and websites.</p>
                        <p>More and more precious time is being spent simply keeping up with listing, tracking, editing - and all the administration that this requires - which creates frustration.</p>
                        <p>Our goal is to remove those frustrations and streamline processes with simple tools that enable dealers to concentrate on what they do best - sourcing and bringing the treasures of the past to the buyers of today.</p>
                    </div>
                    <!--LeftBx close here-->
                    <div class="RightBx">
                        <img src="<?= $webkulMpDataHelper->getMediaUrl() . "placeholder-1.png" ?>" alt="RightBx">
                    </div>
                    <!--RightBx close here-->
                </div>
                <!--ronati-container close here-->
            </div>
            <!--blocklevel-one close here-->
            <div class="blocklevel-two">
                <div class="ronati-container">
                    <div class="LeftBx">
                        <img src="<?= $webkulMpDataHelper->getMediaUrl() . "placeholder-2.png" ?>" alt="LeftBx">
                    </div>
                    <!--LeftBx close here-->
                    <div class="RightBx">
                        <span class="heading-style">eCommerce Manager</span>
                        <p>We are pleased to introduce our first, unique tool - the Ronati eCommerce Manager. </p>
                        <p>Think of the eCommerce Manager as your virtual assistant, enabling you to easily manage all your listings across multiple marketplaces from a single online platform. Whenever. Wherever you are. </p>
                        <p class="read-more-btn"><a href=""><?= __('Read More') ?></a></p>
                    </div>
                    <!--RightBx close here-->
                </div>
                <!--ronati-container close here-->
            </div>
            <!--blocklevel-two close here-->
            <div class="blocklevel-three">
                <div class="ronati-container">
                    <div class="LeftBx">
                        <span class="heading-style"><?= __('About Us') ?></span>
                        <p>Ronati is comprised of over 20 leading professionals from inside and outside the antiques and interior design industries. Their decades-long experience and dedicated passions have been fused together with cutting-edge technical and marketing teams to create simple, powerful solutions for dealers worldwide. </p>
                        <p> Our team has spent the last year working closely with leading dealers across the globe, covering high-end and mid-market dealers specialising in a myriad of different pieces, periods and styles. They spoke, and we listened, built and developed. We’re constantly inspired by knowledge and passion inherent in dealers, and by the beauty, appeal and soul of the pieces being sold every day. </p>
                    </div>
                    <!--LeftBx close here-->
                    <div class="RightBx">
                        <img src="<?= $webkulMpDataHelper->getMediaUrl() . "line-graphic.png" ?>" alt="RightBx">
                    </div>
                    <!--RightBx close here-->
                </div>
                <!--ronati-container close here-->
            </div>
            <!--blocklevel-three close here-->
            <div class="blocklevel-four">
                <div class="ronati-container">
                    <div class="LeftBx">
                        <img src="<?= $webkulMpDataHelper->getMediaUrl() . "placeholder-3.png" ?>" alt="LeftBx">
                    </div>
                    <!--LeftBx close here-->
                    <div class="RightBx" id="waitlist">
                        <span class="heading-style">Join the Waitlist </span>
                        <p>We are currently in a closed beta-testing phase. If you are a registered dealer, please <a
                                href="<?= $block->getUrl('customer/account/login'); ?>">log in</a>.</p>
                        <p>If you haven’t received an invitation and would like to learn more about how Ronati can help you and your business, please complete the form below to join our waiting list. </p>
                        <form class="jtw-mail" id="contact-form">

                            <p>
                                <label for="joinFirstName"><?= __('First Name') ?></label>
                                <input id="joinFirstName"
                                       data-validate="{required:true}"
                                       type="text"
                                >
                            </p>
                            <p>
                                <label for="joinSurnameName"><?= __('Surname') ?></label>
                                <input id="joinSurnameName"
                                       type="text"
                                       data-validate="{required:true}"
                                >
                            </p>
                            <p><label for="joinEmailName"><?= __('Email Name') ?></label>
                                <input id="joinEmailName" type="text">
                            </p>
                            <p><label>Are you a dealer?</label>
                                <span><input type="radio" name="dealer" value="Yes" checked> Yes </span>
                                <span><input type="radio" name="dealer" value="No"> No</span>
                            </p>
                            <p>
                                <button type="submit" value="Submit"><?= __('Submit') ?></button>
                                <span class="agree-info">By clicking this button, you agree to Ronati’s <a
                                        href="<?= $helper->getStoreConfig(null, 'marketplace_settings/redirect/default_home_url') .'terms-of-use/';?>">Terms of Use</a></span></p>
                        </form>
                        <!--jtw-mail close here-->
                    </div>
                    <!--RightBx close here-->
                </div>
                <!--ronati-container close here-->
            </div>
            <!--blocklevel-three close here-->
        </div>
        <!--home-contentarea close here-->
    </section>

</main>
<script type="text/x-magento-init">
{
    "*" : {
        "homeFormValidate" : {}
    }
}



</script>
