<?php
/**
 * @var $block \Magento\Theme\Block\Html\InventorySidebar
 */

$helper = $block->getMarketplaceHelper();
$blockObj = $block->getChildBlock('block_object');
$customerSession = $block->getCustomerSession();
$customer_id = $customerSession->getCustomer()->getId();
$marketplace = $blockObj->getMarketplaceOfSeller();
$periods = [];
$period_classification = $block->getPeriodClassification();
foreach ($period_classification->getData() as $period) {
    $periods[] = $period['period_name'];
}
?>
<div class="row inventory__row">
    <aside class="inventory__aside-wrap">
        <div class="inventory__aside">
            <div class="my-inventory">
                <p class="my-inventory__title inventory-accordion__targer opened"
                   id="my-inventory__title"><?= __('My Inventory') ?></p>
                <ul class="my-inventory__list" id="my-inventory__list">
                    <li class="my-inventory__item"><a id="allexceptdeleted"
                                                      href="<?= $this->getUrl('marketplace/product/allexceptdeleted') . '?limit=50&p=1'; ?>"
                                                      class="my-inventory__link link link_default"><?= __('All except Deleted') ?> (<?= count($helper->getFilterProduct(6)); ?>)</a>
                    </li>
                    <li class="my-inventory__item"><a id="productlist"
                                                      href="<?= $this->getUrl('marketplace/product/productlist') . '?limit=50&p=1'; ?>"
                                                      class="my-inventory__link link link_default"><?= __('All') ?> (<?= count($helper->getFilterProduct(100)); ?>)</a>
                    </li>
                    <li class="my-inventory__item"><a id="activeproductlist"
                                                      href="<?= $this->getUrl('marketplace/product/activeproductlist') . '?limit=50&p=1'; ?>"
                                                      class="my-inventory__link link link_default"><?= __('Active') ?> (<?= count($helper->getFilterProduct(1)); ?>)</a>
                    </li>
                    <li class="my-inventory__item"><a id="draftproductlist"
                                                      href="<?= $this->getUrl('marketplace/product/draftproductlist') . '?limit=50&p=1'; ?>"
                                                      class="my-inventory__link link link_default"><?= __('Draft') ?> (<?= count($helper->getFilterProduct(4)); ?>)</a>
                    </li>
                    <li class="my-inventory__item"><a id="soldproductlist"
                                                      href="<?= $this->getUrl('marketplace/product/soldproductlist') . '?limit=50&p=1'; ?>"
                                                      class="my-inventory__link link link_default"><?= __('Sold') ?> (<?= count($helper->getFilterProduct(3)); ?>)</a>
                    </li>
                    <li class="my-inventory__item"><a id="deactivateproductlist"
                                                      href="<?= $this->getUrl('marketplace/product/deactivateproductlist') . '?limit=50&p=1'; ?>"
                                                      class="my-inventory__link link link_default"><?= __('Deactivated') ?> (<?= count($helper->getFilterProduct(2)); ?>)</a>
                    </li>
                    <li class="my-inventory__item"><a id="deletedproductlist"
                                                      href="<?= $this->getUrl('marketplace/product/deletedproductlist') . '?limit=50&p=1'; ?>"
                                                      class="my-inventory__link link link_default"><?= __('Deleted') ?> (<?= count($helper->getFilterProduct(0)); ?>)</a>
                    </li>
                    <li class="my-inventory__item"><a id="onholdproductlist"
                                                      href="<?= $this->getUrl('marketplace/product/onholdproductlist') . '?limit=50&p=1'; ?>"
                                                      class="my-inventory__link link link_default"><?= __('On Hold') ?> (<?= count($helper->getFilterProduct(5)); ?>)</a>
                    </li>
                </ul>
            </div>
            <div class="inventory-accordion js-accordion">
                <div class="inventory-accordion__item js-accordion__item active">
                    <p class="inventory-accordion__targer opened"
                       id="inventory-accordion-marketplace"><?= __('My Marketplaces') ?></p>
                    <div class="inventory-accordion__wrap js-accordion__wrap" id="inventory-accordion-marketplace__wrap">
                        <ul class="sales-channels">
                            <?php
                            foreach ($marketplace as $connectedMarketplace) {
                                if (count($connectedMarketplace) > 0) {
                                    $url = preg_replace('#[^0-9a-z]+#i', '-', $connectedMarketplace['channel_name']);
                                    $lower_channel = strtolower($url);
                                    $channel_url = $lower_channel . "-" . $connectedMarketplace['id'] . "." . "html";
                                    ?>
                                    <li class="sales-channels__item">
                                        <div class="sales-channels__item-wrap"><a href="#"
                                                                                  style="pointer-events: none; cursor: default;"
                                                                                  class="sales-channels__img-wrap">
                                                <?php if (isset($connectedMarketplace['channel_logo'])) {
                                                    $channel_logo = $connectedMarketplace['channel_logo'];
                                                } else {
                                                    $channel_logo = "placeholder-300x300.jpg";
                                                } ?>
                                                <img src="<?= $blockObj->getImagePath() . $channel_logo; ?>" height="40px"
                                                     width="40px" alt="logo" class="js-img-center" id="sidebar-channel"></a>
                                            <div class="sales-channels__text"><a href="#"
                                                                                 style="pointer-events: none; cursor: default;"
                                                                                 class="sales-channels__name link link_default"><?= $connectedMarketplace['channel_name']; ?></a>
                                            </div>
                                        </div>
                                        <a href="<?= $this->getUrl('marketplace/channel/setting',
                                            ['name' => $channel_url]); ?>" class="sales-channels__settings">
                                            <svg width="14px" height="14px" class="sales-channels__settings-icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#settings"></use>
                                            </svg>
                                        </a>
                                    </li>
                                <?php } ?>
                            <?php } ?>
                            <li class="sales-channels__item button_plus_wrapper">
                                <div class="sales-channels__item-wrap"><a href="<?= $this->getUrl('marketplace/channel'); ?>"
                                                                          data-fancybox-black class="btn-plus"></a>
                                    <div class="sales-channels__text"><a href="<?= $this->getUrl('marketplace/channel'); ?>"
                                                                         data-fancybox-black
                                                                         class="sales-channels__title link link_default"><?= __('Add a new marketplace') ?></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </aside>
</div>
<script type="text/x-magento-init">
{
    "*" : {
        "invertorSidebar" : {}
    }
}

</script>
<script type="text/javascript">
    function clickLink(i) {
        jQuery('.my-inventory__item_' + i).addClass('breadcrumb__item');
    }
</script>
