<?php
/** @var $block \RonatiModules\Theme\Block\Html\InventoryOptions */
$currentStore = $block->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$custSession = $block->getCustomerSession();
$visibility = $block->getVisibility();
$visibilitySold = $block->getVisibilitySold();
$deleted_visibility = $block->getDeletedVisibility();
$visibility_active = $block->getVisibilityActive();
$visibility_draft = $block->getVisibilityDraft();
$visibility_deactivate = $block->getVisibilityDeactivate();
$is_draft = $block->getIsDraft();
$seller_marketplaces = $block->getSellerMarketplaceCredentialsCollection();
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$selectedMarketplace = $this->getRequest()->getParam('product_marketplace');
?>

<div class="inventory-filter__right">
    <div class="inventory-filter__btn-group js-filter-inventory">
        <div id="check-all" class="btn btn_white inventory-filter__check js-check-dropdown">
            <div class="default-checkbox">
                <input type="checkbox" name="check-list[]" id="check-list" class="default-checkbox__input">
                <label for="check-list" class="default-checkbox__label js-check-checkbox"></label>
            </div>
            <i class="inventory-filter__check-icon" id="checkbox_icon"></i>
            <ul class="check-dropdown js-check-list" id="dropdown_all_check">
                <li class="check-dropdown__item all-products-check"><?php echo __('All') ?></li>
                <li class="check-dropdown__item all-products-uncheck"><?php echo __('None') ?></li>
            </ul>

        </div>

        <div class="btn btn_white inventory-filter__btn js-check-dropdown js-inventory-btn editstatus" id="editstatus"
             disabled="disabled">
            <div class="default-checkbox" id="default-checkbox"
                 style="position: relative;left:  0;right:  0;width: 100%;top: 0;bottom:  0;height: 100%;">
            <span class="eye-icon">
          <svg width="15px" height="9px" class="inventory-filter__icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#activate"></use>
          </svg>
        </span>
                <label for="edit_status_dropdown" id="edit_status_dropdown"><?php echo __('Edit Status') ?></label>
                <i class="inventory-filter__check-icon" id="edit_icon"></i>
            </div>

            <ul class="check-dropdown js-check-list" id="check-dropdown" style="display: block" ;>
                <li class="check-dropdown__item" id="deactivate"><a href="javascript:void(0)" class="option__link deactivate_product"
                                                                    style="<?php echo $visibility_deactivate; ?>"><?php echo __('Deactivate') ?></a>
                </li>
                <li class="check-dropdown__item" id="activate"><a href="javascript:void(0)" class="option__link activate_product"
                                                                  style="<?php echo $visibility_active; ?>"><?php echo __('Activate') ?></a>
                </li>
                <li class="check-dropdown__item" id="mark_as_sold"><a href="javascript:void(0)" style="<?php echo $visibilitySold; ?>"
                                                                      class="option__link mark_as_sold"
                                                                      OnClick="showMarkAsSoldPopup()"><?php echo __('Mark as Sold') ?></a>
                </li>
                <li class="check-dropdown__item" id="put_on_hold"><a href="javascript:void(0)" class="option__link"
                                                                     OnClick="showOnHoldPopup()"
                                                                     style="<?php echo $visibility_draft ?>"><?php echo __('Put on Hold') ?></a>
                </li>

            </ul>
        </div>
        <?php if (!$is_draft) { ?>
            <div id="delete-hide" style="<?php echo $deleted_visibility; ?>">
                <a href="javascript:void(0)" class="btn btn_white inventory-filter__btn js-inventory-btn delete_product"
                   OnClick="showDisconnectPopup()" disabled="disabled">
                    <svg width="16px" height="13px" class="inventory-filter__icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete"></use>
                    </svg><?php echo __('Delete') ?></a></div>
        <?php } else { ?>
            <div id="delete-hide">
                <a href="javascript:void(0)" class="btn btn_white inventory-filter__btn js-inventory-btn delete_product"
                   OnClick="showMarkAsSoldPopup()">
                    <svg width="16px" height="13px" class="inventory-filter__icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete"></use>
                    </svg><?php echo __('Delete') ?></a></div>
        <?php } ?>
        <div id="add-hide" style="<?php echo $visibility; ?>">
            <a id="add-to-marketplace" href="javascript:void(0)"
               class="btn btn_white inventory-filter__btn js-inventory-btn add_to_marketplace" disabled="disabled">
                <svg width="13px" height="13px" class="inventory-filter__icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#add-to-channel"></use>
                </svg><?php echo __('Add to Marketplace') ?></a></div>

        <div id="remove-hide" style="<?php echo $visibility; ?>">

            <a href="#" id="remove_from_mp" class="btn btn_white inventory-filter__btn js-inventory-btn remove_from_marketplace"
               disabled="disabled" >
                <img src="<?php echo $this->getUrl('')."pub/media/minus.png"; ?>"><?php echo __('Remove from Marketplace') ?></a></div>
        <div class="form-field sort-internal sort-by-select">
            <label for="sort-by"
                   class="sort-internal__label">Filter by
            </label>
            <select id="sort-by-marketplace"
                    name="sort-by"
                    data-list-center
                    class="form-field__select js-select-menu"
                    onChange="filterProductlist()">
                <option selected
                        value="">All Marketplaces
                </option>
                <option <?php if (isset($selectedMarketplace) && $selectedMarketplace  === 'none'): echo 'selected'; endif; ?>
                        value="none">No Marketplaces
                </option>
                <?php $seller_marketplaces = $helper->getSellerMarketplaceCredentialsCollection();
                foreach ($seller_marketplaces as $marketplace) { ?>
                    <option <?php if ($marketplace['marketplace_id'] == $selectedMarketplace) {
                        echo "selected";
                    } ?> value="<?= $marketplace['marketplace_id'] ?>"><?= $marketplace['channel_name']; ?></option>
                <?php } ?>
            </select>
        </div>
    </div>
</div>
<script type="text/javascript">

    function getProducts() {
        // Add to marketplace product
        var values = [];
        jQuery("input[name='product-list']:checked").each(function () {
            values.push(jQuery(this).val());
        });
        var str = values.join(",");
        jQuery('#product_ids_value').val(str);
        return false;
    }

    function selectProduct(id){
        var checkBox = document.getElementById("product-0_"+id);
        if(checkBox.checked == true){
            //if(jQuery('checkbox:checked').length > 0){
            jQuery('.js-inventory-btn').attr('disabled', false);
        } else {
            jQuery('.js-inventory-btn').attr('disabled', true);
        }
    }

    function showDisconnectPopup() {
        document.getElementById('disconnect').style.display = "block";
    }

    function showOnHoldPopup() {
        document.getElementById('hidden_hold_popup').style.display = "block";
    }

    function showRemoveItemPopup() {
        document.getElementById('remove_item').style.display = "block";
    }

    function showAddItemPopup(product_id_string, marketplace_index_array) {
        var product_id_array = product_id_string.split(",");
        jQuery(".marketplaces").each(function () {
            jQuery(this).show();
        });
        jQuery.each(marketplace_index_array, function (marketplace_id, value) {
            if (marketplace_index_array[marketplace_id] == product_id_array.length) {
                jQuery("#marketplace_" + marketplace_id).hide();
            } else if (marketplace_index_array[marketplace_id] !== 'undefined') {
                jQuery("#marketplace_" + marketplace_id).show();
            }
        });
        if (jQuery("#add-item_ul li").length == 0) {
            jQuery("#add-item_blurb").html('There is no connected marketplace.' +
                'Please connect to a marketplace to continue.' +
                `<a  href="<?= $block->getUrl('marketplace/channel/')?>"
                class="gold_marketplace-link link link_default">Connect to Marketplace</a>`);
        } else {
            var visible_li_counter = 0;
        }


        document.getElementById('add_item').style.display = "block";
        jQuery("#add-item_ul li").each(function () {
            var id = jQuery(this).attr('id');
            if (jQuery("#" + id).is(":visible")) {
                visible_li_counter++;
            }
        });
        if (visible_li_counter == 0) {
            jQuery("#add-item_blurb").html('Your selected Product/s are already connected to all your marketplaces.');
        } else if (visible_li_counter > 0 || visible_li_counter == 'undefined') {
            jQuery("#add-item_blurb").html('Check the boxes for each ' +
                'one of your marketplaces that you would like to add your products to.');
        }
    }

    function showMarkAsSoldPopup() {
        var values = [];
        jQuery("input[name='product-list']:checked").each(function () {
            values.push(jQuery(this).val());
        });

        var str = values.join(",");

        jQuery.ajax({
            url: "<?= $this->getUrl('marketplace/product/markassoldmarketplace'); ?>",
            type: 'POST',
            data: {'productIds': str},
            cacheable: false,
            success: function (returndata) {
                var data = JSON.parse(returndata);
                jQuery('#marketplace_channel_list').append(data);
                jQuery('#mark_as_sold_popup').css('display','block');
                var totalMarketplace = jQuery('.spanCounter').length;
                for (var niddle = 0; niddle < totalMarketplace; niddle++) {
                    if (niddle > 1) {
                        jQuery("input[name='product-list']:checked").each(function () {
                            jQuery('#span_' + niddle + '_' + jQuery(this).val()).hide();
                        });
                    }
                }
            }
        });

    }

    function closeSoldPopup() {
        document.getElementById('mark_as_sold_popup').style.display = "none";
    }

    function soldDone() { //validate mark as sold popup
        var price_valid = 0;
        var marketplace_valid = 0;
        var radio_valid = 0;
        jQuery(".product_price_custom_class").each(function (index, element) {
            if (jQuery(this).is(":visible")) {
                if (jQuery(element).val() === "") {
                    jQuery('.price_error').show();
                    price_valid = 0;
                } else {
                    jQuery('.price_error').hide();
                    price_valid = 1;
                }
            } else {
                jQuery('.price_error').hide();
                price_valid = 1;
            }
        });

        jQuery(".product_marketplace_custom_class").each(function (index, element) {
            if (jQuery(this).is(":visible")) {
                if (jQuery(element).val() === "") {
                    jQuery('.marketplace_error').show();
                    marketplace_valid = 0;
                } else {
                    jQuery('.marketplace_error').hide();
                    marketplace_valid = 1;
                }
            } else {
                jQuery('.marketplace_error').hide();
                marketplace_valid = 1;
            }
        });

        jQuery(".product_radio_custom_class").each(function () {
            if (jQuery(this).is(":visible")) {
                if (jQuery('.product_radio_custom_class:checked').length == 0) {
                    jQuery('.radio_error').show();
                    radio_valid = 0;
                } else {
                    jQuery('.radio_error').hide();
                    radio_valid = 1;

                }
            } else {
                jQuery('.radio_error').hide();
                radio_valid = 1;
            }
        });

        if (price_valid == 1 && marketplace_valid == 1 && radio_valid == 1) {
            jQuery('.success message').hide();
            jQuery('#sold-btn-popup_id').text('Wait...');
            var datastring = jQuery('#mark_as_sold_popup_form_id').serialize();
            jQuery.ajax({
                url: "<?= $this->getUrl('marketplace/product/sold'); ?>",
                type: 'POST',
                data: datastring,
                success: function (returndata) {
                    jQuery('.success message').show();
                    location.reload();

                }
            })
        }
    }

    function filterProductlist() {
        var marketplace_selected = jQuery("#sort-by-marketplace").val();
        jQuery("#product_marketplace").val(marketplace_selected);
        jQuery("#form-productlist-filter").submit();
    }

    function moreOption(product_id){
        jQuery('.spanCounter_'+product_id).show();
    }

    function Delete(){
        //validate mark as sold popup
        jQuery('#sold-btn-popup_id').text('Wait...');
        var datastring = jQuery("#mark_as_sold_popup_form_id").serialize();

        jQuery.ajax({
            url: "<?php echo $this->getUrl('marketplace/product/PermanentDelete'); ?>",
            type: 'POST',
            data: datastring,
            success: function (returndata) {
                location.reload();
            }
        });
    }


</script>
<script type="text/x-magento-init">
        {
            "*": {
                "removeFromMarketplace" : {}
            }
        }

</script>
