<?php

/**
 * @var $block Magento\Theme\Block\Html\SellerSidebar
 */
$custSession = $block->getCustomerSession();
$highlight_editprofile = $block->highlightEditProfile();
$highlight_businessprofile = $block->highlightBusinessProfile();
$auth_helper = $block->getAuthHelper();
$profile_picture = $auth_helper->getCustomerAvatarPath($custSession->getCustomer()->getId());

?>
<div class="profile__aside">
    <!--seller aside-->
    <ul class="profile-nav">
        <li><a href="<?= $this->getUrl('marketplace/account/businessprofile/'); ?>" title="dashboard" class="user">
                <div class="user__avatar"><img src="<?= $profile_picture; ?>" class="js-img-center"
                                               style="width: 100%; height: 100%; position: relative; left: 0px; top: 0px;"></div>
                <div class="user__info">
                    <p class="user__name"><?= ucwords($custSession->getCustomer()->getName()); ?></p>
                    <p class="user__status"><?= __('Seller') ?></p>
                </div>
            </a></li>
        <li class="profile-nav__item"><span class="profile-nav__link">
                      <svg width="16px" height="15px" class="profile-nav__icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#profile"></use>
                      </svg><?= __('Profile') ?></span>
            <ul class="profile-nav__sub">
                <li class="profile-nav__sub-item">
                    <a href="<?= $this->getUrl('marketplace/account/businessprofile/'); ?>"
                        title="Busines information"
                        class="profile-nav__sub-link <?= $highlight_businessprofile; ?>">
                        <?= __('Business Information') ?>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
