<html lang="en">
<section class="blog-article thankyou">
    <div class="thankyou-message">
        <div class="blog-article__container thankyou">
            <div class="signingup-message">
                <p>Thank you for joining Ronati’s eCommerce Manager Beta.</p>
            </div>
            <div class="welcome-heading">
                <h3>Welcome!</h3>
            </div>
            <div class="thankyou-desc">
                <p>We’ve designed a tool to help you save previous time listing and updating inventory across marketplaces, including your own site.</p>
                <p>All you need to do is upload your inventory, add marketplaces, and we’ll take care of the rest!</p>
            </div>
            <div class="thankyou-desc2">
                <p>That’s right!</p>
                <p>You no longer have to manage multiple sales sites.</p>
            </div>
            <div class="btn-welcome-first">
                <p>First things first:</p>
            </div>
            <div class="thankyou-button">
                <a href="<?= $this->getUrl('/'); ?>marketplace/account/businessprofile/"
                   class="btn btn_small-h btn_gold thankyou"><?= __('Set up your profile') ?></a>
            </div>
        </div>
    </div>
</section>
</html>
<script type="text/javascript">
    require([
        "jquery"
    ], function ($) {
        jQuery('.breadcrumb__container').hide();
    });
</script>
















