@import "_custom_variables";
@keyframes a {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes passing-through {
    0% {
        opacity: 0;
        -ms-transform: translateY(40px);
        transform: translateY(40px);
    }
    30%,70% {
        opacity: 1;
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -ms-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}
@keyframes slide-in {
    0% {
        opacity: 0;
        -ms-transform: translateY(40px);
        transform: translateY(40px);
    }
    30% {
        opacity: 1;
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes pulse {
    0% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
    10% {
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes fooicon-spin-r {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: inherit;
    vertical-align: baseline;
    height: 100%;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    outline: none;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background: white;
    font-family: @base-font, Arial, sans-serif;
    color: @color-black;
    font-weight: 300;
    overflow-x: hidden;
    top:0 !important;
    .fc {
        font-size: 1em;
    }
}
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: inherit;
    vertical-align: baseline;
    .add-item {
        li.channel-list__item {
            span.select-box {
                width: 47%;
                float: left !important;
                position: relative;
            }
        }
    }
    .js-switch.switch-on {
        .col-lg-5.col-md-4.col-sm-12.add-product__hint-col {
            padding-top: 20px;
        }
    }
}
span,
applet,
object,
iframe{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: inherit;
    vertical-align: baseline;
}
iframe{

    max-width: 100%;
    display: block;
}
h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    font-size: 1.375rem;
    font-weight: 500;
}
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    vertical-align: baseline;
    font-size: 1.25rem;
    font-weight: 800;
}
h3 {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    vertical-align: baseline;
    line-height: 1;
    font-size: 2rem;
}
h4 {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    vertical-align: baseline;
    font-weight: 500;
    font-size: 1.5rem;
}
h5 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    font-weight: 500;
}
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    vertical-align: baseline;
    font-size: .375rem;
}
p {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    quotes: none;
    &:before {
        content: none;
    }
    &:after {
        content: none;
    }
}
pre {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    transition: all .3s;
    outline: none;
    text-decoration: none !important;
    &:visited {
        color: inherit;
    }
}
abbr {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
acronym {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
address {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
big {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
cite {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
code {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
del {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
dfn {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
em {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    font-style: italic;
}
img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    height: auto;
    display: block;
}
ins {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
kbd {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
q {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    quotes: none;
    &:before {
        content: none;
    }
    &:after {
        content: none;
    }
}
s {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
samp {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
small {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
strike {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
strong {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    font-weight: bold;
}
sub {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
sup {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
tt {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
var {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
b {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    vertical-align: baseline;
    font-weight: 800;
}
u {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
i {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    font-style: italic;
}
center {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
dl {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
dt {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
dd {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
ol {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    list-style: none;
    >li {
        margin-top:0;
        margin-bottom:0;
    }
}
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    list-style: none;
    >li {
        margin-top:0;
        margin-bottom:0;
    }
}
li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    list-style: none;
    list-style-position: outside;
}
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
form {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    textarea.join-form__msg {
        background: @color-white;
        font-size: .875rem;
        height: 40px;
        margin: 0 12px;
        width: 100%;
        border: none;
        padding: 0 16px;
    }
}
label {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
legend {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
caption {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
article {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    display: block;
}
aside {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    display: block;
}
canvas {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
details {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    display: block;
}
embed {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
figure {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    display: block;
}
figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    display: block;
}
footer {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
}
header {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
}
hgroup {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    display: block;
}
menu {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    display: block;
}
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    display: block;
}
output {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
ruby {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    display: block;
}
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
time {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
mark {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
audio {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
textarea {
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-appearance: none;
    border-radius: 0;
    resize: none;
    overflow: auto;
    border: 0;
    outline: 0;
    cursor: pointer;
    &::-webkit-input-placeholder {
        color: @color-white_2 !important;
    }
    &:-moz-placeholder {
        color: @color-white_2 !important;
    }
    &::-moz-placeholder {
        color: @color-white_2 !important;
    }
}
input {
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    &::-ms-clear {
        display: none;
    }
    &::-webkit-contacts-auto-fill-button {
        display: none !important;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
    &::-webkit-credentials-auto-fill-button {
        display: none !important;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
    &::-webkit-input-placeholder {
        color: @color-white_2 !important;
    }
    &::-moz-placeholder {
        color: @color-white_2 !important;
    }
    &:-ms-input-placeholder {
        color: @color-white_2 !important;
    }
    &:-moz-placeholder {
        color: @color-white_2 !important;
    }
    &:not([type="submit"]) {
        &:focus {
            border-color: @color-yellow;
        }
    }
    &:-webkit-autofill {
        background-color: rgba(255, 255, 255, 1) !important;
    }
}
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    border-radius: 0;
    font-family: inherit;
    border: 0;
    outline: 0;
    cursor: pointer;
}
select {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    outline: none;
    border-radius: 0;
    font-family: inherit;
    background: url("@{baseDir}images/dropdown.png") center right 10px no-repeat;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-position: 40px right;
    padding: 0 15px 0 10px !important;
    -webkit-padding-end: 15px !important;
    -webkit-padding-start: 10px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
input[type="file"] {
    display: none;
}
.fileinput-button {
    input[type="file"] {
        display: block;
    }
}
input{
    &[type="text"],
    &[type="password"],
    &input[type="url"],
    &input[type="tel"],
    &[type="search"],
    &[type="number"],
    &[type="email"]{
        font-family: @base-font !important;
        color: @color-black;
    }
}
input[type=number] {
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    -moz-appearance: textfield;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    >tbody {
        >tr {
            >td {
                >span.footable-toggle {
                    margin-right: 8px;
                }
                >span.footable-toggle.last-column {
                    margin-left: 8px;
                    float: right;
                }
            }
        }
    }
}
* {
    box-sizing: inherit;
    &:before {
        box-sizing: border-box;
    }
    &:after {
        box-sizing: border-box;
    }
    &::before {
        box-sizing: inherit;
    }
    &::after {
        box-sizing: inherit;
    }
}
picture {
    height: auto;
    display: block;
}
input[type="submit"] {
    border: 0;
    outline: 0;
    cursor: pointer;
}
.clear {
    &:before {
        content: " ";
        display: table;
        clear: both;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}
