.marketplace-account-businessprofile{
    .add-new-location {
        border-top: 1px solid #b3b3b4;
        margin-top: 0;
        min-height: 540px;
        overflow: hidden;
        padding: 30px 0 0;
    }
    .profile-container {
        max-width: 1320px;
        padding: 0 15px; margin:auto;
    }

    a#add-more-address {
        font-family: inherit;
    }


    .company-info-form__group input#autocomplete {
        font-family: inherit !important;
    }

    .company-info-form__group .form-field__select {
        font-family: inherit !important;  font-weight: 300;color: #b3b3b4 !important;
    }

    .company-info-form__group select#country_pic {
        font-family: inherit !important;
    }


    .company-info-form__group input#administrative_area_level_1 {
        font-family: inherit !important;
    }

    .company-info-form__group input#locality {
        font-family: inherit !important;
    }

    .company-info-form__group input#postal_code{
        font-family: inherit !important;
    }


    // signup page
    .signup-index-index{
        span.attributes_span .tooltip {
            padding: 0 6px;
        }
        span.attributes_span span.qm-icon img {
            width: 100%;
        }
        span.attributes_span .tooltiptext ul li {
            list-style: inside;
        }
        span.attributes_span .tooltiptext {
            width: 400px;
            text-align: inherit;
            color: #686868;
        }
        span.tooltiptext ul li {
            margin: 0 !important;
            padding: 0;
        }

        .pass-info {position: relative;}
        .pass-position {width: 100%;
            margin-top: 4px;
            display: block;}
        .pass-info .tooltip { position: absolute;right: 0;}

        .pass-info .tooltip .tooltiptext  {width: 300px;
            color: #8d8d8d;
            text-align: center;
            padding: 8px 10px;
            position: absolute;
            z-index: 1;
            border: none;
            top: -20px;
            left: -60%;
            margin-left: 20px;
            opacity: 1;
            font-size: 12px;
            transition: opacity 0.3s;}

        body{
            margin: 0;
            padding: 0;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            line-height: 1.5;
        }
        #container {
            width: 535px;
            background: #ffffff;
            padding: 20px;
            margin: 90px auto;
            border-radius: 5px;
            height: 150px;
            border: 2px solid gray;
        }
        #header {
            text-align: center;
            background-color: #fff;
            border-radius: 5px;
            margin: -39px -20px 10px -20px;
        }
        h2{
            padding-top: 10px;
        }
        #content {
            margin-left: 57px;
            margin-top: 40px;
        }
        #register label{
            margin-right:5px;
        }
        #register input {
            padding: 5px 14px;
            border: 1px solid #d5d9da;
            box-shadow: 0 0 9px #0E34F5 inset;
            width: 272px;
            font-size: 1em;
            height: 25px;
        }
        #register .short{
            font-weight:bold;
            color:#FF0000;
            font-size:larger;
        }
        #register .weak{
            font-weight:bold;
            color:orange;
            font-size:larger;
        }
        #register .good{
            font-weight:bold;
            color:#2D98F3;
            font-size:larger;
        }
        #register .strong{
            font-weight:bold;
            color: limegreen;
            font-size:larger;
        }


    }

    .add-new-location .company-info-form__location {

        padding: 7px 0 0 !important;
    }

    ul.profile-nav .user__avatar {
        float: left;margin-left: 23px;margin-right: 10px;
    }
}
.marketplace-product-deletedproductlist,
.marketplace-product-soldproductlist,
.marketplace-product-deactivateproductlist,
.marketplace-product-draftproductlist,
.marketplace-product-onholdproductlist{

    .inventory-filter{
        width: 100%;
    }
    #on_hold {
        padding: 20px;
    }

    #on_hold_product_inventory {
        background: #2F2F2F;
    }

    .expiry-date input {
        padding: 4px;
        font-weight: 500;
        border: 1px solid #ccc;
        height: 36px;
        margin-bottom: 20px;
        width: 100%;
    }
    .hidden {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .remove_item_marketplace{
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        position: relative;
    }

    .mark_as_sold_product{
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        position: relative;
    }

    .add_item_marketplace{
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        position: relative;
    }

    .delete-product{
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        position: relative;
    }
    button.cross {
        position: absolute;
        right: -27px ;
        top: -30px ;
        &:before,
        &:after{
            border: 1px solid #fff;
        }
    }

}
.marketplace-product-activeproductlist{
    #on_hold {
        padding: 20px;
    }

    #on_hold_product_inventory {
        background: #2F2F2F;
    }

    .expiry-date input {
        padding: 4px;
        font-weight: 500;
        border: 1px solid #ccc;
        height: 36px;
        margin-bottom: 20px;
        width: 100%;
    }

    .add-item-popup ul.channel-list-popup li div label {
        display: block;
    }

    ul.channel-list-popup li div a {
        margin-left: 25px;
    }

    /* add css by sushil date 04/Dec/2018 */
    .more-option-block .more-option-main img {
        width: 9px;
        float: right;
        margin-left: 7px;
        top: 4px;
    }

    .marketplace_error,
    .radio_error,
    .price_error{
        font-size: .875rem;
        color: red;
    }

    .sale-lead-originate {
        margin: 0;
        padding: 15px 0;
    }

    .sale-lead-originate ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        clear: both;
        li {
            border: none;
            padding: 0;
            list-style-type: none;
            display: inline-block;
            float: left;
            margin-right: 5% !important;
            margin-bottom: 0 !important;
            width: auto !important;
            min-height: inherit !important;
            max-width: 100%;
            font-size: 14px;
            input {
                float: left;
                margin: 0;
                padding: 0;
                width: auto;
            }
            span {
                position: relative;
                top: 7px;
                left: 6px;
            }
        }
    }


    .marketplace-lead-originate {
        margin: 0;
        padding: 0;
    }

    .marketplace-lead-originate span.spanCounter {
        float: left;
    }

    .marketplace-lead-originate span img {
        height: 100%;
    }

    .sold-channel__connected.m-lead-originate {
        max-width: 100%;
    }

    .sold-channel__connected.m-lead-originate ul li {
        margin-right: 0;
    }
}
.marketplace-product-uncategorizedproductlist{
    .add-item-popup ul{
        &.channel-list-popup li div label {
            display: block;
        }
    }
    ul.channel-list-popup li div a {
        margin-left: 25px;
    }
    a.gold_marketplace-link {
        border-bottom: 1px solid #c9a77a;
        font-size: 14px;
        font-weight: 600;
        margin-top: 30px;
        position: relative;
    }
    .marketplace_error,
    .radio_error,
    .price_error{
        font-size: .875rem;
        color: red;
    }
    /* add css by sushil date 04/Dec/2018 */
    .more-option-block .more-option-main img {
        width: 9px;
        float: right;
        margin-left: 7px;
        top: 4px;
    }
    /* add css by sushil date 04/Dec/2018 */

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }


    .marketplace-lead-originate {
        margin: 0;
        padding: 0;
    }

    .marketplace-lead-originate span.spanCounter {
        float: left;
    }

    .sale-lead-originate ul {
        overflow: hidden;
        clear: both;
        li{
            input {
                float: left;
                margin: 0;
                padding: 0;
                width: auto;
            }
            span {
                position: relative;
                top: 7px;
                left: 6px;
                img {
                    height: 100%;
                }
            }
        }
    }

    .sold-channel__connected.m-lead-originate {
        max-width: 100%;
    }

    .sold-channel__connected.m-lead-originate ul li {
        margin-right: 0 !important;
    }
    .container.manager-list{
        .inventory__header-top{
            &.row{
                margin-bottom: 25px;
            }
        }
    }
}
.marketplace-product-productlist{
    .add-item-popup ul{
        &.channel-list-popup li div label {
            display: block;
        }
    }

    ul.channel-list-popup li div a {
        margin-left: 25px;
    }

    a.gold_marketplace-link {
        border-bottom: 1px solid #c9a77a;
        font-size: 14px;
        font-weight: 600;
        margin-top: 30px;
        position: relative;
    }

    .marketplace_error,
    .radio_error,
    .price_error{
        font-size: .875rem;
        color: red;
    }

    /* add css by sushil date 04/Dec/2018 */
    .more-option-block .more-option-main img {
        width: 9px;
        float: right;
        margin-left: 7px;
        top: 4px;
    }

    .sale-lead-originate {
        margin: 0;
        padding: 15px 0;

    }

    .marketplace-lead-originate {
        margin: 0;
        padding: 0;
    }

    .marketplace-lead-originate span.spanCounter {
        float: left;
    }

    .sale-lead-originate ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        clear: both;
        li {
            border: none;
            padding: 0;
            list-style-type: none;
            display: inline-block;
            float: left;
            margin-right: 5% !important;
            margin-bottom: 0 !important;
            width: auto !important;
            min-height: inherit !important;
            max-width: 100%;
            font-size: 14px;
        }
    }


    .sale-lead-originate ul li input {
        float: left;
        margin: 0;
        padding: 0;
        width: auto;
    }

    .marketplace-lead-originate span img {
        height: 100%;
    }

    .sold-channel__connected.m-lead-originate {
        max-width: 100%;
    }

    .sold-channel__connected.m-lead-originate ul li {
        margin-right: 0 !important;
    }

    /* add css by sushil date 04/Dec/2018 */
}
.marketplace-product-add{
    .form-details__shipping .multi {height: 100px !important;}
    .form-details__shipping textarea {
        border: 1px solid #e6e6e6 !important;
        box-sizing: border-box;
        cursor: inherit;
        font-family: "Avenir",Arial,sans-serif;
        font-size: 14px;
        height: 130px;
        max-width: 165px;
        overflow: auto;
        padding: 5px;
        width: 100%;

    }
    .product-pricing__field{
        max-width: 290px;
    }
    .form-field__currency-right{
        padding: 0;
        top: 8px
    }
    .form-field__textarea{
        height: 130px;
        cursor: inherit;
        width: 100%;
        max-width: 100%;
        padding: 5px;
    }
    .form-item__dropdown.multi{
        height: 100px!important;
        max-width: 204px;
    }

    ul.form_fields__item li {  position: relative; }
    li.textarea-box div.mage-error { position: absolute !important; top: 145px; margin-top: 0 !important; }

    ul.form_shipping__item li { position: relative; }
    li.select-multiple div.mage-error { position: absolute !important; top: 83px; }

    li.textarea-box textarea {
        height: 133px;
        margin-bottom: 10px;
    }
    .is-conditional_block {margin-left: 30px;}
    @media only screen and (min-width: 320px) and (max-width: 767px){

        li.select-multiple div.mage-error {
            top: inherit;
        }
    }
    .marketplace_div, .return_policy_marketplace_div, .item_details_marketplace_div, .internal_notes_marketplace_div, .dimension_marketplace_div {
        margin-left: 35px;
    }
}
.marketplace-product-edit {

    .form-field__error_sku {
        color: #e61010;
        font-size: smaller;
        font-family: initial;
    }

    .form-field__error_name {
        color: #e61010;
        font-size: smaller;
        font-family: initial;
    }

    .form-field__error_description {
        color: #e61010;
        font-size: smaller;
        font-family: initial;
    }

    .form-field__error_category {
        color: #e61010;
        font-size: smaller;
        font-family: initial;
    }

    .form-field__error_sub_category {
        color: #e61010;
        font-size: smaller;
        font-family: initial;
    }

    .form-field__error_type {
        color: #e61010;
        font-size: smaller;
        font-family: initial;
    }

    .form-field__error_price {
        color: #e61010;
        font-size: smaller;
        font-family: initial;
    }

    .form-field__error_qty {
        color: #e61010;
        font-size: smaller;
        font-family: initial;
    }

    .form-field__error_shipping {
        color: #e61010;
        font-size: smaller;
        font-family: initial;
    }

    .status_deleted {
        background-color: #181717;
    }

    .status_deactivated {
        background-color: #b5b5b5;
    }

    .status_active {
        background-color: #7fb842;
    }

    .status_draft {
        background-color: #f4c20d;
    }

    .status_sold {
        background-color: #f4c20d;
    }

    .status_onhold {
        background-color: #f4c20d;
    }

    .status_uncategorized {
        background-color: #ef595c;
    }

    .dealer-expenses__title {
        font-weight: 600;
        padding-bottom: 20px;
    }

    .marketplace_error {
        font-size: .875rem;
        color: red;
    }

    .price_error {
        font-size: .875rem;
        color: red;
    }

    .radio_error {
        font-size: .875rem;
        color: red;
    }

    .sale-lead-originate ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        clear: both;
    }

    .sale-lead-originate ul li {
        border: none;
        padding: 0;
        list-style-type: none;
        display: inline-block;
        float: left;
        margin-right: 5% !important;
        margin-bottom: 0 !important;
        width: auto !important;
        min-height: inherit !important;
        max-width: 100%;
        font-size: 14px;
        input {
            float: left;
            margin: 0;
            padding: 0;
            width: auto;
        }
        span {
            position: relative;
            top: 7px;
            left: 6px;
            img {
                height: 100%;
            }
        }
    }
    .marketplace-lead-originate {
        margin: 0;
        padding: 0;
    }

    .marketplace-lead-originate span.spanCounter {
        float: left;
    }

    .sale-lead-originate {
        margin: 0;
        padding: 15px 0;
    }

    .sold-channel__connected.m-lead-originate {
        max-width: 100%;
    }

    .sold-channel__connected.m-lead-originate ul li {
        margin-right: 0 !important;
    }

    .edit-container {
        max-width: 1320px;
        margin: auto;
    }

    .more-option-block .more-option-main img {
        width: 9px;
        float: right;
        margin-left: 7px;
        top: 4px;
    }

    ul#js-preview-list-preview {
        padding-top: 36px;
        text-align: center;
    }

    ul#js-preview-list-preview p {
        font-size: 30px;
        color: rgb(201, 167, 122);
    }

    ul#js-preview-list-preview div.almost-there {
        max-width: 0;
        margin: auto;
        float: none;
        position: relative;
        top: -27px;
    }

    .inventory__body {
        position: relative;
    }

    .loader-image {
        vertical-align: middle;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        position: fixed;
        top: 20%;
        left: 0;
        right: 0;
    }

    .svg-image {
        display: block;
        max-width: 360px;
        margin: auto;
        text-align: center;
    }

    .svg-text-block {
        display: block;
    }

    .svg-text-block h1 {
        font-size: 6rem;
        line-height: 8rem;
        color: #fff;
    }

    .svg-text-block p {
        font-size: 1rem;
        color: #fff;
    }

    .svg-image img {
        max-width: 300px;
        margin: auto;
        width: 20%;
    }

    #description-error {
        font-size: .875rem;
        color: red;
    }

    .import-new-style {
        position: absolute;
        top: 25px;
        right: 33px;
        background: #c9a77a;
        color: #fff;
        padding: 6px 12px;
        border-radius: 22px;
        font-size: .75rem;
    }


}
.marketplace-channel-setting{
    .loading-mask{
        display: none;
        &.is_showed{
            display: block;
        }
    }
    .default-shipping-setting .multi {
        height: 100px !important;
        background-position: top right;
    }

    .default-shipping-textbox textarea {
        border: 1px solid #e6e6e6 !important;
        box-sizing: border-box;
        height: 100px;
        max-width: 100%;
        overflow: auto;
        padding: 5px;
        resize: horizontal;
        width: 225px !important;
        font-family: "Avenir", Arial, sans-serif;
        font-size: 14px;
    }

    li.textarea-box textarea {
        height: 133px;
        margin-bottom: 10px;
    }

    .form-field__textarea {
        cursor: inherit;
        height: 130px;
        max-width: 165px;
        padding: 5px;
        width: 100%;
    }

    input.form-text__item {
        border: 1px solid #e6e6e6 !important;
        padding: 5px !important;
        font-size: 14px;
        outline: none;
        cursor: inherit;
        max-width: 165px;
        height: 30px;
        width: 100%;
    }

    select.form-item__dropdown {
        background-color: #fff;
        border: 1px solid #e6e6e6;
        color: #000;
        font-weight: lighter;
        height: 30px;
        margin-bottom: 0;
        max-width: 165px;
        padding: 5px;
        width: 100%;
    }

    li.select-multiple select.form-item__dropdown {
        overflow: scroll;
    }

    .form-item__dropdown.multi {
        height: 100px !important;
        max-width: 368px;
        position: relative;
    }

    .form-details__shipping .multi {
        height: 100px !important;
    }

    .add-marketplace__title {
        font-size: 18px;
        font-weight: 600;
        margin-top: 10px;
        position: relative;
        right: 10px;
    }

    .settings-channel__wrap #default-settings li {
        position: relative;
        display: flex;
        padding: 15px 0 0;
    }

    .settings-channel__wrap #default-settings li span {
        position: relative;
        top: 5px;
        max-width: 100%;
        width: 100%;
    }

    .item-checkbox-details {

        padding-top: 10px;
    }

    .is-conditional_block {
        margin-left: 30px;
    }

    p.form-text {
        padding: 0 10px;
        font-size: 14px;
        font-weight: 500;
        max-width: 100%;
        width: 100%;
    }

    #no-setting-message {
        color: #c6c6c6;
        font-weight: 500;
        margin-left: 20px;
    }

    @media (min-width: 320px) and (max-width: 1023px) {
        .settings-channel__wrap #default-settings li {
            display: block;
        }

        input.form-text__item {
            max-width: 100%;
        }

        select.form-item__dropdown {
            max-width: 100%;
        }
    }
}
.marketplace-channel-index{
    form#request-channel-form .form-field .tooltip {
        display: inline-block;
        left: 167px;
        position: absolute;
        top: 0;
    }
    form#request-channel-form .tooltiptext {
        background-color: #fff;
        border: 1px solid #000000;
        bottom: 0;
        color: #8d8d8d;
        font-size: 12px;
        height: 120px;
        left: 108px;
        margin-left: -90px;
        padding: 30px;
        position: absolute;
        top: 0;
        width: 330px;
        word-wrap: break-word;
    }
    @media only screen and (max-width: 880px) and (min-width: 320px) {
        ul.new-marketplace-channel li {
            max-width: 100% !important;
            display: block;
            width: 100%;
            margin-right: 0 !important;
        }

        ul.new-marketplace-channel li div {
            max-width: 100% !important;
            width: 64% !important;
        }

        .added-channel ul.connected-marketplace-channel li {
            max-width: 100% !important;
            display: inherit;
            min-width: inherit;
        }

        .new-channel ul.channel-list li div {
            width: 100%;
            max-width: 100% !important;
        }

        .added-channel ul.connected-marketplace-channel li div {
            max-width: 100% !important;
            width: 100% !important;
        }
    }
}
.marketplace-product-add{
    .dealer-expenses__title {
        font-weight: 600;
        padding-bottom: 20px;
    }

    #description-error {
        font-size: 14px;
        font-size: .875rem;
        color: red;
    }

    ul#js-preview-list-preview {

        padding-top: 86px;
        text-align: center;
    }

    ul#js-preview-list-preview p {
        font-size: 30px;
        position: relative;
        top: 31px;
        color: rgb(201, 167, 122);
    }

    ul#js-preview-list-preview div.almost-there {
        max-width: 160px;
        margin: auto;
        float: none;
        height: 0px;
        text-align: center;
    }
    .loader-image {
        vertical-align: middle;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        position: fixed;
        top: 20%;
        left: 0;
        right: 0;
    }

    .svg-image {
        display: block;
        max-width: 360px;
        margin: auto;
        text-align: center;
    }

    .svg-text-block {
        display: block;
    }

    .svg-text-block h1 {
        font-size: 6rem;
        line-height: 8rem;
        color: #fff;
    }

    .svg-text-block p {
        font-size: 1rem;
        color: #fff;
    }

    .svg-image img {
        max-width: 300px;
        margin: auto;
        width: 20%;
    }

    body#tinymce p {
        height: 100px;
    }

    table#description_tbl {
        width: 100% !important;
    }

    span.attributes_span .tooltip span.tooltiptext ul li {
        width: 100% !important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .marketplace-product-edit{
        .import-new-style {
            top: inherit;
        }

        ul#shipping-dimensions-fields_values {
            width: 100%;
        }

        li#attribute_id_li_ronati_product_shipping_height {
            width: 100%;
        }

        ul#shipping-dimensions-fields_values li:nth-child(2) {
            width: 100%;
            margin: 0;
        }

        li#attribute_id_li_ronati_product_shipping_depth {
            width: 100%;
        }

        ul#package-weight-fields_values {
            width: 100%;
        }

        li#attribute_id_li_ronati_product_package_weight {
            width: 100%;
        }
    }

}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .marketplace-product-edit{
        .inventory-filter__right, .buyer-requests-filter__right {
            width: auto;
        }

        .edit-page .inventory-filter__right .inventory-filter__btn {
            margin-right: 0;
            margin-bottom: 10px;
            flex: inherit;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            position: relative;
        }

        .btn.btn_white.inventory-filter__btn.js-check-dropdown.editstatus {
            text-align: center;
        }

        .edit-page .inventory-filter__right .inventory-filter__btn-group {
            display: block;
        }

        section.inventory {
            padding: 0 10px;
        }
    }

}
