
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .lib-font-face(
        @family-name:@base-font,
        @font-path:'@{baseDir}fonts/Avenir/avenirLight/avenirLight',
        @font-weight:200,
        @font-style:normal
    );
    .lib-font-face(
        @family-name:@base-font,
        @font-path:'@{baseDir}fonts/Avenir/avenirBook/avenirLTStdBook',
        @font-weight:300,
        @font-style:normal
    );
    .lib-font-face(
        @family-name:@base-font,
        @font-path:'@{baseDir}fonts/Avenir/avenirMedium/avenirMedium',
        @font-weight:500,
        @font-style:normal
    );
    .lib-font-face(
        @family-name:@base-font,
        @font-path:'@{baseDir}fonts/Avenir/avenirHeavy/AvenirLTStd-Heavy',
        @font-weight:800,
        @font-style:normal
    );
    .lib-font-face(
        @family-name:@bold-font,
        @font-path:'@{baseDir}fonts/Butler/Butler_Regular',
        @font-weight:normal,
        @font-style:normal
    );
}
.lib-font-face(
    @family-name,
    @font-path,
    @font-format: false,
    @font-weight: normal,
    @font-style: normal,
    @font-display: auto
) when (@font-format = false) {
    @font-face {
        font-family: @family-name;
        src: url('@{font-path}.woff2') format('woff2'),
        url('@{font-path}.woff') format('woff');
        font-weight: @font-weight;
        font-style: @font-style;
        font-display: @font-display;
    }
}

