@import "_custom_variables";
//
//  Ronati theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//
//  Input-text
//  ---------------------------------------------

@form-element-input__focus__border: 1px solid @color-event;

//  Fonts
@font-family-name__base: @base-font;
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Font sizes
//  _____________________________________________
@font-size__title: 18px;
@font-size__big: 16px;
@font-size__base: 14px;
@font-size__small: 12px;
@font-size__action-dropdown-item: 11px;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;

//
//  Layout variables
//  _____________________________________________

//  Widths
@layout__max-width: 1300px;
@layout-indent__width: 20px;
@layout__width-xs-indent: 15px;
