<p>Sincerely,</p>
<p>~The RONATI team</p>
<p><a href='https://www.ronati.com'>www.ronati.com</a></p>
<br>
<p>Connect with us!</p>
<p><a href='https://www.facebook.com/Ronati-517960135258800/' target='_blank' rel="noopener noreferrer"><img
        src="{{trans '%baseUrl' baseUrl=$data.baseUrl}}pub/media/facebook.png"
        height='50' width='50' rel="noopener noreferrer" alt="facebook"></a>
    <a href='https://twitter.com/world_of_ronati' target='_blank' rel="noopener noreferrer"><img
        src="{{trans '%baseUrl' baseUrl=$data.baseUrl}}pub/media/twitter.png"
        height='50' width='50' rel="noopener noreferrer" alt="twitter"></a>
    <a href='https://www.instagram.com/world_of_ronati/' target='_blank' rel="noopener noreferrer"><img
        src="{{trans '%baseUrl' baseUrl=$data.baseUrl}}pub/media/instagram.png"
        height='50' width='50' rel="noopener noreferrer" alt="instagram"></a>
</p>
<p>Copyright © 2017 RONATI, Inc. 222 W. Merchandise Mart Plaza, Suite 1212. Chicago, IL 60654. All rights reserved.
</p>