<!doctype html>
<html lang="en" xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <!-- NAME: SOFT -->
    <!--[if gte mso 15]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>*|MC:SUBJECT|*</title>
    {{template config_path="design/email/email_styles"}}
</head>
<body style="margin: 0">
<!--*|IF:MC_PREVIEW_TEXT|*-->
<!--*|END:IF|*-->

<table id='bodyTable' style="background:#edf1f3; background-color:#edf1f3; border: none; width: 100%;">
    <caption style="display: none">Email template</caption>
    <tr>
        <th id="sch-id" style="display: none">Email template</th>
    </tr>
    <tr>
        <td id='bodyCell'>
            <!-- BEGIN TEMPLATE // -->
            <table style="border: none; width: 100%;">
                <caption style="display: none">Email template</caption>
                <tr>
                    <th id="sch-id1" style="display: none">Email template</th>
                </tr>
                <tr>
                    <td>
                        <!-- BEGIN PREHEADER // -->
                        <table id='templatePreheader' style="border: none; width: 100%;">
                            <caption style="display: none">Email template</caption>
                            <tr>
                                <th id="sch-id2" style="display: none">Email template</th>
                            </tr>
                            <tr>
                                <td>
                                    <table class='templateContainer' style="border: none; width: 600px;">
                                        <caption style="display: none">Email template</caption>
                                        <tr>
                                            <th id="sch-id3" style="display: none">Email template</th>
                                        </tr>
                                        <tr>
                                            <td class='preheaderContainer' style='padding-top:9px; padding-bottom:9px;'>
                                                <table class='mcnTextBlock' style='min-width:100%; border: none; width: 100%;'>
                                                    <caption style="display: none">Email template</caption>
                                                    <tr>
                                                        <th id="sch-id4" style="display: none">Email template</th>
                                                    </tr>
                                                    <tbody class='mcnTextBlockOuter'>
                                                    <tr>
                                                        <td class='mcnTextBlockInner' style='padding-top:9px;'>
                                                            <!--[if mso]>
                                                            <table style='border: none; width: 100%;text-align: left'>
                                                                <caption style="display: none">Email template</caption>
                                                                <tr>
                                                                    <th id="sch-id5" style="display: none">Email template</th>
                                                                </tr>
                                                                <tr>
                                                            <![endif]-->

                                                            <!--[if mso]>
                                                            <td style='width:600px;'>
                                                            <![endif]-->
                                                            <table
                                                                style='max-width:100%; min-width:100%;border: none; width: 100%;text-align: left'
                                                                class='mcnTextContentContainer'>
                                                                <caption style="display: none">Email template</caption>
                                                                <tr>
                                                                    <th id="sch-id5" style="display: none">Email template</th>
                                                                </tr>
                                                                <tbody>
                                                                <tr>

                                                                    <td class='mcnTextContent'
                                                                        style='padding: 0px 18px 9px; text-align: center;'>

                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <!--[if mso]>
                                                            </td>
                                                            <![endif]-->

                                                            <!--[if mso]>
                                                            </tr>
                                                            </table>
                                                            <![endif]-->
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- // END PREHEADER -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- BEGIN HEADER // -->
                        <table id='templateHeader' style="border: none; width: 100%;">
                            <caption style="display: none">Email template</caption>
                            <tr>
                                <th id="sch-id8" style="display: none">Email template</th>
                            </tr>
                            <tr>
                                <td>
                                    <table class='templateContainer' style="border: none; width: 600px;">
                                        <caption style="display: none">Email template</caption>
                                        <tr>
                                            <th id="sch-id9" style="display: none">Email template</th>
                                        </tr>
                                        <tr>
                                            <td class='headerContainer' style='padding-top:9px; padding-bottom:9px;'>
                                                <table class='mcnImageBlock' style='min-width:100%;border: none; width: 100%;'>
                                                    <caption style="display: none">Email template</caption>
                                                    <tr>
                                                        <th id="sch-id11" style="display: none">Email template</th>
                                                    </tr>
                                                    <tbody class='mcnImageBlockOuter'>
                                                    <tr>
                                                        <td style='padding:0px' class='mcnImageBlockInner'>
                                                            <table class='mcnImageContentContainer'
                                                                   style='min-width:100%;border: none; width: 100%;text-align: left'>
                                                                <caption style="display: none">Email template</caption>
                                                                <tr>
                                                                    <th id="sch-id10" style="display: none">Email template</th>
                                                                </tr>
                                                                <tbody>
                                                                <tr>
                                                                    <td class='mcnImageContent'
                                                                        style='padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0;'>


                                                                        <img alt='Ronati'
                                                                             src="{{trans '%baseUrl' baseUrl=$data.baseUrl}}pub/media/ronat-logo.png"
                                                                             style='max-width:100px; padding-bottom: 0; display: inline !important; vertical-align: bottom;'
                                                                             class='mcnImage'>


                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!-- // END HEADER -->
                    </td>
                </tr>
                <tr>
                    <td>
