<table border="1" style="margin-bottom: 30px; width: 650px">
    <caption style="display: none">Email template</caption>
    <tr>
        <th id="sc-id5" style="display: none">Email template</th>
    </tr>
    <tbody style="font-size: 14px;">
    <tr>
        <td colspan="2"
            style="font-size: 16px;padding: 7px 9px 9px 9px;border: 1px solid #a7a7a7;font-weight: 600;background-color: #c5c5c5;text-align: center;">Seller Details
        </td>
    </tr>
    <tr style="text-align: center">
        <td style="padding: 10px 0 10px 0;">Name</td>
        <td style="padding: 10px 0 10px 0;">{{trans "%seller_name" seller_name=$data.seller_name}}</td>
    </tr>
    <tr style="text-align: center">
        <td style="padding: 10px 0 10px 0;">Email Address</td>
        <td style="padding: 10px 0 10px 0;">{{trans "%seller_email" seller_email=$data.seller_email}}</td>
    </tr>
    </tbody>
</table>