<tr>
    <td colspan="2"
        style="font-size: 16px;padding: 7px 9px 9px 9px;border: 1px solid #a7a7a7;font-weight: 600;background-color: #c5c5c5;text-align: center;">Item Details
    </td>
</tr>
<tr style="text-align: left">
    <td style="padding: 10px 0 10px 0;">Category</td>
    <td style="padding: 10px 0 10px 0;">{{trans "%category" category=$data.category}}</td>
</tr>
<tr style="text-align: left">
    <td style="padding: 10px 0 10px 0;">Sub-Category</td>
    <td style="padding: 10px 0 10px 0;">{{trans "%subcategory" subcategory=$data.subcategory}}</td>
</tr>
<tr style="text-align: left">
    <td style="padding: 10px 0 10px 0;">Type</td>
    <td style="padding: 10px 0 10px 0;">{{trans "%type" type=$data.type}}</td>
</tr>
<tr style="text-align: left">
    <td style="padding: 10px 0 10px 0;">Product SKU</td>
    <td style="padding: 10px 0 10px 0;">{{trans "%sku" sku=$data.sku}}</td>
</tr>
<tr style="text-align: left">
    <td style="padding: 10px 0 10px 0;">Product Name</td>
    <td style="padding: 10px 0 10px 0;">{{trans "%product_name" product_name=$data.product_name}}</td>
</tr>
<tr style="text-align: left">
    <td style="padding: 10px 0 10px 0;">Description</td>
    <td style="padding: 10px 0 10px 0;">{{trans "%description" description=$data.description}}</td>
</tr>
<tr style="text-align: left">
    <td style="padding: 10px 0 10px 0;">Tags</td>
    <td style="padding: 10px 0 10px 0;">{{trans "%tags" tags=$data.tags}}</td>
</tr>
<tr style="text-align: left">
    <td style="padding: 10px 0 10px 0;">Price</td>
    <td style="padding: 10px 0 10px 0;">{{trans "%price" price=$data.price}}</td>
</tr>
<tr style="text-align: left">
    <td style="padding: 10px 0 10px 0;">Quantity</td>
    <td style="padding: 10px 0 10px 0;">{{trans "%quantity" quantity=$data.quantity}}</td>
</tr>
