<tr>
    <td class="address-details">
        <h3>{{trans "Billing Info"}}</h3>
        <p>{{var myvar4|raw}}</p>
    </td>
    {{depend isNotVirtual}}
    <td class="address-details">
        <h3>{{trans "Shipping Info"}}</h3>
        <p>{{var myvar6|raw}}</p>
    </td>
    {{/depend}}
</tr>
<tr>
    <td class="method-info">
        <h3>{{trans "Payment Method"}}</h3>
        {{var myvar5|raw}}
    </td>
    {{depend isNotVirtual}}
    <td class="method-info">
        <h3>{{trans "Shipping Method"}}</h3>
        <p>{{var myvar9|raw}}</p>
    </td>
    {{/depend}}
</tr>
</table>
<table class="email-items">
    <caption style="display: none">Email template</caption>
    <tr>
        <th id="sc-id" style="display: none">Email template</th>
    </tr>
    <thead>
    <tr>
        <th id="1" class="item-info">{{trans "Item"}}</th>
        <th id="2" class="item-info">{{trans "Sku"}}</th>
        <th id="3" class="item-qty">{{trans "Qty"}}</th>
        <th id="4" class="item-price">{{trans "Subtotal"}}</th>
    </tr>
    </thead>
    <tbody>
    {{var myvar8|raw}}
    </tbody>
</table>
</td>
</tr>
</table>
