<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Please Confirm Your RONATI Account" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
<div style="width:600px; margin:auto;">
<p style="text-align: center;"><img src="http://18.205.249.33/pub/media/ronat-logo.png"></p>
<p style="font-family: 'Open Sans', sans-serif;">Hello {{trans "%name," name=$customer.name}}</p>
<p style="font-family: 'Open Sans', sans-serif;">Are you ready to unlock the global vault of antique & vintage gems? All you need to do is:</p>
<p style="font-family: 'Open Sans', sans-serif;"><a href="{{var this.getUrl($store,'customer/account/confirm/',[_query:[id:$customer.id,key:$customer.confirmation,back_url:http://18.205.249.33/],_nosid:1])}}" target="_blank" style="background:#c9a77a; color:#fff; text-decoration:none;padding:5px;">confirm your account</a></p>
<p>...and let the hunt begin.</p>
<p>Got any questions? Ask away at <a href='mailto:info@ronati.com'>info@ronati.com</a>, and we’ll be happy to help.</p>
<p style="font-family: 'Open Sans', sans-serif;">The RONATI team</p>
<br/>
<p>Let us help you find your joy!</p>
<p>~The RONATI team</p>
<p><a href='https://www.ronati.com'>www.ronati.com</a></p>
<br>
<p>Connect with us!</p>
<p><a href='https://www.facebook.com/Ronati-517960135258800/' target='_blank' rel="noopener noreferrer"><img src="http://18.205.249.33/pub/media/facebook.png" height='50' width='50'></a>  <a href='https://twitter.com/world_of_ronati' target='_blank' rel="noopener noreferrer"><img src="http://18.205.249.33/pub/media/twitter.png" height='50' width='50'></a>  <a href='https://www.instagram.com/world_of_ronati/' target='_blank' rel="noopener noreferrer"><img src="http://18.205.249.33/pub/media/instagram.png" height='50' width='50'></a></p>
</div>
