<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Welcome to the World of RONATI!" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
<div style="width:600px; margin:auto;">
<p style="text-align: center;"><img src="http://18.205.249.33/pub/media/ronat-logo.png"></p>
<p class="greeting">Dear {{trans "%name," name=$customer.name}}</p>
<p>{{trans "Oh, the treasures you’ll find..."}}</p>
<p><a href='http://18.205.249.33/' target='_blank' style="background:#c9a77a; color:#fff; text-decoration:none;padding:5px;">Buy directly</a> from highly-reputable sellers around the world:</p>
<p>{{trans "Sparkling antiques, one-of-a-kind gems and vintage pieces from independent dealers."}}</p>
<p>{{trans "Get inspired!"}}</p>
<p><a href='#'>View Inspiration Galleries</a></p>
<p>See trending pieces & curated sales with World of Ronati. <a href='#' style="background:#c9a77a; color:#fff; text-decoration:none;padding:5px;">Subscribe</a></p>
<p>~The RONATI team</p>
<p><a href='https://www.ronati.com'>www.ronati.com</a></p>
<br>
<p>Connect with us!</p>
<p><a href='https://www.facebook.com/Ronati-517960135258800/' target='_blank' rel="noopener noreferrer"><img src="http://18.205.249.33/pub/media/facebook.png" height='50' width='50'></a>  <a href='https://twitter.com/world_of_ronati' target='_blank'><img src="http://18.205.249.33/pub/media/twitter.png" height='50' width='50' rel="noopener noreferrer"></a>  <a href='https://www.instagram.com/world_of_ronati/' target='_blank'><img src="http://18.205.249.33/pub/media/instagram.png" height='50' width='50' rel="noopener noreferrer"></a></p>
<p>Copyright © 2017 RONATI, Inc. 222 W. Merchandise Mart Plaza, Suite 1212. Chicago, IL 60654. All rights reserved.
</p>
</div>

