<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your Ronati password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL"
} @-->

<html>
  <table style="font-family:arial; font-size:12px; width:500px; margin:auto;padding: 60px 0 60px 0;">
  <tbody> 
  <tr>
    <td>
  <h3 style="font-weight: 600; font-size: 35px; text-transform: uppercase;margin-bottom: 30px;">Ronati</h3>
    </td>
  </tr>
  <tr><td style="font-weight: 600;font-size: 24px;padding-bottom: 20px;">Reset Password Request</td></tr>
  <tr>
  <td > <p style="margin: 0 0 10px 0;">Hello {{trans "%name," name=$customer.name}}</p> </td>
  </tr>
  
  <tr>
  <td>
  <p style="padding-bottom: 15px;">If you did not request to change your password or you've changed your mind, ignore this email and no changes will be made. Otherwise, click the button below to update your password.</p>
  </td>
  </tr>
  <tr>
  <td >
  <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank" style="background: #c9a77a;color: #fff;text-decoration: none;display: inline-block;margin: 0px 0px 15px 0px;font-weight: 600;padding: 7px 20px 7px 20px;">Reset Password</a>
  </td>
  </tr>
  <tr>
  <td >
    <p style="font-weight: 500;">Questions? <a href='mailto:info@ronati.com' style="color: #c9a77a;text-decoration: none;">Contact Ronati Support.</a></p>
  </td>
  </tr>
  <tr>
  <td >
    <p style="padding: 20px 0 0 0;" >Connect with us!</p>
<p>
    <a href='https://www.facebook.com/Ronati-517960135258800/' target='_blank' rel="noopener noreferrer">
        <img src="{{trans '%baseUrl' baseUrl=$data.baseUrl}}pub/media/facebook.png"
             height='28'
             width='28'
             alt="facebook"></a>
    <a href='https://twitter.com/world_of_ronati' target='_blank'
       rel="noopener noreferrer">
        <img src="{{trans '%baseUrl' baseUrl=$data.baseUrl}}pub/media/twitter.png"
             height='28'
             width='28'
             alt="twitter"></a>
    <a href='https://www.instagram.com/world_of_ronati/'
       target='_blank' rel="noopener noreferrer">
        <img src="{{trans '%baseUrl' baseUrl=$data.baseUrl}}pub/media/instagram.png"
             height='28'
             width='28'
             alt="instagram"></a>
</p></td>
</tr>
  </tbody>
  </table>
  </html>
