<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl(store, 'customer/account/')":"Customer Account URL",
"var customer.name":"Customer Name"
} @-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
<div style="width:600px; margin:auto;">
<p style="text-align: center;"><img src="{{config path='web/unsecure/base_url'}}pub/media/ronat-logo.png"></p>
<!--<p style="text-align: center;"><img src="{{config path='web/unsecure/base_url'}}pub/media/mailer-bg.jpg"></p>-->
<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>{{trans "There was recently a request to change the password for your account."}}</p>
<p>{{trans "If you requested this change, set a new password here:"}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store,'customer/account/createPassword',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank" style="background:#c9a77a; color:#fff; text-decoration:none;padding:5px;">{{trans "Set a New Password"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p>{{trans "If you did not make this request, you can ignore this email and your password will remain the same."}}</p>
<p style="font-family: 'Open Sans', sans-serif;">Thanks,</p>
<p style="font-family: 'Open Sans', sans-serif;">RONATI</p>
</div>
