<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name password has been changed" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name"
} @-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
<div style="width:600px; margin:auto;">
<p style="text-align: center;"><img src="{{config path='web/unsecure/base_url'}}pub/media/ronat-logo.png"></p>
<!--<p style="text-align: center;"><img src="{{config path='web/unsecure/base_url'}}pub/media/mailer-bg.jpg"></p>-->
<p class="greeting">{{trans "Hello,"}}</p>
<br>

<p>
    {{trans "We have received a request to change the following information associated with your account at %store_name: password." store_name=$store.getFrontendName()}}
    {{trans 'If you have not authorized this action, please contact us immediately at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
</p>
<p style="font-family: 'Open Sans', sans-serif;">Thanks,</p>
<p style="font-family: 'Open Sans', sans-serif;">RONATI</p>
</div>
