<?php
$helper = $this->helper('RonatiModules\Auth\Helper\Data');
$profile_picture = $helper->getCustomerAvatarPath($block->getCustomer()->getId());

  $time = strtotime("-18 year", time());
  $default_birth_date = date("m/d/Y", $time);

?>
<main>
        <section class="profile profile_info">
          <div class="container"><a href="#" class="link-back link-back_indent">Back to help home</a>
                <div class="breadcrumb">
                  <ul class="breadcrumb__list">
                    <li class="breadcrumb__item">
                        <a href="<?= $this->getUrl("customer/account/index"); ?>"
                           title="Dashboard"
                           class="breadcrumb__link">Dashboard</a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="<?= $this->getUrl("customer/address/edit"); ?>"
                           title="Billing address"
                           class="breadcrumb__link">Profile</a>
                    </li>
                  </ul>
                </div>
            <div class="row profile__user">
              <!--Buyer Sidebar-->
                <?= $this->getLayout()->getBlock('buyer_sidebar')->toHtml(); ?>
              <div class="profile__body">
                <form id="user-info" class="user-info-form" method="post" enctype="multipart/form-data" data-hasrequired="* Required Fields" autocomplete="off" novalidate="novalidate"  >
                      <?= $block->getBlockHtml('formkey')?>
                <div class="user-profile">
                  <p class="user-profile__title">Your Profile</p>
                  <p>We never share your private email unless you want it shared. </p>
                    <a href="<?= $this->getUrl("buyer-seller-help-guide"); ?>"
                       class="link link_gold-line user-info-form__hint-link">Learn more</a>
                  <!--<p class="user-profile__sub-title">The more we know, the better we can bring pieces that will thrill you!</p>-->
                  <div class="user-photo">
                    <p class="user-photo__title">Profile Photo</p>
                    <div class="user-photo__wrap row">
                      <div class="user-photo__avatar-col">
                        <div class="user-photo__preview-wrap">
                          <img src="<?= $profile_picture; ?>"
                               class="user-photo__preview js-preview-avatar js-img-center"
                               id="imageDemo"
                               alt="your avatar"
                               width="248px"
                               height="280px">
                        </div>
                      </div>
                      <div class="user-photo__descript">
                        <p class="user-photo__hint">Clear, front facing pictures are the best for your profile photo. Remember, this lets others have a feel for who they're talking to, so make yours is a friendly one.</p>
                          <label for="avatar" class="upload-avatar__label btn btn_gold btn_small-h">Upload picture</label>
                          <input name="avatar" id="avatar" type="file" class="upload-avatar__input js-input-avatar" onchange="readURL(this);">
                          <span id="file-size-error" class='mage-error'></span>
                          <span id="file-ext-error" class='mage-error'></span>
                         
                    </div>
                  </div>
                </div>
                  <div class="user-info">
                    <p class="user-info__title">Personal information</p>
                    <p class="user-info__sub-title">Your last name and email information will not be shared until you start negotiating a purchase.</p>
              
                    
                      <div class="row user-info-form__group">
                        <div class="form-field col-md-6">
                          <label for="profile-first-name" class="form-field__label">First Name</label>
                          <input type="text"
                                 id="firstname"
                                 name="firstname"
                                 value="<?= $block->escapeHtml($block->getCustomer()->getFirstname()) ?>"
                                 title="First Name"
                                 class="form-field__input user-info-form__name"
                                 data-validate="{required:true}">
                            <span class="form-field__error">Enter valid first name</span>
                        </div>
                        <div class="col-md-6">
                          <!--.user-info-form__hint-->
                        </div>
                        <div class="form-field col-md-6">
                          <label for="profile-last-name" class="form-field__label">Last Name</label>
                          <input type="text"
                                 id="lastname"
                                 name="lastname"
                                 class="form-field__input user-info-form__name"
                                 data-validate="{required:true}"
                                 aria-required="true"
                                 aria-invalid="true"
                                 aria-describedby="firstname-error"
                                 value="<?= $block->escapeHtml($block->getCustomer()->getLastname()) ?>">
                            <span class="form-field__error">Enter valid last name</span>
                        </div>
                        <div class="col-md-6">
                          <div class="user-info-form__hint">
                            <p>Your public profile only shows your first name and last name initial.</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-field form-field_air col-md-6">
                          <label for="gender" class="form-field__label">I am
                            <svg width="10px" height="13px" class="form-field__label-icon">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#locked"></use>
                            </svg>
                          </label>
                          <?php $selected_gender = $block->getCustomer()->getGender();?>
                          <select id="gender" name="gender" title="Gender" class="form-field__select js-select-menu user-info-form__gender">
                               <option value="">Gender</option>
                               <option value="1" <?php if($selected_gender==1) {?>selected<?php } ?>>Male</option>
                               <option value="2" <?php if($selected_gender==2) {?>selected<?php } ?>>Female</option>
                               <option value="3" <?php if($selected_gender==3) {?>selected<?php } ?>>Not Specified</option>
                           </select>
                        </div>
                        <div class="col-md-6">
                          <div class="user-info-form__hint">
                            <!-- <p>We use this data for analysis and never share it with other users.</p> -->
                          </div>
                        </div>
                        <div class="form-field form-field_air col-md-6">
                          <label for="birth" class="form-field__label">Birth Date
                            <svg width="10px" height="13px" class="form-field__label-icon">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#locked"></use>
                            </svg>
                          </label>
                          <?php 
                            $dob = $block->escapeHtml($block->getCustomer()->getDob());
                            $originalDOB = $block->escapeHtml($block->getCustomer()->getDob());
                            $newDate = date("m/d/Y", strtotime($originalDOB));
                            if($newDate=='01/01/1970') {
                              $birth_date = $default_birth_date;
                            } else {
                              $birth_date = $newDate;
                            }
                           ?>
                          <input type="text"
                                 class="form-field__input user-info-form__birth js-birth-mask"
                                 id="dob"
                                 name="dob"
                                 value="<?= $birth_date; ?>">
                        </div>
                        <div class="col-md-6">
                          <div class="user-info-form__hint">
                            <!-- <p>A day of celebration! We use this data for analysis and never share it with others.</p> -->
                          </div>
                        </div>
                        <div class="form-field form-field_air col-md-6">
                          <label for="email" class="form-field__label">E-mail address
                            <svg width="10px" height="13px" class="form-field__label-icon">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#locked"></use>
                            </svg>
                          </label>
                          <input type="email"
                                 class="form-field__input user-info-form__email"
                                 id="email"
                                 name="email"
                                 data-validate="{required:true, 'validate-email':true}"
                                 aria-required="true" aria-invalid="true"
                                 aria-describedby="firstname-error"
                                 value="<?= $block->escapeHtml($block->getCustomer()->getEmail()) ?>"
                                 readonly="readonly">
                          <span class="form-field__error">Enter valid email</span>
                        </div>
                        <div class="col-md-6">
                          <div class="user-info-form__hint">
                            <!-- <p>We never share your private email unless you want it shared. </p><a href="#" class="link link_gold-line user-info-form__hint-link">Learn more</a> -->
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="user-info-form__hint">
                            <!--<p>This is important for password recovery. It's also important for us to be able to reach you regarding a purchase if necessary. We won't ever share your mobile phone number. That's up to you!</p>-->
                          </div>
                        </div>
                        <input id="save-info" type="button" value="Save changes" class="user-info-form__submit btn btn_gold btn_medium-h">
                        <span id="message"><span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <script>
            require(["jquery", "mage/calendar"], function($){
                    $("#dob").calendar({
                        showsTime: false,
                        
                        dateFormat: "M/d/yy",
                        buttonImage: "http://35.153.70.107/pub/static/version1516008640/frontend/Mamsys/ronati/en_US/Magento_Theme/calendar.png",
                        yearRange: "-120y:c+nn",
                        buttonText: "Select Date", maxDate: "-1d", changeMonth: true, changeYear: true, showOn: "both"})
            });
            </script>

          
   <script type="text/javascript">
  require(['jquery','mage/mage'], function($) {
         jQuery('#save-info').click(function() {
          updateBuyerProcess();

       });

       // jQuery('#avatar').change(function(){
              jQuery('#avatar').bind('change', function() {    //this.files[0].size gets the size of your file.

                    var filesize=this.files[0].size;
                    var items = this.files[0];
                    var ext = items.name.substr(-4);
               

                      if(filesize> 5153032) {
                      jQuery('#file-size-error').html('Total Files size must not be more than 5 MB');
                      jQuery('#avatar').val('');
                      } else {
                      jQuery('#file-size-error').html(''); 
                      }

                    if(ext!='.jpg' && ext!='jpeg' && ext!='.png') 
                      {  
                    jQuery('#file-ext-error').html('Invalid File extention.You are allowed to upload jpeg or png files');
                    jQuery('#avatar').val('');
                      } else {
                    jQuery('#file-ext-error').html(''); 
                   
                      }

  });

  });

   // Buyer Sign up process script
   function updateBuyerProcess() {
     //Getting form data
     //alert('hello');
    var formData = new FormData(jQuery('#user-info')[0]);

        jQuery.ajax({
            url: "<?= $this->getUrl('auth/updateBuyer'); ?>",
            showLoader: false,
            data: formData,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
             }
         ).success(function(data) {
          location.reload();
          jQuery("#message").html("Saving..");
          //window.location="http://localhost/Magento-CE-2/customer/account/index/";
         }).error(function(data,textstatus,errorThrown) {
          alert(errorThrown);
         });
         }
 </script>

 <script>
        /*For Preview of image*/
         function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                  jQuery('#imageDemo').attr('src', e.target.result).width(248).height(248);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
