<?php

$helper = $this->helper('\Nostress\Koongo\Helper\Data');
$wishlistUrl = $helper->getStoreConfig(null, 'marketplace_settings/redirect/default_home_url') . '#waitlist';
?>
<main>
        <section class="login-form">
          <div class="login-form__container">
            <span id="login-message"></span>
            <p class="login-form__title"><?php /* @escapeNotVerified */ echo __('FORGOT YOUR PASSWORD?') ?></p>
              <p class="description-title"><span>No worries! Enter the email
                      address associated with your account so we can send you
                      a password reset link.</span></p>
            <form class="form ronati-modal form-horizontal"
                  action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/forgotpasswordpost') ?>"
                  method="post" id="form-validate" data-mage-init='{"validation":{}}' autocomplete="off">
              <div class="form-field">
                <label for="login-username" class="form-field__label"><?php /* @escapeNotVerified */ echo __('Email address') ?>:</label>
                <input type="email"
                       name="email"
                       alt="email"
                       id="email_address"
                       class="form-field__input"
                       value="<?= $block->escapeHtml($block->getEmailValue()) ?>"
                       data-validate="{required:true, 'validate-email':true}">
            </div>
              <input type="submit" value="<?php /* @escapeNotVerified */ echo __('Reset My Password') ?>"
                     class="login-form__submit action ronati-buttons primary">
              <p class="login-form__log-in"><?php /* @escapeNotVerified */ echo __('Don’t have an account?') ?>
                  <a href="<?= $wishlistUrl ?>"
                     class="link link_coral-line"
                     style="font-weight: bold;">
                      <strong><?php /* @escapeNotVerified */ echo __('Join the Waitlist') ?></strong>
                  </a>
              </p>
              <p class="login-form__log-in">
                  <a href="<?php /* @escapeNotVerified */ echo $block->getLoginUrl() ?>"
                     class="link link_coral-line"><?php /* @escapeNotVerified */ echo __('Go Back?') ?></a>
              </p>
            </form>
          </div>
        </section>
      </main>
