<?php

$login_redirect = $block->getBaseUrl()."/marketplace/product/productlist/";

$url_link = $this->getUrl();
$currentUrl =( substr($url_link, -1) == '/') ? rtrim($url_link, "/") : $url_link;
$helper = $this->helper('\Nostress\Koongo\Helper\Data');
$wishlistUrl = $helper->getStoreConfig(null, 'marketplace_settings/redirect/default_home_url') . '#waitlist';
?>

<main>
        <section class="login-form">
          <div class="login-form__container">
            <span id="login-message"></span>
            <p class="login-form__title"><?php /* @escapeNotVerified */ echo __('Log In to continue') ?></p>

            <form class="form form-login ronati-modal form-horizontal"
                  id="login-form"
                  data-mage-init='{"validation":{}}'
                  data-validate="{required:true, 'validate-input-one': true}"
                  autocomplate="off">
              
              <div class="form-field">
                <label for="login-username"
                       class="form-field__label">
                    <?php /* @escapeNotVerified */ echo __('Username or email address') ?>:
                </label>
                <input class="form-field__input"
                       name="login"
                       value="<?= $block->escapeHtml($block->getUsername()) ?>"
                    <?php if ($block->isAutocompleteDisabled()) :?>
                        autocomplete="off"<?php endif; ?>
                       id="email-login"
                       type="email"
                       class="input-text"
                       title="<?php /* @escapeNotVerified */ echo __('Email') ?>"
                       data-validate="{required:true, 'validate-email':true}"
                       aria-required="true">
              </div>
              <div class="form-field">
                <label for="login-password" class="form-field__label"><?php /* @escapeNotVerified */ echo __('Password') ?>:</label>
                <input name="password"
                       type="password"
                    <?php if ($block->isAutocompleteDisabled()) :?>
                        autocomplete="off"<?php endif; ?>
                       class="form-field__input"
                       id="pass"
                       title="<?php /* @escapeNotVerified */ echo __('Password') ?>"
                       data-validate="{required:true}">
              </div>
              <input type="button" value="LOG IN"
                     class="login-form__submit action ronati-buttons primary"
                     id="formSubmit">
              <p class="login-form__log-in"><?php /* @escapeNotVerified */ echo __('Don’t have an account') ?>?
                  <a href="<?= $wishlistUrl ?>"
                     class="link link_coral-line"
                     style="font-weight: bold;"><?php /* @escapeNotVerified */ echo __('Sign up') ?>.</a>
              </p>
              <p class="login-form__log-in">
                  <a href="<?= $this->getUrl('customer/account/forgotpassword');?>"
                     class="link link_coral-line"><?php /* @escapeNotVerified */ echo __('Forgot password') ?>?</a>
              </p>
            </form>
          </div>
        </section>
      </main>
<!--don`t remove this block, it`s health_check page load flag -->
<div id="pageIsLoaded"></div>
<!--end health_check page load flag-->
<script type="text/x-magento-init">
    {
        "*": {
            "Webkul_Marketplace/js/pages/login": {
                "authLink" : "<?= $this->getUrl('auth/index'); ?>",
                "successLink" : "<?= $this->getUrl('customer/account'); ?>",
                "redirectLink" : "<?= $login_redirect ?>"
            }
        }
    }
	</script>
