﻿<main>
        <section class="login-form">
          <div class="login-form__container">
            <span id="login-message"></span>
            <p class="login-form__title">Enter your new password</p>
            <form class="form password ronati-modal form-horizontal"
                  action="
                  <?= $block->getUrl('*/*/resetpasswordpost', ['_query' => ['id' => $block->getCustomerId(),
                                    'token' => $block->getResetPasswordLinkToken()]]); ?>"
      method="post" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?>
                  id="form-validate" data-mage-init='{"validation":{}}' autocomplete="off">
        
              <div class="form-field">
                <label for="password" class="form-field__label">New Password:</label>
                  <?php
                    $minCharactersCount = $block->getRequiredCharacterClassesNumber();
                  ?>
                <input type="password" class="form-field__input" name="password" id="password"
                       data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?= $block->escapeHtml($minCharactersCount) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off">       
            </div>
            <div class="form-field">
                <label for="password-confirmation" class="form-field__label">Confirm Password:</label>
                <input type="password" class="form-field__input" name="password_confirmation"
                       id="password-confirmation" data-validate="{required:true,equalTo:'#password'}"
                       autocomplete="off">
            </div>
              <input type="submit" value="<?php /* @escapeNotVerified */ echo __('Set a New Password') ?>"
                     class="login-form__submit action ronati-buttons primary">
              <p class="login-form__log-in">
                  Don’t have an account?
                  <a href="<?= $this->getUrl('signup');?>" class="link link_gold-line">Sign Up</a>
              </p>
                <p class="login-form__log-in">
                    <a href="<?= $this->getUrl('signup');?>" class="link link_gold-line">Back Home</a>
                </p>
            </form>
          </div>
        </section>
      </main>
