<script type="text/x-magento-template" id="form-builder-template">

        <li>
            <% if(data.frontend_input == "boolean" ){ %>
            <input type="checkbox"
                   name="<%- data.input_name %>"
                   id="<%- data.input_name %>"
                   data-id="<%- data.attr_code %>"
                   data-value="<%- data.parent_attribute_values %>"
                   data-parrent="<%- data.parent_attribute_code %>"
                   data-event="<%- data.field_behavior %>"
                   class="default-checkbox__input element"
            <% if(data.is_required == 1){ %>
            data-validate="{required:true}"
            <% } %>
            <% if(data.values == 1){ %>
            checked="checked" value="1"
            <% } else { %>
            value="0"
            <% } %>
            >
            <% } %>

            <label
            <% if(data.frontend_input == "textarea"){ %>
            class="default-textarea__label"
            <% } %>
            <% if(data.frontend_input == "text"){ %>
            class="default-text__label"
            <% } %>
            <% if(data.frontend_input == "multiselect"){ %>
            class="default-multiselect__label"
            <% } %>
            <% if(data.frontend_input == "select"){ %>
            class="default-select__label"
            <% } %>
            <% if(data.frontend_input == "checkbox" || data.frontend_input == "boolean"){ %>
            class="default-checkbox__label js-check-checkbox"
            data-label="<%- data.attr_code %>"
            for="<%- data.input_name %>"
            <% } %>

            >

            <% if(data.frontend_input == "textarea"){ %>
            <textarea class="form-field__textarea element"
                      name="<%- data.input_name %>"
                      data-id="<%- data.attr_code %>"
                      data-parrent="<%- data.parent_attribute_code %>"
                      data-value="<%- data.parent_attribute_values %>"
                      data-event="<%- data.field_behavior %>"
            <% if(data.is_required == 1){ %>
            data-validate="{required:true}"
            <% } %>
            ><%- data.values %>
            </textarea>
            <% } %>

            <% if(data.frontend_input == "text" ){ %>
            <input class="form-text__item element"
                   type="<%- data.frontend_input %>"
                   value="<%- data.values %>"
                   name="<%- data.input_name %>"
                   data-id="<%- data.attr_code %>"
                   data-parrent="<%- data.parent_attribute_code %>"
                   data-value="<%- data.parent_attribute_values %>"
                   data-event="<%- data.field_behavior %>"
            <% if(data.is_required == 1){ %>
            data-validate="{required:true}"
            <% } %>
            >
            <% } %>

            <% if(data.frontend_input == "price" ){ %>
            <input class="form-text__item element"
                   type="<%- data.frontend_input %>"
                   value="<%- data.values %>"
                   name="<%- data.input_name %>"
                   data-id="<%- data.attr_code %>"
                   data-parrent="<%- data.parent_attribute_code %>"
                   data-value="<%- data.parent_attribute_values %>"
                   data-event="<%- data.field_behavior %>"
            <% if(data.is_required == 1){ %>
            data-validate="{required:true}"
            <% } %>
            >
            <% } %>

            <% if(data.frontend_input == "multiselect" ){ %>
            <select class="form-item__dropdown multi element"
                    name="<%- data.input_name %>[]"
                    data-id="<%- data.attr_code %>"
                    data-parrent="<%- data.parent_attribute_code %>"
                    data-value="<%- data.parent_attribute_values %>"
                    data-event="<%- data.field_behavior %>"
                    multiple
            <% if(data.is_required == 1){ %>
            data-validate="{required:true}"
            <% } %>
            >
            <option disabled>Select options</option>
            <% _.each(data.options, function(item) { %>
            <option value="<%- item.value %>"
            <% if(_.contains(data.values, item.value)) { %>
            selected
            <% } %> > <%- item.label %> </option>
            <% }); %>
            </select>
            <% } %>

            <% if(data.frontend_input == "select" ){ %>
            <select class="form-item__dropdown select element"
                    name="<%- data.input_name %>"
                    data-id="<%- data.attr_code %>"
                    data-parrent="<%- data.parent_attribute_code %>"
                    data-value="<%- data.parent_attribute_values %>"
                    {{if data.parent_attribute_code}}
                        data-event="<%- data.field_behavior %>"
                    {{else}}
                        data-event="show"
                    {{/if}}
            <% if(data.is_required == 1){ %>
            data-validate="{required:true}"
            <% } %>
            >
            <option disabled selected>Select options</option>
            <% _.each(data.options, function(item) { %>
            <% if(item.value == data.values){ %>
            <option value="<%- item.value %>" selected> <%- item.label %> </option>
            <% } else { %>
            <option value="<%- item.value %>"> <%- item.label %> </option>
            <% } %>
            <% }); %>
            </select>
            <% } %>

            <span><%- data.frontend_label %></span>
            </label>
        </li>

</script>

