<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<div class="widget block block-product-link-inline">
    <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes() ?>>
        <span><?= $block->escapeHtml($block->getLabel()) ?></span>
    </a>
</div>
