<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var  $block \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer */ ?>
<?php $item = $block->getItem() ?>
<?php $order = $block->getItem()->getOrderItem()->getOrder() ?>
<tr id="order-item-row-<?php /* @escapeNotVerified */ echo $item->getId() ?>">
    <td class="col name" data-th="<?= $block->escapeHtml(__('Product Name')); ?>">
        <strong class="product name product-item-name"><?= $block->escapeHtml($item->getName()) ?></strong>
        <?php if ($options = $block->getItemOptions()): ?>
        <dl class="item-options">
        <?php foreach ($options as $option) : ?>
            <dt><?= $block->escapeHtml($option['label']) ?></dt>
            <?php if (!$block->getPrintStatus()): ?>
                <?php $formatedOptionValue = $block->getFormatedOptionValue($option) ?>
                <dd<?php if (isset($formatedOptionValue['full_view'])): ?> class="tooltip wrapper"<?php endif; ?>>
                    <?php /* @escapeNotVerified */ echo $formatedOptionValue['value'] ?>
                    <?php if (isset($formatedOptionValue['full_view'])): ?>
                    <div class="tooltip content">
                        <dl class="item options">
                            <dt><?= $block->escapeHtml($option['label']) ?></dt>
                            <dd><?php /* @escapeNotVerified */ echo $formatedOptionValue['full_view'] ?></dd>
                        </dl>
                    </div>
                    <?php endif; ?>
                </dd>
            <?php else: ?>
                <dd>
                <?php if (isset($option['print_value'])) : ?>
                    <?= $block->escapeHtml($option['print_value']) ?>
                <?php else: ?>
                    <?= $block->escapeHtml($option['value']) ?>
                <?php endif; ?>
                </dd>
            <?php endif; ?>
        <?php endforeach; ?>
        </dl>
        <?php endif; ?>

        <?php /* downloadable */ ?>
        <?php if ($links = $block->getLinks()): ?>
            <dl class="item options">
                <dt><?php /* @escapeNotVerified */ echo $block->getLinksTitle() ?></dt>
                <?php foreach ($links->getPurchasedItems() as $link): ?>
                    <dd><?= $block->escapeHtml($link->getLinkTitle()); ?></dd>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php /* EOF downloadable */ ?>

        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?= $addInfoBlock->setItem($item->getOrderItem())->toHtml(); ?>
        <?php endif; ?>
        <?= $block->escapeHtml($item->getDescription()) ?>
    </td>
    <td class="col sku"
        data-th="<?= $block->escapeHtml(__('SKU')); ?>">
        <?php /* @escapeNotVerified */ echo $block->prepareSku($block->getSku()) ?>
    </td>
    <td class="col price" data-th="<?= $block->escapeHtml(__('Price')); ?>">
        <?= $block->getItemPriceHtml(); ?>
    </td>
    <td class="col qty"
        data-th="<?= $block->escapeHtml(__('Qty')); ?>">
        <?php /* @escapeNotVerified */ echo $item->getQty()*1 ?>
    </td>
    <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')); ?>">
        <?= $block->getItemRowTotalHtml(); ?>
    </td>
    <td class="col discount"
        data-th="<?= $block->escapeHtml(__('Discount Amount')); ?>">
        <?php /* @escapeNotVerified */ echo $order->formatPrice(-$item->getDiscountAmount()) ?>
    </td>
    <td class="col total" data-th="<?= $block->escapeHtml(__('Row Total')); ?>">
        <?= $block->getItemRowTotalAfterDiscountHtml(); ?>
    </td>
</tr>
