<?php
    // Logged user session 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $custSession = $objectManager->get('Magento\Customer\Model\Session');
    ?>
<main>
    <section class="profile profile_info">
        <div class="container">
            <a href="#" class="link-back link-back_indent">Back to help home</a>
            <div class="breadcrumb">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="<?php
                        echo $this->getUrl("customer/account/index");
                        ?>" title="Dashboard" class="breadcrumb__link">Dashboard</a></li>
                    <li class="breadcrumb__item"><a href="<?php
                        echo $this->getUrl("customer/address/edit");
                        ?>" title="Billing address" class="breadcrumb__link">Profile</a></li>
                </ul>
            </div>
            <div class="row profile__user">
                <div class="shipping-address">
                    <p class="shipping-address-title"><?php /* @escapeNotVerified */ echo __('Address Book') ?></p>
                    <div class="block-content">
                        <?php if ($_pAddsses = $block->getDefaultBilling()) { ?>
                        <div class="box-billing-address">
                            <strong class="box-title">
                            <span><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></span>
                            </strong>
                            <div class="box-content">
                                <address>
                                    <?= $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                                </address>
                            </div>
                            <div class="box-actions">
                                <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getAddressEditUrl($_pAddsses) ?>">
                                <span><?php /* @escapeNotVerified */ echo __('Change Billing Address') ?></span>
                                </a>
                            </div>
                        </div>
                        <?php } else {?>
                        <div class="box-billing-address">
                            <strong class="box-title">
                            <span><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></span>
                            </strong>
                            <div class="box-content">
                                <address>
                                    You have not set a default billing address.                
                                </address>
                            </div>
                        </div>
                        <?php } ?>
                        <?php if ($_pAddsses = $block->getDefaultShipping()){ ?>  
                        <div class="box-shipping-address">
                            <strong class="box-title">
                            <span><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></span>
                            </strong>
                            <div class="box-content">
                                <address>
                                    <?= $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                                </address>
                            </div>
                            <div class="box-actions">
                                <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getAddressEditUrl($_pAddsses) ?>" data-ui-id="default-shipping-edit-link"><span>Edit Shipping Address</span></a>
                            </div>
                        </div>
                        <?php } else {?>
                        <div class="box-shipping-address">
                            <strong class="box-title">
                            <span><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></span>
                            </strong>
                            <div class="box-content">
                                <address>
                                    <?php /* @escapeNotVerified */ echo __('You have no default shipping address in your address book.') ?> 
                                </address>
                            </div>
                        </div>
                        <?php } ?>

                        <div class="additional-info">
                            <p class="additional-info-title">
                                <?php /* @escapeNotVerified */ echo __('Additional Address Entries') ?>
                            </p>
                            <div class="block-content">
                            <?php if ($_pAddsses = $block->getAdditionalAddresses()): ?>
                                <ol class="items addresses">
                                    <?php foreach ($_pAddsses as $_address): ?>
                                        <li class="item">
                                            <address>
                                                <?= $block->getAddressHtml($_address) ?><br />
                                            </address>
                                            <div class="box-actions">
                                                <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/address/edit', ['id' => $_address->getId()]) ?>"><span><?php /* @escapeNotVerified */ echo __('Edit Address') ?></span></a>
                            <a class="action delete"
                               href="javascript:void()"
                               role="delete-address"
                               data-address="<?php /* @escapeNotVerified */ echo $_address->getId() ?>"
                               id="delete-address" onClick="deleteAddress(<?= $_address->getId(); ?>)">
                                <span><?php /* @escapeNotVerified */ echo __('Delete Address') ?></span>
                            </a>
                                            </div>
                                            <span id="delete-message-<?= $_address->getId();?>"></span>
                                        </li>
                                    <?php endforeach; ?>
                                </ol>
                            <?php else: ?>
                                <p class="empty"><?php /* @escapeNotVerified */ echo __('You have no other address entries in your address book.') ?></p>
                            <?php endif ?>
                        </div>
                            <div class="add-new-address-btn">
                                <div class="primary">
                                    <button type="button" role="add-address" title="Add New Address" class="btn btn_small-h btn_gold" id="add-new"><span>Add New Address</span></button>
                                </div>
                            </div>
                       
                    </div>



                </div>
            </div>
        </div>
    </section>
</main>
<script>
    require(["jquery", "mage/calendar"], function($){
            $("#dob").calendar({
                showsTime: false,
                dateFormat: "M/d/yy",
                buttonImage: "<?=$this->getBaseUrl();?>pub/static/version1516008640/frontend/Mamsys/ronati/en_US/Magento_Theme/calendar.png",
                yearRange: "-120y:c+nn",
                buttonText: "Select Date", maxDate: "-1d", changeMonth: true, changeYear: true, showOn: "both"});

            jQuery('#add-new').click(function(){
                location.href = "<?= $block->getUrl('customer/address/new'); ?>";
            });
    });

    function deleteAddress(address) {
           jQuery('#delete-message-'+address).html("<p style='color:navy;'>Deleting address...</p>"); 
           jQuery.ajax({
               url: "<?= $this->getUrl('auth/addressDelete'); ?>",
               showLoader: false,
               data: {
                   'address_id': address
               },
               type: 'POST'
           }).success(function(data) {
               var json = jQuery.parseJSON(data);
               if (json.data.flag == 'true') {
                    jQuery('#delete-message-'+address).html("<p style='color:green;'>Address deleted successfully.</p>");
                    location.href = "<?= $block->getUrl('customer/address/');?>";
               }
           }).error(function(data) {
                
           });
    }
</script>