<main>
        <section class="profile profile_billing">
          <div class="container"><a href="#" class="link-back link-back_indent">Back to help home</a>
                <div class="breadcrumb">
                  <ul class="breadcrumb__list">
                    <li class="breadcrumb__item">
                        <a href="<?= $this->getUrl("customer/account/index"); ?>"
                           title="Dashboard" class="breadcrumb__link">Dashboard</a>
                    </li>
                    <li class="breadcrumb__item"><a href="#" title="Billing and Shipping address" class="breadcrumb__link">Billing and Shipping address</a></li>
                  </ul>
                </div><!-- <?php //echo $this->getUrl("customer/address/index"); ?> -->
            <div class="row profile__billing">
              <!--Buyer Sidebar-->
                <?= $this->getLayout()->getBlock('buyer_sidebar')->toHtml(); ?>

              <div class="profile__body">
                <article class="billing">
                  <p class="billing__title">Billing and Shipping Address</p>
                  <p class="billing__sub-title">Here's the billing information we have for you. If it has changed, simply edit it below.</p>
                  <form id="form-validate" class="billing-form" action="<?php /* @escapeNotVerified */ echo $block->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                    <?= $block->getBlockHtml('formkey')?>
                    <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>">
                    <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>">
                    <div class="form-field">
                      <label for="first-name" class="form-field__label">First Name</label>
                      <input id="firstname"
                             name="firstname"
                             type="text"
                             data-valid="text"
                             class="form-field__input"
                             value="<?= $block->getCustomer()->getFirstname();?>">
                        <span class="form-field__error">Enter valid first name</span>
                    </div>
                    <div class="form-field">
                      <label for="last-name" class="form-field__label">Last Name</label>
                      <input id="lastname"
                             name="lastname"
                             type="text"
                             data-valid="text"
                             class="form-field__input"
                             value="<?= $block->getCustomer()->getLastname();?>">
                        <span class="form-field__error">Enter valid last name</span>
                    </div>
                    <div class="form-field js-phone-wrap">
                      <label for="phone" class="form-field__label">Phone Number:</label>
                      <input id="phone"
                             name="telephone"
                             type="text"
                             data-valid="phone"
                             class="form-field__input js-phone-mask"
                             value="<?= $block->escapeHtml($block->getAddress()->getTelephone()) ?>">
                        <span class="form-field__error">Enter valid phone</span>
                    </div>
                    <div class="form-field billing-form__country">
                      <label for="country" class="form-field__label">Country:</label>
                      <select name="country_id" id="country" data-validate="{required:true}" class="form-field__select js-select-menu">
                              <option value="">Country</option>
                              <?php  $blockObj= $block->getLayout()->createBlock('Webkul\Marketplace\Block\Account\Editprofile');
                                 $blockObj->getMyCountryMethod(); 
                                 
                                 foreach ($blockObj->getMyCountryMethod() as $country_value) {
                                  if($block->getAddress()->getCountryId()==$country_value[ 'value']) {
                                    $selected = "selected='selected'";
                                  } else {
                                    $selected = "";
                                  }
                                     ?>
                              <?php if($country_value[ 'value']!='') {?>
                              <option value="<?= $country_value[ 'value'];?>" <?= $selected;?>>
                                 <?= $country_value['label'];?>
                              </option>
                              <?php } } ?>
                            </select>
                    </div>
                    <div class="form-field billing-form__city">
                      <label for="city" class="form-field__label">State/Province:</label>
                      <select id="region_id"
                              name="region_id"
                              title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>"
                              class="form-field__select js-select-menu"
                          <?=(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>>
                    <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                </select>
<?php $regionClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region'); ?>
                <input type="text"
                       id="region"
                       name="region"
                       class="form-field__input"
                       value="<?= $block->escapeHtml($block->getRegion()) ?>"
                       title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>"
                       class="input-text <?= $regionClass ?>"
                    <?=(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>/>
                    </div>
                    <div class="form-field billing-form__city">
                      <label for="city" class="form-field__label">City:</label>
                      <input id="city"
                             name="city"
                             type="text"
                             data-valid="text"
                             class="form-field__input"
                             value="<?= $block->escapeHtml($block->getAddress()->getCity()) ?>">
                    </div>
                    <div class="form-field">
                      <label for="address" class="form-field__label">Address:</label>
                      <input type="text"
                             name="street[]"
                             value="<?= $block->escapeHtml($block->getStreetLine(1)) ?>"
                             title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>"
                             id="street_1"
                             class="form-field__input"  />
                    </div>
                    <div class="form-field billing-form__zip-code">
                      <label for="zip-code" class="form-field__label">Zip / Postal Code:</label>
                      <input id="zip-code"
                             name="postcode"
                             type="text"
                             data-valid="text"
                             class="form-field__input"
                             value="<?= $block->escapeHtml($block->getAddress()->getPostcode()) ?>">
                    </div>
                    <?php if ($block->isDefaultBilling()): ?>
            <div class="billing__sub-title"><?php /* @escapeNotVerified */ echo __("It's a default billing address.") ?></div>
                    <?php elseif ($block->canSetAsDefaultBilling()): ?>
                        <div class="field choice">
                            <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="input-visibility">
                            <label class="billing__sub-title" for="primary_billing"><span><?php /* @escapeNotVerified */ echo __('Use as my default billing address') ?></span></label>
                        </div>
                    <?php else: ?>
                        <input type="hidden" name="default_billing" value="1" />
                    <?php endif; ?>

                    <?php if ($block->isDefaultShipping()): ?>
                        <div class="billing__sub-title"><?php /* @escapeNotVerified */ echo __("It's a default shipping address.") ?></div>
                    <?php elseif ($block->canSetAsDefaultShipping()): ?>
                        <div class="field choice">
                            <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="input-visibility">
                            <label class="billing__sub-title" for="primary_shipping"><span><?php /* @escapeNotVerified */ echo __('Use as my default shipping address') ?></span></label>
                        </div>
                    <?php else: ?>
                        <input type="hidden" name="default_shipping" value="1">
                    <?php endif; ?>
                    <input type="submit" value="Save" class="btn btn_gold btn_medium-h billing-form__submit">
                  </form>
                </article>
              </div>
            </div>
          </div>
        </section>
      </main>

      <script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>


<style type="text/css">
.input-visibility  {   -webkit-appearance: checkbox;}
</style>
