body.fancybox-active {
    overflow: hidden;
}
body.fancybox-iosfix {
    position: fixed;
    left: 0;
    right: 0;
}
.fancybox-is-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}
.fancybox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99992;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}
.fancybox-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1e1e1e;
    opacity: 0;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}
.fancybox-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.fancybox-outer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.fancybox-stage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    direction: ltr;
    z-index: 99994;
    -webkit-transform: translateZ(0);
}
.fancybox-is-open {
    .fancybox-bg {
        opacity: .87;
        transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    }
}
.fancybox-caption-wrap {
    position: absolute;
    direction: ltr;
    z-index: 99997;
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s, visibility 0s linear .25s;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 2vw 0;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8));
    pointer-events: none;
}
.fancybox-infobar {
    position: absolute;
    direction: ltr;
    z-index: 99997;
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s, visibility 0s linear .25s;
    box-sizing: border-box;
    top: 0;
    left: 0;
    font-size: 13px;
    padding: 0 10px;
    height: 44px;
    min-width: 44px;
    line-height: 44px;
    color: @color-white_6;
    text-align: center;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    mix-blend-mode: exclusion;
}
.fancybox-toolbar {
    position: absolute;
    direction: ltr;
    z-index: 99997;
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s, visibility 0s linear .25s;
    box-sizing: border-box;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
.fancybox-show-caption {
    .fancybox-caption-wrap {
        opacity: 1;
        visibility: visible;
        transition: opacity .25s, visibility 0s;
    }
}
.fancybox-show-infobar {
    .fancybox-infobar {
        opacity: 1;
        visibility: visible;
        transition: opacity .25s, visibility 0s;
    }
}
.fancybox-show-toolbar {
    .fancybox-toolbar {
        opacity: 1;
        visibility: visible;
        transition: opacity .25s, visibility 0s;
    }
}
.fancybox-is-closing {
    .fancybox-stage {
        overflow: visible;
    }
}
.fancybox-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    outline: none;
    white-space: normal;
    box-sizing: border-box;
    text-align: center;
    z-index: 99994;
    -webkit-overflow-scrolling: touch;
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-property: transform, opacity;
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
    >* {
        display: inline-block;
        position: relative;
        padding: 24px;
        margin: 44px 0;
        border-width: 0;
        vertical-align: middle;
        text-align: left;
        background-color: @color-white;
        overflow: auto;
        box-sizing: border-box;
    }
    >base {
        display: none;
    }
    >link {
        display: none;
    }
    >meta {
        display: none;
    }
    >script {
        display: none;
    }
    >style {
        display: none;
    }
    >title {
        display: none;
    }
    .fancybox-image-wrap {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        border: 0;
        z-index: 99995;
        background: transparent;
        cursor: default;
        overflow: visible;
        -ms-transform-origin: top left;
        transform-origin: top left;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition-property: transform, opacity;
    }
    >.fancybox-loading {
        border: 6px solid rgba(99, 99, 99, 0.4);
        border-top: 6px solid rgba(255, 255, 255, 0.6);
        border-radius: 100%;
        height: 50px;
        width: 50px;
        animation: a .8s infinite linear;
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -30px;
        margin-left: -30px;
        z-index: 99999;
    }
}
.fancybox-is-sliding {
    .fancybox-slide {
        display: block;
    }
}
.fancybox-slide--current {
    display: block;
}
.fancybox-slide--next {
    display: block;
    z-index: 99995;
}
.fancybox-slide--previous {
    display: block;
}
.fancybox-slide--image {
    overflow: visible;
    &:before {
        display: none;
    }
    .fancybox-close-small {
        top: 0;
        right: -40px;
        &:after {
            font-size: 35px;
            color: #aaa;
        }
        &:hover {
            &:after {
                color: @color-white;
                background: transparent;
            }
        }
    }
}
.fancybox-slide--video {
    .fancybox-content {
        background: #000;
    }
    iframe {
        background: #000;
    }
}
.fancybox-slide--map {
    .fancybox-content {
        background: #e5e3df;
    }
    iframe {
        background: #e5e3df;
    }
}
.fancybox-can-zoomOut {
    .fancybox-image-wrap {
        cursor: zoom-out;
    }
}
.fancybox-can-zoomIn {
    .fancybox-image-wrap {
        cursor: zoom-in;
    }
}
.fancybox-can-drag {
    .fancybox-image-wrap {
        cursor: -webkit-grab;
        cursor: grab;
    }
}
.fancybox-is-dragging {
    .fancybox-image-wrap {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}
.fancybox-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: none;
    max-height: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fancybox-spaceball {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: none;
    max-height: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}
.fancybox-slide--iframe {
    .fancybox-content {
        padding: 0;
        width: 80%;
        height:80%;
        max-width: ~'calc(100% - 100px)';
        max-height: ~'calc(100% - 88px)';
        overflow: visible;
        background: @color-white;
    }
    .fancybox-close-small {
        top: 0;
        right: -40px;
        &:after {
            font-size: 35px;
            color: #aaa;
        }
        &:hover {
            &:after {
                color: @color-white;
                background: transparent;
            }
        }
    }
}
.fancybox-iframe {
    display: block;
    padding: 0;
    border: 0;
    height: 100%;
    margin: 0;
    width: 100%;
    background: @color-white;
}
.fancybox-error {
    margin: 0;
    width: 100%;
    background: @color-white;
    padding: 40px;
    max-width: 380px;
    cursor: default;
    p {
        margin: 0;
        padding: 0;
        color: #444;
        font-size: 16px;
        line-height: 20px;
    }
}
.fancybox-button {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 10px;
    border: 0;
    border-radius: 0;
    background: rgba(30, 30, 30, 0.6);
    transition: color .3s ease;
    cursor: pointer;
    outline: none;
    color: @color-white_6;
    &:link {
        color: @color-white_6;
    }
    &:visited {
        color: @color-white_6;
    }
    &:focus {
        color: @color-white;
    }
    &:hover {
        color: @color-white;
    }
    svg {
        display: block;
        position: relative;
        overflow: visible;
        shape-rendering: geometricPrecision;
        path {
            fill: currentColor;
            stroke: currentColor;
            stroke-linejoin: round;
            stroke-width: 3;
        }
    }
}
.fancybox-button[disabled] {
    color: @color-white_6;
    cursor: default;
    opacity: .6;
}
.fancybox-button--share {
    svg {
        path {
            stroke-width: 1;
        }
    }
}
.fancybox-button--pause {
    svg {
        path {
            &:nth-child(1) {
                display: none;
            }
        }
    }
}
.fancybox-button--play {
    svg {
        path {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
.fancybox-button--zoom {
    svg {
        path {
            fill: transparent;
        }
    }
}
.fancybox-show-nav {
    .fancybox-navigation {
        display: block;
    }
}
.fancybox-navigation {
    button {
        position: absolute;
        top: 50%;
        margin: -50px 0 0;
        z-index: 99997;
        background: transparent;
        width: 60px;
        height: 100px;
        padding: 17px;
        &:before {
            content: "";
            position: absolute;
            top: 30px;
            right: 10px;
            width: 40px;
            height: 40px;
            background: rgba(30, 30, 30, 0.6);
        }
    }
    .fancybox-button--arrow_left {
        left: 0;
    }
    .fancybox-button--arrow_right {
        right: 0;
    }
}
.fancybox-close-small {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    z-index: 10;
    cursor: pointer;
    &:after {
        content: "×";
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        font: 22px/30px Arial, Helvetica Neue, Helvetica, sans-serif;
        color: @color-light-grey-6;
        font-weight: 300;
        text-align: center;
        border-radius: 50%;
        border-width: 0;
        background-color: transparent;
        transition: background-color .25s;
        box-sizing: border-box;
        z-index: 2;
    }
    &:focus {
        outline: none;
        &:after {
            outline: 1px dotted @color-light-grey-6;
        }
    }
    &:hover {
        &:after {
            color: #555;
            background: #eee;
        }
    }
}
.fancybox-is-scaling {
    .fancybox-close-small {
        display: none;
    }
}
.fancybox-is-zoomable.fancybox-can-drag {
    .fancybox-close-small {
        display: none;
    }
}
.fancybox-caption {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    font-size: 14px;
    color: @color-white;
    line-height: 20px;
    -webkit-text-size-adjust: none;
    a {
        pointer-events: all;
        position: relative;
        color: @color-white;
        text-decoration: underline;
    }
    button {
        pointer-events: all;
        position: relative;
    }
    select {
        pointer-events: all;
        position: relative;
    }
}
.fancybox-animated {
    transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}
.fancybox-fx-slide.fancybox-slide--previous {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}
.fancybox-fx-slide.fancybox-slide--next {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
}
.fancybox-fx-slide.fancybox-slide--current {
    transform: translateZ(0);
    opacity: 1;
}
.fancybox-fx-fade.fancybox-slide--next {
    opacity: 0;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.fancybox-fx-fade.fancybox-slide--previous {
    opacity: 0;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.fancybox-fx-fade.fancybox-slide--current {
    opacity: 1;
}
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0;
}
.fancybox-fx-zoom-in-out.fancybox-slide--next {
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 0;
}
.fancybox-fx-zoom-in-out.fancybox-slide--current {
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}
.fancybox-fx-rotate.fancybox-slide--previous {
    -ms-transform: rotate(-1turn);
    transform: rotate(-1turn);
    opacity: 0;
}
.fancybox-fx-rotate.fancybox-slide--next {
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
    opacity: 0;
}
.fancybox-fx-rotate.fancybox-slide--current {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}
.fancybox-fx-circular.fancybox-slide--previous {
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
    opacity: 0;
}
.fancybox-fx-circular.fancybox-slide--next {
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
    opacity: 0;
}
.fancybox-fx-circular.fancybox-slide--current {
    transform: scaleX(1) translateZ(0);
    opacity: 1;
}
.fancybox-fx-tube.fancybox-slide--previous {
    transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}
.fancybox-fx-tube.fancybox-slide--next {
    transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}
.fancybox-fx-tube.fancybox-slide--current {
    transform: translateZ(0) scale(1);
}
.fancybox-share {
    padding: 30px;
    border-radius: 3px;
    background: #f4f4f4;
    max-width: 90%;
    text-align: center;
    h1 {
        color: #222;
        margin: 0 0 20px;
        font-size: 35px;
        font-weight: 700;
    }
    p {
        margin: 0;
        padding: 0;
    }
}
p.fancybox-share__links {
    margin-right: -10px;
}
.fancybox-share__button {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px 10px 0;
    padding: 0 15px;
    min-width: 130px;
    border: 0;
    border-radius: 3px;
    background: @color-white;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: @color-white;
    transition: all .2s;
    &:hover {
        text-decoration: none;
    }
    svg {
        position: relative;
        top: -1px;
        width: 25px;
        height: 25px;
        margin-right: 7px;
        vertical-align: middle;
        path {
            fill: @color-white;
        }
    }
}
.fancybox-share__button--fb {
    background: #3b5998;
    &:hover {
        background: #344e86;
    }
}
.fancybox-share__button--pt {
    background: #bd081d;
    &:hover {
        background: #aa0719;
    }
}
.fancybox-share__button--tw {
    background: #1da1f2;
    &:hover {
        background: #0d95e8;
    }
}
.fancybox-share__input {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px 15px;
    background: transparent;
    color: #5d5b5b;
    font-size: 14px;
    outline: none;
    border: 0;
    border-bottom: 2px solid #d7d7d7;
}
.fancybox-thumbs {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 212px;
    margin: 0;
    padding: 2px 2px 4px;
    background: @color-white;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    box-sizing: border-box;
    z-index: 99995;
    >ul {
        list-style: none;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 0;
        white-space: nowrap;
        >li {
            float: left;
            overflow: hidden;
            padding: 0;
            margin: 2px;
            width: 100px;
            height: 75px;
            max-width: ~'calc(50% - 4px)';
            max-height: ~'calc(100% - 8px)';
            position: relative;
            cursor: pointer;
            outline: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            box-sizing: border-box;
            >img {
                position: absolute;
                top: 0;
                left: 0;
                max-width: none;
                max-height: none;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: 4px solid #4ea7f9;
                z-index: 99991;
                opacity: 0;
                transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }
        >li.fancybox-thumbs-active {
            &:before {
                opacity: 1;
            }
        }
    }
}
.fancybox-thumbs-x {
    overflow-y: hidden;
    overflow-x: auto;
    >ul {
        overflow: hidden;
    }
}
.fancybox-show-thumbs {
    .fancybox-thumbs {
        display: block;
    }
    .fancybox-inner {
        right: 212px;
    }
}
.fancybox-thumbs-y {
    >ul {
        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-track {
            background: @color-white;
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
            background: #2a2a2a;
            border-radius: 10px;
        }
    }
}
li.fancybox-thumbs-loading {
    background: rgba(0, 0, 0, 0.1);
}
