.fs-wrap {
    display: inline-block;
    cursor: pointer;
    line-height: 1.7;
    width: 100%; position: relative;width: 320px;
}

.fs-label-wrap {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: default;
}

.fs-label-wrap,
.fs-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fs-label-wrap .fs-label {
    padding: 6px 22px 6px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size:14px;
}

.fs-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
}

.fs-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 200px;
    margin-top: 30px;
    z-index: 1000; 
    left: 180px;
    top: 30px;
}


.fs-dropdown {
    box-shadow: 0px 0px 10px #ccc;
}

.fs-dropdown:before  {
  position:absolute;
  top:-10px; left:28px;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index:2;
}
.fs-dropdown:after {
  /* This is the shadow triangle */
  position:absolute;
  top:-14px; left:26px;
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(0,0,0, 0.08);
  z-index:1;
}


.fs-dropdown .fs-options {
    /*max-height: 200px;*/
    overflow: auto;
}

.fs-search input {
    border: none !important;
    box-shadow: none !important;
    outline: none;
    padding: 4px 0;
    width: 100%;
}

.fs-option,
.fs-search,
.fs-optgroup-label {
    padding: 6px 8px;
    cursor: default;
}

.fs-option:last-child {
    border-bottom: none;
}

.fs-search {
    padding: 0 4px;
}

.fs-option {
    cursor: pointer;
}

.fs-option.disabled {
    opacity: 0.4;
    cursor: default;
}

.fs-option.hl {
    background-color: #f5f5f5;
}

.fs-wrap.multiple .fs-option {
    position: relative;
    padding-left: 30px;font-size: 14px;
}

.fs-wrap.multiple .fs-checkbox {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
}

.fs-wrap.multiple .fs-option .fs-checkbox i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #aeaeae;
    border-radius: 2px;
    background-color: #fff;
}

.fs-wrap.multiple .fs-option.selected .fs-checkbox i {
    background-color: rgb(255, 255, 255);
    border-color: 1px solid #aeaeae;;
    background-image: url('../img/multi-check.png');
    background-repeat: no-repeat;
    background-position: center;
}

.fs-optgroup-label {
    font-weight: bold;
    text-align: center;
}

.hidden {
    display: none;
}




span.select-box .fs-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 200px;
    margin-top: 30px;
    z-index: 1000;
    left: 130px;
    top: 30px;
    max-width: 211px !important;
}



.shipping-method-checkbox {
    float: left;
    max-width: 75px;
    width: 100% ;
}

span.select-box div.fs-wrap {

    width: 66%;
}
form.connect-channel-form .fs-dropdown {margin-top: 16px;}
div#connect-popup .fs-wrap.multiple.fs-default {

    outline: none;
    border: none;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
.fs-dropdown{
    left: 160px !important;
}
}
@media only screen and (min-width: 767px) and (max-width: 1024px){
    .fs-dropdown {
    left: 200px;
    top: 20px;
    }
}