.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    .slick-track {
        transform: translate3d(0, 0, 0);
    }
    .slick-list {
        transform: translate3d(0, 0, 0);
    }
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.slick-loading {
    .slick-track {
        visibility: hidden;
    }
    .slick-slide {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
    display: none;
    img {
        display: block;
    }
}
[dir="rtl"] {
    .slick-slide {
        float: right;
    }
}
.slick-slide.slick-loading {
    img {
        display: none;
    }
}
.slick-slide.dragging {
    img {
        pointer-events: none;
    }
}
.slick-initialized {
    .slick-slide {
        display: block;
    }
}
