
.tag-editor {
    background: @color-white;
    border: 1px solid #eeeeee;
    cursor: text;
    font: normal 14px sans-serif;
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 5px 0 0;
    height: 40px;
    display: flex;
    align-items: center;

    input {
        border: none;
        background: none;
        box-shadow: none;
        color: #444444;
        cursor: text;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: none;
        padding: 0;
        vertical-align: inherit;

        &:focus {
            border: none;
            box-shadow: none;
        }
    }

    li {
        display: block;
        float: left;
        margin: 10px 0;
        overflow: hidden;
    }

    div {
        float: left;
        padding: 0 4px;
    }

    .placeholder {
        color: @color-black;
        padding: 0 8px;
    }

    .tag-editor-spacer {
        background: none;
        color: transparent;
        overflow: hidden;
        padding: 0;
        width: 8px;
    }


    &::-ms-clear {
        display: none;
    }

    .tag-editor-tag {
        background: @color-event;
        border-radius: 2px 0 0 2px;
        color: @color-white;
        cursor: pointer;
        overflow: hidden;
        padding: 2px 0 2px 9px;
        height: 20px;
        white-space: nowrap;
        line-height: 18px;
    }

    .tag-editor-delete {
        background: @color-event;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
        padding: 1px 4px 1px 3px;
        border: 1px solid @color-event;

        i {
            display: inline-block;
            line-height: 18px;

            &:before {
                color: @color-white;
                content: "×";
                font-size: 16px;
                font-style: normal;
            }
        }

        &:hover {
            background: @color-white;

            i {
                &:before {
                    color: @color-event;
                    background: @color-white;

                }
            }
        }
    }

    .tag-editor-tag.active + .tag-editor-delete {
        cursor: text;
        visibility: hidden;

        i {
            cursor: text;
            visibility: hidden;
        }
    }

    .tag-editor-tag.active {
        background: none !important;
    }
}

.tag-editor-hidden-src {
    left: -99999px;
    position: absolute !important;
}

.ui-autocomplete {
    cursor: default;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0;
}

.ui-front {
    z-index: 9999;
}

.ui-menu {
    display: block;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 1px;

    .ui-menu-item {
        a {
            display: block;
            line-height: 1.4;
            min-height: 20px;
            padding: 2px .4em;
            text-decoration: none;
        }
    }
}

.ui-widget-content {
    background: @color-white;
    border: 1px solid @color-white;
    color: @color-black;

    a {
        color: @color-black
    }
}

.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: @color-white;
}

.ui-helper-hidden-accessible {
    display: none;
}
