
<?php
    // Logged user session 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $custSession = $objectManager->get('Magento\Customer\Model\Session');
?>



<main>
        <section class="profile profile_billing">
          <div class="container"><a href="#" class="link-back link-back_indent">Back to help home</a>
                <div class="breadcrumb">
                  <ul class="breadcrumb__list">
                    <li class="breadcrumb__item">
                        <a href="<?= $this->getUrl("customer/account/index"); ?>"
                           title="Dashboard"
                           class="breadcrumb__link">Dashboard</a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="<?= $this->getUrl("vault/cards/listaction"); ?>"
                           title="Billing address" class="breadcrumb__link">Payment Methods</a>
                    </li>
                  </ul>
                </div>
            <div class="row profile__billing">
              <div class="profile__body">
                <div class=" col-md-8" id="column-check">
            <!-- Personal Information tab content starts here -->
            <?php
$tokens = $block->getPaymentTokens();
?>
<?php if (count($tokens) !== 0): ?>
    <div class="table-wrapper my-credit-cards">
        <table class="data table table-credit-cards" id="my-orders-table">
            <caption class="table-caption"><?php /* @noEscape */ echo __('Stored Payment Methods') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col card-number"><?php /* @noEscape */ echo __('Card Number') ?></th>
                <th scope="col" class="col expire"><?php /* @noEscape */ echo __('Expiration Date') ?></th>
                <th scope="col" class="col card-type"><?php /* @noEscape */ echo __('Type') ?></th>
                <th scope="col" class="col actions">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <?php
            foreach ($tokens as $token) {
                echo $block->renderTokenHtml($token);
            }
            ?>
            </tbody>
        </table>
    </div>

<?php elseif (!$block->isExistsCustomerTokens()): ?>
    <div class="message info empty"><span><?php /* @noEscape */ echo __('You have no stored payment methods.'); ?></span></div>
<?php endif ?>
         </div>
              </div>
            </div>
          </div>
        </section>
      </main>