<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer $block */
$_item = $block->getItem();
?>
<span class="price-excluding-tax" data-label="<?= $block->escapeHtml(__('Excl. Tax')); ?>">
    <span class="cart-price">
        <?php /* @escapeNotVerified */ echo $block->getOrder()->formatPrice($block->getItem()->getRowTotal()) ?>
    </span>
</span>
