<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_option = $block->getOption() ?>
<div class="field">
    <label class="label"><span><?=  $block->escapeHtml($_option->getTitle()) ?></span></label>
</div>
