//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .actions-bar {
        padding: 5px 0 0;
        .lib-css(flex-wrap, wrap, 1);
        .inventory-button {
            padding: 10px 20px 10px 8px;
            margin-right: 5px;
            border: 1px solid @color-button-border;
            background: @color-white;
            display: inline-block;
            position: relative;
            opacity: 1;
            visibility: visible;
            transition: all .1s;
            margin-bottom: 5px;
            &.hidden {
                display: inline-block;
                opacity: 0;
                visibility: hidden;
                position: absolute;
            }

            &:hover{
                text-decoration: none;
                cursor: pointer;
                background: @color-dropdown-item-hover;
                &:after {
                    color: @color-grey-text;
                }
            }

            &:after {
                content: "";
                position: absolute;
                right: 10px;
                top: 50%;
                font-size: 18px;
                line-height: 18px;
                font-weight: 300;
                transform: translate(50%, -54%);
            }

            span{
                font-size: 12px;
                line-height: 16px;
                font-family:@base-font;
                font-weight: 300;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                text-decoration: none;
                color: @color-grey-text;
                display: inline-block;
            }

            &.delete {
                &:after {
                    content: 'x';
                    color: @color-grey-text;
                }
            }

            &.add_to_marketplace {
                &:after {
                    content: '+';
                    color: @color-grey-text;
                }
            }

            &.remove_from_marketplace {
                &:after {
                    content: '-';
                    color: @color-grey-text;
                }
            }
        }

        .ronati-dropdown {
            margin: 0 5px 5px 0;

            &:last-child {
                margin-right: 0;
            }
            &__list {
                top: 100%;
                width: 100%;
                min-width: auto;
                max-width: 100%;
                z-index: 300;
                text-align: center;
            }

            &__link {
                font-size: @font-size__small;
                font-weight: 300;
                line-height: 16px;
                text-transform: uppercase;
                color: @color-action-text;
                padding: 11px 10px;
                text-align: center;
                box-sizing: border-box;
                letter-spacing: 0.12em;
            }

            .inventory-button {
                margin: 0;
                &:after {
                    width: 0;
                    height: auto;
                    box-sizing: border-box;
                    border-style: solid;
                    border-width: 10px 5px 0 5px;
                    border-color: @color-triangle transparent transparent transparent;
                    transition: all .3s;
                    transform: translate(50%, -50%);
                }
            }

            &.active {
                .inventory-button {
                    &:after {
                        transform: rotate(180deg) translate(-50%, 50%);
                    }
                }
            }
        }
    }
}
