//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .breadcrumb{
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                margin-right: 25px;
                position: relative;
                a{
                    .standard-font-12();
                    color: @color-light-grey-4;
                    &:hover{
                        color: @color-event;
                    }

                }
                span{
                    .standard-font-12();
                    color: @color-light-grey-4;
                }
                &:after{
                    background: url('../images/ecm-icons/breadcrumbs_arrow.png') no-repeat;
                    content: '';
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 50%;
                    margin-top: -8px;
                    right: -21px;
                }
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
            }
        }

    }
}
