//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .add-new-marketplace {
        .available-channels {
            border-bottom: 1px solid @color-black;
            padding-top: 50px;
        }

        .block-title {
            h2 {
                font-size: 18px;
                line-height: 25px;
                font-weight: 300;
                letter-spacing: 0.12em;
                text-transform: uppercase;
            }
        }

        .block-description {
            p {
                font-size: 14px;
                line-height: 18px;
            }
        }

        .channel-list {
            .lib-css(display, flex, 1);
            .lib-css(flex-wrap, wrap, 1);

            .channel-item {
                max-width: 230px;
                width: 100%;
                margin: 0 10px 40px 0;
                position: relative;
                .lib-css(display, flex, 1);

                .channel-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    span {
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: 800;
                        word-wrap: break-word;
                        word-break: normal;
                        overflow-wrap: break-word;
                        display: inline-block;
                    }

                    .channel-connect {
                        .default-button();
                        width: 90px;
                        height: 35px;
                        border: 1px solid @color-black;
                    }

                    .connect-marketplace {
                        &:before {
                            content: '\f013';
                            font-family: @font-icon;
                            font-size: 15px;
                            line-height: 15px;
                            color: @color-light-grey-4;
                            position: absolute;
                            top: 0;
                            right: 10px;
                            .lib-css(transition, all 300ms ease-in-out, 1);
                            .lib-css(transform, rotate(0deg), 1);
                        }

                        &:hover {
                            &:before {
                                color: @color-black;
                                .lib-css(transition, all 300ms ease-in-out, 1);
                                .lib-css(transform, rotate(180deg), 1);
                            }
                        }
                    }

                }

                .channel-logo {
                    margin-right: 10px;
                    min-width: 70px;

                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 5px;
                    }
                }
            }
        }

        .modals-wrapper {
            .modal-inner-wrap {
                max-width: 500px;
            }

            .modal-content {
                padding: 50px;
                .block-title {
                    .lib-css(display, flex, 1);
                    .lib-css(align-items, center, 1);
                    margin-bottom: 25px;

                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 5px;
                        margin-right: 19px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 16px;
                    }

                    h3 {
                        font-size: 22px;
                        font-weight: 800;
                        margin-bottom: 10px;
                    }
                }

                .block-message {
                    letter-spacing: 0.12em;
                    font-weight: 300;
                    margin-bottom: 25px;
                }
            }

            .fieldset {
                & > .field {
                    margin-bottom: 19px;

                    label {
                        margin-bottom: 0;
                        text-transform: uppercase;

                        span {
                            font-size: 14px;
                            line-height: 16px;
                            font-weight: 300;
                            letter-spacing: 0.12em;
                        }

                        &:after {
                            margin-left: 4px;
                        }
                    }
                }

                .choice{
                    padding: 0 0 15px;
                    margin-bottom: 40px;
                    .label {
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.12em;
                        text-transform: initial;
                        .lib-css(display, flex, 1);
                        a {
                            color: @ronati-color-black;
                            &:hover,
                            &:visited,
                            &:focus,
                            &:active {
                                color: @ronati-color-black;
                            }
                        }
                    }
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }

            .actions-toolbar {
                .connect {
                    background: @color-orange;
                    border-color: @color-orange;
                    color: @color-white;
                    height: 40px;
                    border-radius: 0;
                    padding: 7px 23px;

                    span {
                        font-size: 18px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: 0.08em;
                        text-transform: uppercase;
                        font-weight: 300;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .modal-popup {
                .modal-inner-wrap {
                    top: 50%;
                    right: 50%;
                    left: initial;
                    display: inline-block;
                    width: auto;
                    transform: translate(50%, -50%);
                    background: @color-white;
                    box-shadow: none;
                    margin-top: 0;

                    .modal-header {
                        display: none;
                    }
                }
            }


        }

        input{
            &[type="checkbox"]{
                -webkit-appearance: checkbox;
            }
        }


    }
}
