//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .edit-marketplace {
        .edit-channel {
            background: @color-white;

            .edit-channel-header {
                margin-bottom: 7px;
            }

            .marketplace-status {
                .lib-css(display, flex, 1);
            }

            .fieldset {
                margin-bottom: 0;
                &:first-child {
                    margin-bottom: 55px;
                }

                & > .legend {
                    margin-bottom: 0px;
                    border: none;
                }
            }

            .default-settings {
                margin-bottom: 33px;
                .legend {
                    padding: 0;
                }

                h3 {
                    font-size: 22px;
                    line-height: 30px;
                    padding-bottom: 10px;
                }
                p {
                    .standard-font-14();
                    text-transform: none;
                    max-width: 825px;
                }
            }

            .label {
                margin-bottom: 0;
                span {
                    font-family: @base-font;
                    font-weight: 400;
                    .standard-font-12();
                    display: inline-block;
                    margin-bottom: 5px;
                }
            }

            h3 {
                font-size: 25px;
                line-height: 30px;
                font-weight: 300;
                text-transform: uppercase;
                font-family: @base-font;
                letter-spacing: 0.12em;
                padding-bottom: 16px;
            }
        }

        .edit-channel-header {
            .flex-position {
                .lib-css(display, flex, 1);
                .lib-css(align-items, center, 1);

                .channel-title {
                    h3 {
                        padding-bottom: 0;
                    }

                    span {
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: 0.12em;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-family: @base-font;
                    }

                    .control {
                        margin-left: 10px;

                        p {
                            color: @color-green;
                            font-size: 18px;
                            line-height: 25px;
                            letter-spacing: 0.12em;
                            text-transform: uppercase;
                            font-weight: 300;
                        }
                    }
                }
            }

            .channel-image {
                margin-right: 10px;

                img {
                    width: 55px;
                    height: 55px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
                    border-radius: 10px;
                }
            }

            .channel-disconnect {
                .default-button();
                min-width: 210px;
            }
        }

        .edit-channel-content {
            .credentials {
                .field {
                    margin-bottom: 15px;
                }
            }

            .fieldset-group-wrapper {
                background: @color-background;
                padding: 50px 30px 32px;
                margin-bottom: 60px;

                h3 {
                    color: @color-head;
                    font-family: @bold-font;
                    position: relative;
                    margin-bottom: 13px;

                    &:after {
                        content: '';
                        max-width: 560px;
                        width: 100%;
                        height: 1px;
                        background: @color-event;
                        position: absolute;
                        bottom: 5px;
                        left: 0;
                    }
                }

                h2 {
                    font-size: 20px;
                    line-height: 27px;
                    text-transform: uppercase;
                    font-family: @base-font;
                    font-weight: 300;
                    letter-spacing: 0.12em;
                    margin-bottom: 8px;
                }

                p {
                    font-size: @font-size__base;
                    line-height: 19px;
                    letter-spacing: 0.12em;
                    text-transform: none;
                    margin-bottom: 30px;
                }
            }

            .control{
                max-width: 425px;
            }
        }

        .actions-toolbar {
            button {
                .default-button();
                background: #F47658;
                border: none;
                color: @color-white;
                min-width: 200px;
                border-radius: 0;

                &:hover {
                    background: #F47658;
                    opacity: .9;
                    border: none;
                }
            }
        }

        .section {
            background: @color-background;
            padding: 22px 25px;
            margin-bottom: 15px;
            &._show {
                .section__title {
                    &:before {
                        transform: rotate(180deg);
                    }
                }
            }

            &__title {
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0.12em;
                margin-bottom: 0;
                cursor: pointer;
                text-transform: uppercase;
                font-family: @base-font;
                position: relative;
                padding: 0 0 17px 45px;
                max-width: 560px;
                box-sizing: border-box;
                border-bottom: 1px solid @color-event;
                &:before {
                    content: '';
                    left: 0;
                    top: 0;
                    position: absolute;
                    width: 0;
                    height: auto;
                    box-sizing: border-box;
                    border-style: solid;
                    border-width: 20px 10px 0 10px;
                    border-color: @color-head transparent transparent transparent;
                    transition: all .3s;
                }
            }

            &__content {
                padding-top: 13px;
            }

            &__item {
                position: relative;
                margin-bottom: 10px;
                box-sizing: border-box;
                .lib-css(display, flex, 1);
                &_level-0 {
                    margin-bottom: 25px;
                }

                &_level-1 {
                    padding-left: 25px;
                }

                &_level-2 {
                    padding-left: 50px;
                }

                &_level-3 {
                    padding-left: 75px;
                }

                &_level-4 {
                    padding-left: 100px;
                }

                &_level-1,
                &_level-2,
                &_level-3,
                &_level-4 {
                    & + .section__item_level-0 {
                        margin-top: 25px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &.multiselect {
                    .lib-css(flex-direction, column, 1);
                    .lib-css(align-items, flex-start, 1);
                    .ronati-label {
                        margin: 0 0 13px;
                        text-transform: uppercase;
                        order: 1;
                    }

                    .ronati-multiselect {
                        order: 2;
                    }
                }

                &.price,
                &.text,
                &.select,
                &.textarea {
                    input,
                    textarea,
                    .select2 {
                        order: 1;
                    }

                    .ronati-label {
                        order: 2;
                    }
                }
            }
        }

        .dynamic_form {
            display: flex;
            flex-direction: column;
        }

        .sales-settings__link {
            letter-spacing: 0.12em;
            margin: 10px 0 25px;
            .link {
                color: @ronati-color-black;
                font-weight: 700;
                text-decoration: underline;
                &:active,
                &:hover,
                &:focus,
                &:visited {
                    color: @ronati-color-black;
                }
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .edit-marketplace {
        .flex-position,
        .channel-action {
            margin-bottom: 15px;
        }

        .flex-inline {
            .lib-css(align-items, flex-start, 1);
            .lib-css(flex-direction, column, 1);
        }

        .section {
            &__item {
                .lib-css(flex-direction, column-reverse, 1);
                .lib-css(align-items, flex-start, 1);
                .ronati-label {
                    margin-bottom: 13px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .edit-marketplace {
        .edit-channel {
            padding: 30px 25px;
        }

        .flex-wrapper {
            .lib-css(display, flex, 1);

            .form-wrapper {
                width: 60%;
            }

            .from-description {
                width: 40%;
            }
        }

        .flex-inline {
            .lib-css(align-items, center, 1);
        }

        .edit-channel-header {
            .lib-css(display, flex, 1);
            .lib-css(justify-content, space-between, 1);
            .lib-css(align-items, center, 1);
            margin-bottom: 30px;
        }

        .section {
            &__item {
                .lib-css(display, flex, 1);
                .lib-css(align-items, center, 1);
                .lib-css(flex-wrap, wrap, 1);
                .mage-error {
                    width: 100%;
                    order: 3;
                    & + .select2 {
                        .select2-selection {
                            border-color: @color-error;
                        }
                    }
                }
            }
        }
    }
}
