//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .dynamic_form {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        box-sizing: border-box;
        ul {
            li {
                .default-checkbox__input {
                    display: block;
                    width: 0;
                    height: 0;
                    opacity: 0;
                    visibility: hidden;
                }

                &.flag {
                    display: list-item !important;
                }

                &._hidden {
                    height: 0;
                    width: 0;
                    opacity: 0;
                }
            }
        }
        .group-item{
            #text{
                width: 50%;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
                position: relative;
            }

        }
        &#dynamicForm{
            input {
                max-width: 265px;
                width: 100%;
            }

            textarea {
                max-width: 488px;
                min-height: 100px;
            }
        }

        .ronati-multiselect {
            max-width: 809px;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .dynamic_form {
        .ronati-multiselect {
            width: 100%;
        }
    }
}


//
//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .dynamic_form {
        .ronati-multiselect {
            display: inline-block;
            min-width: 488px;
        }
    }
}
