//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .page-footer {
        border-top: 1px solid @color-head;
        .footer {
            .lib-css(display, flex, 1);
            &.content {
                padding-top: 59px;
                padding-bottom: 40px;
            }

            .logo {
                float: none;
                margin: 0;
                display: block;
                max-width: initial;
            }

            .footer-links {
                padding: 0;
                &__item {
                    line-height: initial;
                    margin-bottom: 11px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &__link {
                    font-family: @font-family__base;
                    font-weight: 300;
                    font-size: @font-size__base;
                    line-height: 19px;
                    letter-spacing: 0.12em;
                    color: #000000;
                    transition: color .3s;
                    &:hover,
                    &:active,
                    &:focus,
                    &:visited {
                        color: #000000;
                        text-decoration: none;
                    }

                    &:hover {
                        color: @color-light-grey-4;
                    }
                }
            }

            .block.newsletter {
                float: none;
                width: auto;
                margin: 0;
                .form.subscribe {
                    display: block;
                }

                .actions {
                    width: 1px;
                    max-height: 1px;
                    overflow: hidden;
                    display: block;
                }

                label {
                    display: block;
                    margin-bottom: 3px;
                    .label {
                        position: static;
                        width: auto;
                        clip: auto;
                        margin: 0;
                        text-transform: uppercase;
                        font-size: @font-size__small;
                        line-height: 16px;
                        font-weight: 300;
                    }
                }

                .control {
                    &:before {
                        display: none;
                    }
                }

                .newslater-text {
                    font-family: @font-family__base;
                    font-weight: 500;
                    font-size: @font-size__base;
                    line-height: 19px;
                    letter-spacing: 0.12em;
                    color: @color-black;
                    margin-bottom: 15px;
                }

                input#newsletter {
                    padding: 0 9px;
                    width: 100%;
                }
            }

            .footer-social-links {
                font-size: 0;
                padding: 0;
                margin-top: 10px;
                &__item {
                    display: inline-block;
                    margin-right: 14px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                &__link {
                    display: block;
                    width: 45px;
                    height: 45px;
                    position: relative;
                    border: 1px solid @color-orange;
                    box-sizing: border-box;
                    transition: all .3s;
                    &:after {
                        font-family: @font-icon;
                        color: @color-orange;
                        font-size: 32px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: color .3s;
                    }

                    &:hover {
                        border-color: @color-head;
                        &:after {
                            color: @color-head;
                        }
                    }
                }

                &__facebook {
                    &:after {
                        content: "\f09a";
                    }
                }

                &__instagram {
                    &:after {
                        content: "\f16d";
                    }
                }

                &__twitter {
                    &:after {
                        content: "\f099";
                    }
                }
            }
        }
    }

    .copyright {
        background-color: @color-white;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: @layout__max-width;
        span {
            display: block;
            border-top: 1px solid @color-copyright-border;
            font-size: @font-size__small;
            line-height: @font-size__small;
            text-align: center;
            margin: 0 auto;
            color: @color-black;
            font-weight: 300;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-footer {
        background: @color-white;
        padding-bottom: 0;
        .footer {
            .lib-css(flex-direction, column, 1);
            .lib-css(align-items, flex-start, 1);
            &__left-block {
                margin-bottom: 25px;
            }
        }
    }

    .copyright {
        span {
            padding: 20px @layout__width-xs-indent;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-footer {
        background: @color-white;
        padding-bottom: 0;
        .footer {
            .lib-css(justify-content, space-between, 1);
            &__right-block {
                margin-left: 13.4%;
            }

            &__right-block,
            &__left-block {
                display: flex;
                align-items: center;
            }
        }
    }

    .copyright {
        span {
            padding: 20px 0;
            margin: 0 @layout-indent__width;
        }
    }
}
