& when (@media-common = true) {
    .inputs-styles {
        height: 40px;
        width: 100%;
        border: 1px solid @color-background-white;
        background: @color-white;
        transition: all .3s;
        &::-webkit-input-placeholder {
            color: @color-white_4;
        }

        &:-ms-input-placeholder {
            color: @color-white_4;
        }

        &::placeholder {
            color: @color-white_4;
        }

        &:focus {
            box-shadow: 0 0 3px 1px @color-inputs-shadow;
        }

        &.mage-error {
            border-color: @color-red10;
        }
    }

    input {
        &[type="text"],
        &[type="password"],
        &[type="url"],
        &[type="tel"],
        &[type="search"],
        &[type="number"],
        &[type="email"] {
            .inputs-styles();
        }
    }
    select{
        &.select{
            .inputs-styles();
        }

    }

    textarea.ronati-input__textarea {
        resize: none;
        padding: 10px;
        box-sizing: border-box;
        .inputs-styles();
    }

    .mage-error + .ronati-multiselect {
        border-color: @color-error;
    }

    .ronati-multiselect {
        border: 1px solid @color-background-white;
        background: @color-white;
        transition: all .3s;
        &:focus {
            border: 1px solid @color-event;
            box-shadow: @focus__box-shadow;
        }

        &__option {
            transition: all .3s;
            cursor: pointer;
            font-size: @font-size__base;
            line-height: 19px;
            letter-spacing: 0.12em;
            padding: 13px 16px;
            color: #000;
            &_selected,
            &:hover {
                background: @multiselect-selected-option;
            }
        }
    }

    input[type=checkbox].ronati-input__checkbox {
        position: absolute;
        z-index: -1000;
        left: -1000px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    input[type=checkbox].ronati-input__checkbox + label {
        padding-left: 18px;
        height: 18px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 15px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            transition: all .3s;
        }

        &:before {
            left: 5px;
            top: 0;
            transform: rotate(45deg);
            height: 14px;
            width: 8px;
            border-bottom: 2px solid @color-white;
            border-right: 2px solid @color-white;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
        }

        &:after {
            width: 18px;
            height: 18px;
            border: 1px solid @color-background-white;
            box-sizing: border-box;
            left: 0;
            top: 0;
        }
    }

    input[type=checkbox].ronati-input__checkbox.mage-error + label {
        &:after {
            border-color: @color-error;
        }
    }

    input[type=checkbox].ronati-input__checkbox:checked + label {
        &:before {
            opacity: 1;
            visibility: visible;
        }

        &:after {
            border-color: @color-event;
            background: @color-event;
        }
    }

    .ronati-label {
        font-family: @base-font;
        font-weight: 500;
        font-size: @font-size__base;
        line-height: 19px;
        letter-spacing: 0.12em;
        &.required {
            sup {
                color: @color-event;
                font-size: @font-size__base;
            }
        }
    }
}

//
//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .ronati-label:not(.default-boolean__label) {
        margin-left: 11px;
    }
}

