//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    header.page-header {
        border-bottom: 1px solid @color-orange;

        .logo {
            float: none;
        }

        .panel.header {
            .lib-css(display, flex, 1);
            .lib-css(justify-content, space-between, 1);
            .lib-css(align-items, center, 1);
            transition: all .3s;
            &:after,
            &:before {
                display: none;
            }
        }

        .cookies-text-wrapper {
            transition: all .3s;
            &.visible {
                padding-bottom: 28px;

                .cookies-text {
                    opacity: 1;
                    visibility: visible;
                    z-index: 999;
                }
            }
        }

        .cookies-text {
            background: @color-orange;
            color: @color-white;
            text-align: center;
            font-family: @base-font, sans-serif;
            font-weight: 300;
            padding: 4px @layout-indent__width;
            box-sizing: border-box;
            position: fixed;
            top: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;

            a {
                color: @color-white;
                &:hover,
                &:active,
                &:visited {
                    color: @color-white;
                }
            }

            #accept {
                font-size: 33px;
                line-height: 33px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -46%);
                cursor: pointer;
                transition: all .3s;
                &:hover {
                    color: @color-head;
                }
            }
        }
    }

    .logo-wrapper {
        .ronati-dropdown {
            &__trigger {
                .lib-css(display, flex, 1);
                .lib-css(flex-direction, column, 1);
                transition: all .3s;
                &:hover {
                    opacity: .7;
                }
            }
        }

        .logo {
            margin: 0;
            max-width: initial;
        }

        .logo,
        .ronati-dropdown {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .ronati-dropdown {
        position: relative;
        z-index: 310;
        &__trigger {
            cursor: pointer;
        }

        &__line {
            display: block;
            width: 27px;
            height: 3px;
            background-color: @color-head;
            margin: 0 15px 6px 0;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &.active {
            .ronati-dropdown__list {
                opacity: 1;
                visibility: visible;
            }
        }

        &__list {
            position: absolute;
            top: ~'calc(100% + 10px)';
            z-index: 30;
            padding: 0;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            background: @color-white;
            transition: all .3s;
            border: 1px solid @color-background-white;
            box-sizing: border-box;
            box-shadow: 1px 8px 17px -6px @color-box-shadow;
        }

        &__item {
            margin: 0;
            list-style: none;
            line-height: initial;
        }

        &__link {
            font-size: @font-size__small;
            line-height: 16px;
            color: @color-black;
            transition: all .3s;
            padding: 7px 20px;
            display: block;
            cursor: pointer;
            background-color: @color-white;
            &:hover,
            &:active,
            &:visited,
            &:focus {
                color: @color-black;
            }

            &:hover,
            &.selected {
                background: @color-dropdown-item-hover;
                text-decoration: none;
            }
        }
    }

    .customer-section {
        .logged-in {
            font-family: @base-font, sans-serif;
            font-weight: 300;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: @grey-text-color;
        }

        .ronati-dropdown__list {
            padding: 32px 0 22px;
        }

        .ronati-dropdown__link {
            padding-left: 33px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }
    }

    .main-info {
        .lib-css(display, flex, 1);
        .lib-css(align-items, center, 1);
        margin: 0 15px 6px;
        padding: 0 5px 7px;
        border-bottom: 1px solid @color-orange;
        &__avatar {
            display: block;
            width: 60px;
            min-width: 60px;
            height: 60px;
            position: relative;
            overflow: hidden;
            margin-right: 5px;

            img {
               position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__name,
        &__mail {
            font-weight: 300;
            display: block;
            color: rgba(0, 0, 0, 0.7);
            transition: all .3s;
            &:active,
            &:visited,
            &:hover,
            &:focus {
                color: rgba(0, 0, 0, 0.7);
            }
        }

        &__name {
            text-transform: uppercase;
            line-height: 19px;
            letter-spacing: 0.12em;

            &:hover {
                color: @color-light-grey-4;
                text-decoration: none;
            }
        }

        &__mail {
            font-size: @font-size__small;
            line-height: 16px;
            letter-spacing: 0.05em;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    header.page-header {
        .logo {
            width: 70%;
        }

        .panel.header {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .logo-wrapper {
            .lib-css(display, flex, 1);
            .lib-css(align-items, center, 1);
        }

        .customer-section {
            max-width: 50%;
            .logged-in {
                font-size: @font-size__small;
                line-height: 16px;
            }
        }
    }

    .ronati-dropdown {
        &__list {
            min-width: 290px;
            max-width: 290px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    header.page-header {
        .panel.header {
            padding-top: 47px;
            padding-bottom: 54px;
        }
    }

    .ronati-dropdown {
        &__list {
            min-width: 320px;
            max-width: 320px;
        }
    }
}
