@import "../_custom_variables.less";

//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .flex-group {
        .flex-block();
        background: @color-white;
        z-index: 300;
        position: relative;
        .transition();
        &.sticky-panel {
            .lib-css(box-shadow, 1px 8px 17px -6px rgba(0,0,0,0.75),1);
            .transition();
        }
    }
    .data-grid-search-control-wrap{
        max-width: 250px;
        position: absolute;
        left: -275px;
    }
    .edit_status-button{
        position: relative;
        #edit_status_dropdown{
            font-size: 16px;
            line-height: 18px;
        }
        .edit_status-list{
            position: absolute;
            background: @color-white;
            z-index: 201;
            padding: 10px 5px;
            .transition();
            li{
                a{
                    text-align: center;
                    background: none;
                    span{
                        font-family:@base-font;
                        .standard-font-14();
                    }
                    &:hover{
                        background: none;
                        cursor: pointer;
                    }
                }
            }
            &[aria-hidden="true"]{
                visibility: hidden;
                opacity: 0;
                .transition();
            }
        }
    }

}
