//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .login-form__container{
        max-width: 440px;
        padding: 0 10px;
        margin: 50px auto 60px;
        p{
            .standard-font-12();
            margin: 28px 0;
            text-align: center;
            text-transform: none;
            font-weight: 300;
            color: @color-black;
            a{
                color: @color-black;
                border-bottom: 1px solid @color-event;
                &:hover{
                    text-decoration: none;
                }
            }
            span{
                .standard-font-14();
                text-transform: none;
                text-align: center;
                font-weight: 300;
            }
        }
        .form-field{
            margin: 0 auto 20px;
        }
        .login-form__title{
            text-transform: uppercase;
            text-align: center;
            .lib-font-size(22);
            .lib-line-height(30);
            font-family: @base-font;
            font-weight: 300;
            letter-spacing: 0.12em;
            margin: 40px 0 38px 0;
        }
        .form-field__label{
            font-family: "Avenir",sans-serif;
            margin-bottom: 7px;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            font-weight: 300;
            display: inline-block;
        }
        .login-form__submit{
            &.action{
                &.ronati-buttons{
                    .lib-font-size(18);
                    .lib-line-height(25);
                    display: block;
                    margin: 0 auto;
                    min-width: 200px;
                    padding: 7px 15px;
                    font-weight: 400;
                }
            }
        }
    }

}
