//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .marketplace-product-merge {
        .open-icon {
            &:before {
                content: '';
                width: 8px;
                height: 8px;
                border-right: 2px solid @color-grey-open-close-icon;
                border-bottom: 2px solid @color-grey-open-close-icon;
                position: absolute;
                right: 15px;
                top: 15px;
                cursor: pointer;
                .lib-css(transform, rotate(45deg));
                .transition();
            }

            &:after {
                content: '';
                width: 8px;
                height: 8px;
                border-right: 2px solid @color-grey-open-close-icon;
                border-bottom: 2px solid @color-grey-open-close-icon;
                position: absolute;
                right: 15px;
                bottom: 15px;
                cursor: pointer;
                .lib-css(transform, rotate(225deg));
                display: none;

            }

            &.isShow {
                &:before {
                    .lib-css(transform, rotate(225deg));
                    .transition();
                    top: 21px;
                }

                &:after {
                    display: block;
                }
            }
        }

        input[type=radio].css-checkbox {
            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
        }

        input[type=radio].css-checkbox + label.css-label {
            padding-left: 18px;
            height: 18px;
            display: inline-block;
            line-height: 18px;
            background-repeat: no-repeat;
            background-position: 0 0;
            font-size: 18px;
            vertical-align: middle;
            cursor: pointer;
            position: absolute;
            z-index: 1;

        }

        input[type=radio].css-checkbox:checked + label.css-label {
            background-position: 0 -18px;
        }

        label.css-label {
            background-image: url('../images/ecm-icons/radiobuttons.png');
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            left: 25px;
        }

        .marketplace-select {
            margin-top: 6px;
        }

        .all_selected {

            &:before {
                content: '';
                width: 18px;
                height: 18px;
                cursor: not-allowed;
                margin-right: 5px;
                display: inline-block;
                border: 1px solid #e5e5e5;
                background: #e5e5e5;
                box-sizing: border-box;
                position: absolute;
                left: 0;
            }
        }

        .merge-product-tittle {
            .standard-font-14();
            color: @color-black;
            text-transform: none;
            margin-bottom: 10px;
            display: inline-block;
        }

        .merge-header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid @color-orange;

            &__title {
                font-size: 25px;
                font-weight: 300;
                margin: 0;
            }

            &__actions {
                float: right;
            }

            &__back-link {
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
            }

            p {
                .standard-font-14();
                text-transform: none;
                text-indent: 8px;
            }

            .merge-header__back-link {
                position: relative;

                &:before {
                    content: '';
                    width: 20px;
                    height: 3px;
                    background: @color-head;
                    position: absolute;
                    left: -50px;
                    top: 0;
                }

                &:after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-left: 3px solid @color-head;
                    border-bottom: 3px solid @color-head;
                    position: absolute;
                    left: -52px;
                    top: -5px;
                    -moz-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }

        }

        .main {
            background: @color-background-grey;
            padding: 15px;
        }

        .sku-wrapper {
            padding-left: 30px;
        }

        .merge-product-wrapper {
            .product-image-wrapper {
                text-align: center;
                margin-bottom: 15px;
            }


            ul {
                display: flex;
                list-style-type: none;
                margin-bottom: 0;
                padding-left: 0;

                li {
                    width: 25%;
                    padding: 0 5px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    .group-background {
                        background: @color-white;
                        padding: 15px 25px;
                        margin-bottom: 10px;
                        position: relative;
                    }

                    .created_date {
                        padding-top: 15px;

                        p {
                            padding-left: 30px;
                            position: relative;

                            label {
                                left: 0;
                            }
                        }
                    }
                }

                &.merge-attribute-wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 15px 0 0;


                    li {
                        width: 100%;
                        display: flex;
                        padding: 0;
                        margin-bottom: 10px;

                        p {
                            .standard-font-14();
                            text-transform: none;
                            letter-spacing: normal;
                            padding-left: 30px;
                            position: relative;

                            &.all_selected {

                                &:before {
                                    content: '';
                                    width: 18px;
                                    height: 18px;
                                    cursor: not-allowed;
                                    margin-right: 5px;
                                    display: inline-block;
                                    border: 1px solid #e5e5e5;
                                    background: #e5e5e5;
                                    box-sizing: border-box;
                                    position: absolute;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .merge-marketplace-icon {
            display: flex;
            padding-left: 28px;

            img {
                margin-right: 10px;
                width: 24px;
                height: 24px;
                position: relative;
                top: -3px;
            }

            .marketplace-select {
                margin-top: 6px;
            }

            .merge-marketplace-name {
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: @grey-text-color2;
            }
        }

        .sidebar-additional {
            background: @color-white;
        }

        .result-title {
            margin-bottom: 15px;
        }

        .result-wrapper {
            box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1);
            list-style-type: none;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 0 10px;

            ul {
                flex-direction: column;

            }

            li {
                display: flex;
                margin-bottom: 10px;

                &.head_item {
                    flex-direction: column;
                    margin-bottom: 15px;

                    .css-label {
                        left: 0;
                    }
                }

                &:first-child {
                    padding-top: 15px;
                }

                &:last-child {
                    padding-bottom: 15px;
                }

                p {
                    .standard-font-14();
                    text-transform: none;
                    letter-spacing: normal;
                    padding-left: 30px;
                    position: relative;

                }

                .css-label {
                    left: 10px;
                }
            }

            ul, li {
                order: 14;

                &[data-order="1"] {
                    order: 1;
                }

                &[data-order="2"] {
                    order: 2;
                }

                &[data-order="3"] {
                    order: 3;
                }

                &[data-order="4"] {
                    order: 4;
                }

                &[data-order="5"] {
                    order: 5;
                }

                &[data-order="6"] {
                    order: 6;
                }

                &[data-order="7"] {
                    order: 7;
                }

                &[data-order="8"] {
                    order: 8;
                }

                &[data-order="9"] {
                    order: 9;
                }

                &[data-order="10"] {
                    order: 10;
                }

                &[data-order="11"] {
                    order: 11;
                }

                &[data-order="12"] {
                    order: 12;
                }

                &[data-order="13"] {
                    order: 13;
                }
            }

            .title {
                span {
                    display: inline-block;
                    padding: 15px 0;
                }
            }

            .group-list {
                position: relative;
            }
        }


    }

}

