//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .add-to-mp-list{
        .flex-block();
        flex-wrap: wrap;
        max-width: 250px;
        li{
            .flex-block();
            .image-wrapper{
                width: 60px;
                height: 60px;
                margin-right: 10px;
                img{
                    width: 100%;
                }
            }
            .info-wrapper{
                span{
                    .standard-font-14();
                }
            }
        }
    }

    .products-list {
        & > li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .market-list {
            padding: 5px 0 10px;
            border-bottom: 1px solid @color-button-border;
            li {
                display: inline-block;
                position: relative;
            }
        }

        input[type="checkbox"].modal-checkbox {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            margin: 0;
            & + label {
                position: relative;
                width: 40px;
                height: 40px;
                margin-right: 5px;
                margin-bottom: 5px;
                display: inline-block;
                border: 1px solid transparent;
                overflow: hidden;
                cursor: pointer;
                img {
                    position: absolute;
                    width: 100%;
                    display: block;
                    padding: 2px;
                    box-sizing: border-box;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &:checked + label {
                border: 1px solid @color-event;
            }
        }
    }

    .sold-on-list{
        li{
            list-style: none;
            flex-direction: column;
            .flex-wrapper{
                .flex-block();
            }
            .data-wrapper {
                .product-image-container {
                    margin-right: 15px;
                    vertical-align: middle;
                }

                .product-name {
                    display: inline-block;
                    vertical-align: middle;
                }

                .market-list {
                    margin: 15px 0;
                }
            }
            .market-list{
                .flex-block();
                li{
                    margin-right: 10px;
                    [type=radio] {
                        position: absolute;
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    [type=radio] + img {
                        cursor: pointer;
                    }

                    [type=radio]:checked + img {
                        outline: 2px solid @color-event;
                    }
                    img{
                        width: 32px;
                        height: 32px;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }

    ._image-box {
        .thumbnail-preview-link {
            display: none;
        }

        .thumbnail-preview-image-block {
            border: none;
            margin: 0;
        }
    }
}
