//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .marketplace-product-productlist {
        .link-back {
            display: none;
        }

        .top {
            .inventory__btn-group {
                text-align: right;
            }

            .export-button,
            .add-new-button {
                display: inline-block;
                font-weight: 500;
                font-size: @font-size__base;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                padding: 0 20px;
                transition: all .3s;
                box-sizing: border-box;
            }

            .export-button {
                line-height: 40px;
                border: 2px solid @color-event;
                text-align: center;
                a {
                    display: inline-block;
                    transition: all .3s;
                    color: @color-event;
                    &:focus,
                    &:visited,
                    &:active,
                    &:hover {
                        color: @color-event;
                        text-decoration: none;
                    }
                }

                &:hover {
                    background: @color-event;
                    a {
                        color: @color-white;
                    }
                }
            }

            .add-new-button {
                line-height: 44px;
                color: @color-white;
                background: @color-event;
                margin-right: 2px;
                &:hover {
                    text-decoration: none;
                    opacity: .7;
                }
            }
        }

        .admin__data-grid-outer-wrap {
            margin-top: 20px;
        }

        .data-grid {
            table-layout: auto;
            th {
                background-color: @color-white;
                border: none;
                font-weight: 300;
                font-size: @font-size__big;
                line-height: 22px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: @ronati-color-black;
                padding: 0 20px;
                box-sizing: border-box;
                .data-grid-cell-content {
                    display: flex;
                    align-items: center;
                    overflow: visible;
                }
            }

            &._dragging-copy {
                .data-grid-th {
                    border: none;
                    box-sizing: border-box;
                }

                td {
                    box-sizing: border-box;
                }
            }

            td {
                border: none;
                text-align: left;
                padding: 20px;
                box-sizing: border-box;
                font-weight: 300;
                font-size: @font-size__base;
                line-height: 19px;
                letter-spacing: 0.12em;
                color: @ronati-color-black;
                &:first-child {
                    border-left-style: none;
                }

                &:last-child {
                    border-right-style: none;
                }
            }

            .data-grid-th {
                &._sortable {
                    &:hover {
                        background: @color-white;
                    }

                    .data-grid-cell-content {
                        span {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }

                    .sorting-arrows {
                        position: relative;
                        height: 21px;
                        width: 10px;
                        margin: 0 0 0 8px;
                        top: -3px;
                        &__top,
                        &__bottom {
                            display: inline-block;
                            position: absolute;
                            width: 0;
                            height: auto;
                            box-sizing: border-box;
                            border-style: solid;
                            transition: all .3s;
                            opacity: 1;
                        }

                        &__top {
                            top: 0;
                            border-width: 0 5px 9px 5px;
                            border-color: transparent transparent rgba(59, 80, 107, 0.3) transparent;
                        }

                        &__bottom {
                            bottom: 0;
                            border-width: 9px 5px 0 5px;
                            border-color: rgba(59, 80, 107, 0.3) transparent transparent transparent;
                        }
                    }

                    &._ascend,
                    &._descend {
                        &:before {
                            content: "";
                        }
                    }

                    &._ascend {
                        .sorting-arrows__top {
                            opacity: 0;
                        }
                    }

                    &._descend {
                        .sorting-arrows__bottom {
                            opacity: 0;
                        }
                    }
                }
            }

            .data-grid-multicheck-cell {
                text-align: left;
                padding: 0;
                .action-multicheck-wrap {
                    .lib-css(display, flex, 1);
                    label {
                       margin-right: 20px;
                    }
                }

                & + th {
                    padding-left: 0;
                }
            }

            .data-grid-thumbnail-cell {
                img {
                    width: 100%;
                    max-width: 100px;
                    border: none;
                }
            }

            .ronati-dropdown {
                &__list {
                    min-width: 147px;
                    max-width: 147px;
                    text-align: center;
                }

                &__trigger {
                    &:after {
                        border-width: 10px 5px 0 5px;
                        border-color: @color-triangle transparent transparent transparent;
                        margin-top: 0;
                        transform: translate(0, -50%);
                    }
                }

                &.active {
                    .ronati-dropdown__trigger {
                        &:after {
                            transform: rotate(180deg) translate(0, 50%);
                        }
                    }
                }
            }

            .data-row {
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                &:last-child:not(.data-grid-editable-row) {
                    td {
                        border-bottom: none;
                    }
                }

                .product-ids {
                    position: relative;
                    padding: 20px 0;
                }

                .product-thumbnail {
                    padding-left: 0;
                }

                .product-name {
                    a {
                        font-weight: 300;
                        font-size: @font-size__base;
                        line-height: 19px;
                        letter-spacing: 0.12em;
                        color: @ronati-color-black;
                        transition: all .3s;
                        &:focus,
                        &:visited,
                        &:active {
                            color: @ronati-color-black;
                        }

                        &:hover {
                            color: @color-light-grey-4;
                            text-decoration: none;
                        }
                    }
                }

                .product-marketplaces {
                    .lib-css(display, flex, 1);
                    .lib-css(flex-wrap, wrap, 1);
                    padding-right: 10px;
                    .sales-channels-list__img-wrap {
                        margin-right: 10px;
                        margin-bottom: 10px;
                        display: inline-block;
                        position: relative;
                        .marketplace-image {
                            width: 44px;
                            height: 44px;
                            display: block;
                            overflow: hidden;
                            border: 2px solid transparent;
                            box-sizing: border-box;
                            border-radius: 10px;
                        }

                        .marketplace-tooltip {
                            position: absolute;
                            opacity: 0;
                            visibility: hidden;
                            width: 120px;
                            text-align: center;
                            bottom: 100%;
                            left: 50%;
                            transform: translate(-50% , 0);
                            transition: all .3s;
                            color: @ronati-color-black;
                            background: @color-white;
                            z-index: 5;
                            border: 1px solid @color-button-border;
                            cursor: initial;
                            pointer-events: none;
                            &__status {
                                font-weight: 500;
                            }
                        }

                        &:hover {
                            .marketplace-tooltip {
                                visibility: visible;
                                opacity: 1;
                            }
                        }

                        &:after {
                            content: '';
                            font-size: 11px;
                            width: 16px;
                            height: 16px;
                            vertical-align: middle;
                            border-radius: 50%;
                            box-sizing: border-box;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            right: -4px;
                            color: @color-white;
                            background: @color-white;
                            top: -4px;
                            text-indent: 1px;
                        }

                        &.status-active {
                            .marketplace-image {
                                border-color: @color-green;
                            }

                            &:after {
                                content: 'A';
                                background: @color-green;
                            }

                            .marketplace-tooltip {
                                &__status {
                                    color: @color-green;
                                }
                            }
                        }

                        &.status-onhold {
                            .marketplace-image {
                                border-color: @color-hold;
                            }

                            &:after {
                                content: 'H';
                                background: @color-hold;
                            }

                            .marketplace-tooltip {
                                &__status {
                                    color: @color-hold;
                                }
                            }
                        }

                        &.status-deactivated {
                            .marketplace-image {
                                border-color: @color-deactivated;
                            }

                            &:after {
                                content: 'D';
                                background: @color-deactivated;
                            }

                            .marketplace-tooltip {
                                &__status {
                                    color: @color-deactivated;
                                }
                            }
                        }

                        &.status-deleted {
                            .marketplace-image {
                                border-color: @color-deleted;
                            }

                            &:after {
                                content: 'D';
                                background: @color-deleted;
                            }

                            .marketplace-tooltip {
                                &__status {
                                    color: @color-deleted;
                                }
                            }
                        }

                        &.status-sold {
                            .marketplace-image {
                                border-color: @color-event;
                            }

                            &:after {
                                content: 'S';
                                background: @color-event;
                            }

                            .marketplace-tooltip {
                                &__status {
                                    color: @color-event;
                                }
                            }
                        }

                        &.status-draft {
                            .marketplace-image {
                                border-color: @color-draft;
                            }

                            &:after {
                                content: 'D';
                                background: @color-draft;
                            }

                            .marketplace-tooltip {
                                &__status {
                                    color: @color-draft;
                                }
                            }
                        }

                        img {
                            width: 100%;
                            display: block;
                            border-radius: 8px;
                        }
                    }
                }

                &:hover,
                &._odd-row {
                    td {
                        background-color: @color-white;
                    }
                }
            }
        }

        .admin__control-support-text {
            font-size: @font-size__small;
            line-height: 16px;
            letter-spacing: 0.12em;
        }

        .admin__data-grid-pager-wrap {
            .selectmenu {
                border: 1px solid @color-button-border;
                &._active {
                    border-color: @color-event;
                    box-shadow: 0 0 3px 1px rgba(244, 118, 88, 0.25);
                    .selectmenu-toggle {
                        &:after {
                            transform: rotate(180deg) translate(0, 50%);
                        }
                    }
                }

                &-toggle {
                    &:before {
                        display: none;
                    }

                    &:after {
                        border-width: 10px 5px 0 5px;
                        border-color: @color-triangle transparent transparent transparent;
                        margin-top: 0;
                        transform: translate(0, -50%);
                    }
                }

                &-items {
                    box-sizing: border-box;
                    &._active {
                        border-color: #F47658;
                    }
                }
            }

            .admin__data-grid-pager {
                .admin__control-text:not(:focus) {
                    border: 1px solid @color-button-border;
                }

                button {
                    border: 1px solid @color-button-border;
                    background: @color-white;
                    height: 34px;
                    transition: all .3s;
                    &:not(:disabled) {
                        &:hover {
                            color: #F47658;
                        }
                    }
                }

                .admin__control-support-text {
                    margin-top: 3px;
                }
            }
        }

        .data-grid-search-control-wrap {
            left: initial;
            .action-submit {
                top: 6px;
            }
        }

        .modal-inner-wrap {
            max-width: 500px;
            padding: 50px;

            .modal-title,
            .modal-header,
            .modal-content,
            .modal-footer {
                border: none;
            }

            .modal-header {
                padding: 0;
            }

            .modal-title {
                width: 100%;
                text-align: center;
                font-size: @font-size__title;
                line-height: 25px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                padding-bottom: 25px;
            }

            .modal-content {
                padding: 0;
                &.holdon__content {
                    .input-text {
                        width: 100%;
                        margin-top: 15px;
                    }
                }
            }

            .modal-text {
                font-size: @font-size__base;
                line-height: 19px;
                letter-spacing: 0.12em;
                padding-bottom: 25px;
                display: block;
            }

            .modal-footer {
                padding: 0;
                text-align: left;
                margin-top: 25px;
                button {
                    background: @color-event;
                    color: @color-white;
                    border: none;
                    box-shadow: none;
                    font-size: @font-size__title;
                    line-height: 40px;
                    padding: 0 21px;
                    font-weight: 300;
                    text-align: center;
                    letter-spacing: 0.08em;
                    text-transform: uppercase;
                    border-radius: 0;
                    transition: all .3s;
                    &:hover {
                        opacity: .7;
                    }
                }
            }

            .mp-list {
                .lib-css(display, flex, 1);
                .lib-css(flex-wrap, wrap, 1);
                &__item {
                    width: 50%;
                    margin-bottom: 25px;
                    .lib-css(display, flex, 1);
                }

                &__image-wrapper {
                    min-width: 60px;
                    width: 60px;
                    height: 60px;
                    overflow: hidden;
                    margin-right: 10px;
                    image {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        transform: translate(-50%, -50%);
                    }
                }

                &__info {
                    label {
                        padding-left: 25px;
                    }
                }
            }
        }
    }

    .ui-datepicker {
        background: @color-white;
        width: 380px;
        .ui-datepicker-title {
            .ui-datepicker-month,
            .ui-datepicker-year {
                background: transparent;
                font-size: 16px;
                text-align: center;
                &:focus {
                    background-image: none;
                    border: 1px solid @color-event;
                    box-shadow: 0 0 3px 1px @input-focus-shadow;
                }
            }
        }
    }

    .data-grid-filters-actions-wrap {
        .action-default {
            display: none;
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .marketplace-product-productlist {
        //Mobile
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .marketplace-product-productlist {
        //Desctop
    }
}
