& when (@media-common = true) {

    .add-product__title {
        font-family: @base-font;
        .lib-font-size(32);
        .lib-line-height(44);
        font-weight: 300;
        letter-spacing: 0.07em;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .add-product__hint-title {
        .standard-font-14();
        font-weight: 400;
        text-transform: none;
        margin-bottom: 15px;
    }

    .product-info {
        .flex-block {
            &.data-list {
                flex-direction: column;
                margin-left: 25px;
            }
        }

        .connected-marketplaces {
            p {
                .standard-font-12();
                margin-bottom: 10px;
                font-weight: 300;
            }

            ul {
                li {
                    margin-right: 5px;

                    &:last-child {
                        margin-right: 0;
                    }

                    img {
                        width: 44px;
                        height: 44px;
                        border: 2px solid @color-head;
                    }
                }
            }
        }

        .product-actions {
            a {
                border-width: 2px;
            }

            .delete-action {
                margin-right: 10px;
            }

            .ronati-dropdown__list {
                left: -80px;
            }
        }

        .mp-list {
            margin-bottom: 30px;
        }

    }

    fieldset {
        &.collapsed-group {
            background: rgba(229, 229, 229, 0.24);
            padding: 40px 25px 20px;
            margin-bottom: 30px;

            h3 {
                .standard-font-16();
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            p {
                .standard-font-14();
                font-weight: 300;
                text-transform: none;
            }

            .legend {
                border: none;
                cursor: pointer;
                padding-bottom: 0;
                margin-bottom: 20px;

                span {
                    font-family: @bold-font;
                    .lib-font-size(22);
                    .lib-line-height(26);
                    font-weight: 300;
                    text-transform: uppercase;
                    letter-spacing: 0.12em;
                    padding-left: 40px;
                    position: relative;

                    &:before {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 7px 14px 7px;
                        border-color: transparent transparent #3b506b transparent;
                        left: 0;
                        position: absolute;
                        .transition();
                        top: 2px;
                    }
                }
            }

            .flex-list {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;

                li {
                    width: 33.33%;
                    box-sizing: border-box;
                    padding-right: 10px;

                    a {
                        width: 100%;
                        text-align: center;
                        padding: 9px 15px;
                        cursor: pointer;
                    }

                    &.button-wrapper {
                        display: flex;
                        align-items: flex-end;
                        margin-bottom: 30px;
                    }

                    &:nth-child(3n) {
                        padding-right: 0;
                    }

                }
            }

            .channel-list {
                .lib-css(dispaly, flex, 1);
                flex-wrap: wrap;
                margin: 20px 0 8px;

                li {
                    width: 20%;
                    margin: 0 15px 10px 0;
                    display: inline-flex;
                    align-items: center;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .field {
                margin-bottom: 30px;
                label {
                    &.label {
                        font-family: "Avenir", sans-serif;
                        .standard-font-12();
                        font-weight: 300;
                        white-space: nowrap;
                        margin-bottom: 8px;
                        display: inline-block;
                    }
                }
                .mage-error{
                    &[generated="true"]{
                        position: absolute;
                    }
                }
            }

            &._hide {
                .legend {
                    span {
                        &:before {
                            transform: rotate(180deg);
                            .transition();
                        }
                    }
                }
            }

            .channel-info {
                position: relative;
            }
        }
    }

    .status {
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        position: relative;
        background-color: unset;
        padding-left: 10px;
        margin-bottom: 15px;

        &:before {
            content: '';
            width: 14px;
            height: 14px;
            position: absolute;
            left: -10px;
            border-radius: 50%;
            top: -1px;
        }

        &.status-deleted {
            color: #C4C4C4;

            &:before {
                background: #C4C4C4;
            }
        }

        &.status-active {
            color: #66AC46;

            &:before {
                background: #66AC46;
            }
        }

        &.status-sold {
            color: #F47658;

            &:before {
                background: #F47658;
            }
        }

        &.status-draft {
            color: #3399cc;

            &:before {
                background: #3399cc;
            }
        }

        &.status-deactivated {
            color: #8e8b8b;

            &:before {
                background: #8e8b8b;
            }
        }

        &.status-onhold {
            color: #CCA65C;

            &:hover {
                .tooltiptext {
                    visibility: visible;
                    opacity: 1;
                }
            }

            position: relative;
            display: inline-block;

            &:before {
                background: #CCA65C;
            }
        }
    }

    .product-channels {
        border: 1px solid #bcbcbc;
        margin-top: 15px;

        th {
            padding: 15px 32px 15px 39px;
            background: #d8d8d8;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;

            &:nth-child(3) {
                text-align: center;
            }
        }

        td {
            border-top: 1px solid #bcbcbc;
            padding: 27px 46px 22px 40px;
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            vertical-align: middle;

            img {
                min-width: 44px;
                height: 44px;
            }

            &:nth-child(3),
            &:nth-child(4) {
                text-align: center;
            }
        }

        tbody {
            background: @color-white;
        }
    }

    .data-image-wrapper {
        width: 60%;
    }

    .relative-wrapper {
        position: relative;

        #media_gallery_content {
            position: initial;
            border: none;

            .image {
                width: 170px;
                height: 170px;
            }
        }

        .placeholder-wrapper {
            position: absolute;
            top: -35px;
            right: 0;

            .image-placeholder-text {
                display: none;
            }

            .image-placeholder {
                background: transparent;
                color: @color-orange;
                border: 2px solid @color-orange;
                transition: all .3s;
                border-radius: 0;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                display: inline-block;
                padding: 7px 15px;

                &:before {
                    display: none;
                }

                &.image {
                    input[type="file"] {
                        border: none;
                        width: 0;
                        height: 0;
                    }
                }

                .spacer {
                    display: none;
                }

                .image-uploader {
                    position: relative;
                    z-index: 5;
                    width: 360px;
                    padding: 15px;
                    display: inline-block;
                    box-sizing: border-box;
                    cursor: pointer;

                    span {
                        display: block;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                &:hover {
                    background: @color-event;
                    color: @color-white;
                }
            }
        }

        .fileinput-button  {
            overflow: visible;
            position: initial;
            input {
                border: none;
                width: 400px;
                height: 85px;
                z-index: 5;
            }

            #fileupload-error{
                position: absolute;
                bottom: -20px;
                width: 350px;
                left: 0;
                text-align: center;
                height: 10px;
                text-transform: none;
            }
            #fileupload{
                &.mage-error{
                    top: -30px;
                    height: 115px;
                }
            }
        }
    }

    .fixed-button{
        position: fixed;
        bottom: 100px;
        right: 60px;
    }


}


