//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .sidebar-menu {
        padding: 0 10% 0 0;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        margin-top: 125px;
        background: @color-white;
        .list-item-wrapper {
            margin-bottom: 20px;

            h2 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 400;
                letter-spacing: .3px;
                padding-bottom: 7px;
                position: relative;
                text-transform: uppercase;
                border-bottom: 1px solid @color-light-grey;
                cursor: pointer;
                font-family: @bold-font,sans-serif;
                color: @color-head;

                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 5px 0 5px;
                    border-color: @color-head transparent transparent transparent;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -8px;
                    transform: rotate(0deg);
                    .transition();
                }
            }

            & > ul{
                padding-top: 20px;
            }

            &._hide {
                h2 {
                    &:before {
                        transform: rotate(180deg);
                        .transition();
                    }
                }
            }
        }

        .product-status-list {
            &__item {
                margin: 8px 4px;

                a {
                    .standard-font-14();
                    width: 80%;
                    display: inline-block;
                }

                .product-marketplace-status {
                    display: none;
                    padding-top: 0;
                    border-left: 1px solid @color-event;
                    &__item {
                        padding: 5px 0 5px 10px;
                    }
                }

                .marketplace-arrow {
                    cursor: pointer;
                    width: 0;
                    height: 0;
                    display: inline-block;
                    border-style: solid;
                    border-width: 7px 5px 0 5px;
                    border-color: @color-head transparent transparent transparent;
                    transition: all .3s;
                }

                &._show {
                    .marketplace-arrow {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .channels-list {
            li {
                a {
                    .flex-block-vertical-center();
                    position: relative;
                    margin: 20px 0;
                    padding-right: 15px;
                    width: 100%;

                    img {
                        width: 45px;
                        height: 45px;
                        margin-right: 12px;
                    }

                    span {
                        .standard-font-14();
                    }
                }

                .sales-channels-list-button {
                    .add-new {
                        .flex-block-vertical-center();

                        &:before {
                            content: '+';
                            border: 1px solid @color-event;
                            min-width: 45px;
                            width: 45px;
                            height: 45px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 28px;
                            color: @color-event;
                            margin-right: 12px;
                            .transition();
                        }

                        &:hover {
                            text-decoration: none;
                            &:before {
                                color: @color-white;
                                background: @color-event;
                                .transition();
                            }

                            span {
                                color: @color-light-grey-4;
                                .transition();
                            }
                        }

                        span {
                            .standard-font-14();
                            .transition();
                            color: @color-event;

                        }
                    }

                }

            }
        }
    }
}
