
<?php
    // Logged user session 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $custSession = $objectManager->get('Magento\Customer\Model\Session');
?>

<main>
        <section class="profile profile_billing">
          <div class="container"><a href="#" class="link-back link-back_indent">Back to help home</a>
                <div class="breadcrumb">
                  <ul class="breadcrumb__list">
                    <li class="breadcrumb__item">
                        <a href="<?= $this->getUrl("customer/account/index"); ?>"
                           title="Dashboard"
                           class="breadcrumb__link">Dashboard</a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="<?= $this->getUrl("sales/order/history/"); ?>"
                           title="Billing address"
                           class="breadcrumb__link">Purchases</a>
                    </li>
                  </ul>
                </div>
            <div class="row profile__billing">
              <!--Buyer Sidebar-->
                <?= $this->getLayout()->getBlock('buyer_sidebar')->toHtml(); ?>

              <div class="profile__body">
                <div class=" col-md-8" id="column-check">
         <?php $_orders = $block->getOrders(); ?>
<?= $block->getChildHtml('info');?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Orders') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Order #') ?></th>
                    <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Date') ?></th>
                    <?php /* @noEscape */ echo $block->getChildHtml('extra.column.header');?>
                    <th scope="col" class="col shipping"><?php /* @escapeNotVerified */ echo __('Ship To') ?></th>
                    <th scope="col" class="col total"><?php /* @escapeNotVerified */ echo __('Order Total') ?></th>
                    <th scope="col" class="col status"><?php /* @escapeNotVerified */ echo __('Status') ?></th>
                    <th scope="col" class="col actions">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_orders as $_order): ?>
                    <tr>
                        <td data-th="<?= $block->escapeHtml(__('Order #')) ?>"
                            class="col id">
                            <?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?>
                        </td>
                        <td data-th="<?= $block->escapeHtml(__('Date')) ?>"
                            class="col date">
                            <?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()) ?>
                        </td>
                        <?php $extra = $block->getChildBlock('extra.container'); ?>
                        <?php if ($extra): ?>
                            <?php $extra->setOrder($_order); ?>
                            <?php /* @noEscape */ echo $extra->getChildHtml() ?>
                        <?php endif; ?>
                        <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>"
                            class="col shipping">
                            <?php if ($_order->getShippingAddress()) : ?>
                                <?= $block->escapeHtml($_order->getShippingAddress()->getName()) ?>
                            <?php else : ?>
                                <?= '&nbsp;' ?>
                            <?php endif; ?>
                        </td>
                        <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>"
                            class="col total">
                            <?php /* @escapeNotVerified */ echo $_order->formatPrice($_order->getGrandTotal()) ?>
                        </td>
                        <td data-th="<?= $block->escapeHtml(__('Status')) ?>"
                            class="col status">
                            <?php /* @escapeNotVerified */ echo $_order->getStatusLabel() ?>
                        </td>
                        <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_order) ?>" class="action view">
                                <span><?php /* @escapeNotVerified */ echo __('View Order') ?></span>
                            </a>
                            <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                    ->getPostData($block->getReorderUrl($_order))
                                ?>' class="action order">
                                    <span><?php /* @escapeNotVerified */ echo __('Reorder') ?></span>
                                </a>
                            <?php endif ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no orders.'); ?></span></div>
<?php endif ?>
         </div>
              </div>
            </div>
          </div>
        </section>
      </main>
