<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$custSession = $objectManager->get('Magento\Customer\Model\Session');
$customer_id = $custSession->getCustomer()->getId();
$helper = $this->helper('\Nostress\Koongo\Helper\Data');
?>
<footer id="ronati-footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 footer__nav">
                <div class="footer-logo"></div>
                <nav>
                    <ul class="footer__nav-list">
                        <?php if (isset($customer_id) && $customer_id != '') { ?>
                            <!-- <li class="footer__nav-item"><a href="<?php echo $this->getUrl('ourteam'); ?>" title="About us">About us</a></li>-->
                        <?php } ?>
                        <li class="footer__nav-item"><a href="<?= $helper->getStoreConfig(null, 'marketplace_settings/redirect/default_home_url') . 'terms-of-use/' ;?>"
                                                        title="Terms of Service">Terms of Use</a></li>
                        <li class="footer__nav-item"><a href="<?= $helper->getStoreConfig(null, 'marketplace_settings/redirect/default_home_url') . 'ronati-privacy-cookie-and-gdpr-policy/' ;?>"
                                                        title="Privacy Policy">Ronati Privacy, Cookie and GDPR Policy</a></li>
                        <li class="footer__nav-item"><a href="<?php echo $this->getUrl('https://support.ronati.com'); ?>"
                                                        title="Help">Help</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-4 footer__subscribe-col">
                <div class="footer__subscribe" id='subscribe'>
                    <p id="error-message-subvs" style="display: none;"></p>
                    <p class="footer__subscribe-title"><span id="wait-message-subscriber">Subscribe to our newsletter:</span></p>
                    <form id="subscribe-form" autocomplete="off" class="subscribe-news-footer">
                        <div class="subscribe-news__input-wrap">
                            <label>
                                Email:
                                <input type="text" placeholder="Type your e-mail" class="subscribe-news__input"
                                       id="subscribe_email_address" name="subscribe_email_address"
                                       data-validate="{required:true, 'validate-email':true}"/>
                            </label>
                        </div>

                    </form>
                </div>
                <div class="footer__soc">
                    <ul class="footer__soc-list">
                        <li class="footer__soc-item"><a href="https://www.facebook.com/Ronati-517960135258800/" title="facebook"
                                                         target="_blank" rel="noopener noreferrer" >
                                <span class="fb-icon social-icon"></span>
                            </a></li>
                        <li class="footer__soc-item"><a href="https://www.instagram.com/world_of_ronati/" title="instagram"
                                                         target="_blank" rel="noopener noreferrer" >
                                <span class="insta-icon social-icon"></span>
                            </a></li>
                        <li class="footer__soc-item"><a href="https://twitter.com/world_of_ronati" title="twitter"
                                                        target="_blank" rel="noopener noreferrer" >
                            <span class="tw-icon social-icon"></span>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__copyright-block row">
            <p class="footer__copyright">Copyright &copy; 2020 Ronati, LLC.</p>
            <ul class="footer__soc-list footer__soc-list_mob">
                <li class="footer__soc-item"><a href="https://www.facebook.com/Ronati-517960135258800/" title="facebook_grey"
                                                rel="noopener noreferrer" target="_blank">
                        <svg width="24px" height="24px" class="footer__soc-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook_grey"></use>
                        </svg>
                    </a></li>
                <li class="footer__soc-item">
                    <a href="https://www.instagram.com/world_of_ronati/"
                       title="instagram_grey"
                       rel="noopener noreferrer"
                       target="_blank">
                        <svg width="24px" height="24px" class="footer__soc-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram_grey"></use>
                        </svg>
                    </a></li>
                <li class="footer__soc-item">
                    <a href="https://twitter.com/world_of_ronati"
                       title="twitter_grey"
                       rel="noopener noreferrer"
                       target="_blank">
                        <svg width="24px" height="24px" class="footer__soc-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter_grey"></use>
                        </svg>
                    </a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function ($) {

        $('#subscribe-form').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                document.getElementById("subscribe-form-submit").click();
                e.preventDefault();
                return false;
            }
        });

        $('#second-section').hide();
        var dataSubscribeForm = $('#subscribe-form');
        dataSubscribeForm.mage('validation', {});

        $("#subscribe-form-submit").click(function () {
            $('#confirmation-dealer-message2').html('');
            $('#error-message-subvs').hide();
            var email_value = $('#contact_email_address_home').val();
            if ($('#subscribe-form').valid()) {
                $('#wait-message').html('Please wait...');
                $.ajax({
                    url: "<?php echo $this->getUrl('auth/subscribe'); ?>",
                    showLoader: false,
                    data: {'email_value': email_value},
                    type: 'POST'
                }).success(function (data) {
                    var json = $.parseJSON(data);
                    if (json.data.flag == 'false') {
                        $('#error-message-subvs').show();
                        $('#error-message-subvs').html('<p style=color:red;><br /n>Sorry! You are already subscribed.</p>');
                        $('#wait-message').html('If so, sign up for updates on our upcoming launch.');
                        return false;
                    }

                    if (json.data.flag == 'true') {
                        $('#error-message-subvs').hide();
                        $('.dealer-content').hide();
                        $('#wait-message').html('If so, sign up for updates on our upcoming launch.');
                        $('#confirmation-dealer-message').html("<br /n>Thanks for subscribing!<br /n><br /n>");
                        $('#confirmation-dealer-message2').html("<br /n>Remember to check your email and confirm your subscription to begin receiving updates on our upcoming launch.<br /n><br /n><br /n>");
                        $('#second-section').show();
                        $('#first-section').hide();

                    }

                }).error(function (data) {
                    $('#wait-message').html('If so, sign up for updates on our upcoming launch.');
                    $('#confirmation-dealer-message2').html('Invalid Parameters');
                });
            }

        });

        //For footer subscribe
        $("#subscribe-form-submit-button").click(function () {
            $('#wait-message').html('Subscribe to our newsletter');
            var email_value = $('#subscribe_email_address').val();
            if ($('#subscribe-form').valid()) {
                $('#wait-message-subscriber').text('Please wait...');
                $.ajax({
                    url: "<?php echo $this->getUrl('auth/subscribe'); ?>",
                    showLoader: false,
                    data: {'email_value': email_value},
                    type: 'POST'
                }).success(function (data) {
                    var json = $.parseJSON(data);

                    if (json.data.flag == 'false') {
                        $('#wait-message-subscriber').show();
                        $('#wait-message-subscriber').html('<p style=color:red;>Sorry! You are already subscribed.</p>');
                        return false;
                    }

                    if (json.data.flag == 'true') {
                        $('#wait-message-subscriber').html('<span style="color:#c9a77a">Thanks for subscribing!</span>');
                        $('#subscribe_email_address').val('');
                    }

                }).error(function (data) {

                });
            }
        });

        jQuery('#contact-us-btn').click(function () {
            location.reload(true);
        });
    });
</script>
