<footer id="home-page-footer">
    <div class="footer-area">
        <div class="ronati-container">
            <ul id="social-networking">
                <li class="instagram"><a target="_blank" href=""></a></li>
                <li class="twitter"><a target="_blank" href=""></a></li>
                <li class="fb"><a href="" target="_blank"></a></li>
                <li class="linkedin"><a target="_blank" href=""></a></li>
            </ul><!--social-networking close here-->
            <div class="footer-info-detail">
                <ul class="ft-link-list">
                    <li><a href="mailtto:info@ronati.com">info@ronati.com</a></li>
                    <li>US +1 (866) 739-8343</li>
                    <li>UK +44 (0) 8081 692399</li>
                </ul><!--ft-link-listclose here-->
            </div><!--footer-info close here-->
        </div>
        <!--ronati-container close here-->
    </div>
    <!--footer-area close here-->
</footer>
