<?php
/**
 * @var \RonatiModules\Theme\Block\Html\Header $block
 */

$customer_id = $block->getCustomerId();
$auth_helper = $this->helper('RonatiModules\Auth\Helper\Data');
$profile_picture = $auth_helper->getCustomerAvatarPath($customer_id);
?>
<?php if ($block->isCustomerLoggedIn()) : ?>
    <?php switch ($block->getShowPart()):
        case 'welcome': ?>
            <div class="ronati-dropdown customer-section">
                <span class="ronati-dropdown__trigger" data-toggle="dropdown" data-mage-init='{"dropdown":{}}'>
                    <span class="ronati-dropdown__line"></span>
                    <span class="ronati-dropdown__line"></span>
                    <span class="ronati-dropdown__line"></span>
                </span>
                <ul class="ronati-dropdown__list" data-target="dropdown">
                    <li class="ronati-dropdown__item main-info">
                        <a href="<?= $block->getUrl('marketplace/product/productlist/'); ?>"
                           title="Profile"
                           class="main-info__avatar">
                            <img class=""
                                 src="<?= $block->escapeUrl($profile_picture) ?>"
                                 alt="customer avatar">
                        </a>
                        <div class="main-info__right-block">
                            <a href="<?= $this->getUrl('marketplace/product/productlist/'); ?>"
                               title="Profile"
                               class="main-info__name"><?= $block->getCustomerName() ?></a>
                            <a href="mailto:<?= $block->getCustomerEmail() ?>"
                               class="main-info__mail"><?= $block->getCustomerEmail() ?></a>
                        </div>
                    </li>
                    <li class="ronati-dropdown__item">
                        <a class="ronati-dropdown__link"
                           title="<?= __('eCommerce manager') ?>"
                           href="<?= $block->getUrl('marketplace/product/productlist') ?>">
                            <?= __('eCommerce manager') ?>
                        </a>
                    </li>
                    <li class="ronati-dropdown__item">
                        <a class="ronati-dropdown__link"
                           title="<?= __('Edit profile') ?>"
                           href="<?= $block->getUrl('marketplace/account/businessprofile') ?>">
                            <?= __('Edit profile') ?>
                        </a>
                    </li>
                    <li class="ronati-dropdown__item">
                        <a class="ronati-dropdown__link"
                           title="<?= __('Account settings') ?>"
                           href="<?= $block->getUrl('marketplace/account/settings') ?>">
                            <?= __('Account settings') ?>
                        </a>
                    </li>
                    <li class="ronati-dropdown__item">
                        <a class="ronati-dropdown__link"
                           title="<?= __('Help') ?>"
                           href="https://support.ronati.com">
                            <?= __('Help') ?>
                        </a>
                    </li>
                    <li class="ronati-dropdown__item">
                        <a class="ronati-dropdown__link"
                           title="<?= __('Sign out') ?>"
                           href="<?= $this->getUrl('customer/account/logout'); ?>">
                            <?= __('Sign out') ?>
                        </a>
                    </li>
                </ul>
            </div>
            <?php break; ?>
            <script type="text/x-magento-init">
                {
                    "*": {
                        "Magento_Ui/js/core/app": {
                            "components": {
                                "customer": {
                                    "component": "Magento_Customer/js/view/customer"
                                }
                            }
                        }
                    }
                }
            </script>
        <?php case 'other': ?>
            <?= $block->getChildHtml() ?>
            <?php break; ?>
        <?php endswitch; ?>
<?php endif; ?>

<script type="text/x-magento-init">
        {
            "*": {
                "cookieBanner" : {}
            }
        }
</script>
