<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$currentLimit = $block->getRequest()->getParam('limit');
$availableLimit = [50, 100, 150, 200];
?>
<?php if ($block->getCollection()->getSize()): ?>
    <?php if ($block->getUseContainer()): ?>
       <div class="">
    <?php endif ?>
        <?php if ($block->getLastPageNum()>1){ ?>
        <div class="pagination-block-area">
      <div class="pager-block">
        <div class="paging-label-style">
            <ul class="items pages-items" aria-labelledby="paging-label">
            <?php if (!$block->isFirstPage()): ?>
                <li class="item pages-item-previous">
                    <?php $text = $block->getAnchorTextForPrevious() ? $block->getAnchorTextForPrevious() : '';?>
                    <a class="<?php /* @escapeNotVerified */ echo $text ? 'link ' : 'action '?> previous" href="<?php /* @escapeNotVerified */ echo $block->getPreviousPageUrl() ?>" title="<?php /* @escapeNotVerified */ echo $text ? $text : __('Previous') ?>">
                        <span class="pre-button"><?php /* @escapeNotVerified */ echo $text ? $text : __('Previous') ?></span>
                    </a>
                </li>
            <?php endif;?>

            <?php if ($block->canShowFirst()): ?>

                <li class="item">
                    <a class="page first" href="<?php /* @escapeNotVerified */ echo $block->getFirstPageUrl() ?>">
                        <span>1</span>
                    </a>
                </li>
            <?php endif;?>

            <?php if ($block->canShowPreviousJump()): ?>

                <li class="item">
                    <a class="page previous jump" title="" href="<?php /* @escapeNotVerified */ echo $block->getPreviousJumpUrl() ?>">
                        <span>...</span>
                    </a>
                </li>
            <?php endif;?>

            <?php foreach ($block->getFramePages() as $_page): ?>
                <?php if ($block->isPageCurrent($_page)): ?>
                    <li class="item current">
                        <strong class="page">
                            <span class="numeric-button"><?php /* @escapeNotVerified */ echo $_page ?></span>
                        </strong>
                    </li>
                <?php else: ?>
                    <li class="item">
                        <a href="<?php /* @escapeNotVerified */ echo str_replace('flag=1', '', $block->getPageUrl($_page)); ?>" class="page">
                            <span class="numeric-button"><?php /* @escapeNotVerified */ echo $_page ?></span>
                        </a>
                    </li>
                <?php endif;?>
            <?php endforeach;?>

            <?php if ($block->canShowNextJump()): ?>
                <li class="item">
                    <a class="page next jump" title="" href="<?php /* @escapeNotVerified */ echo str_replace('flag=1', '', $block->getNextJumpUrl()) ?>">
                        <span>...</span>
                    </a>
                </li>
            <?php endif;?>

            <?php if ($block->canShowLast()): ?>
              <li class="item">
             <a class="page last" href="<?php /* @escapeNotVerified */ echo str_replace('flag=1', '', $block->getLastPageUrl()); ?>">
                      <span><?php /* @escapeNotVerified */ echo $block->getLastPageNum() ?></span>
                  </a>
              </li>
            <?php endif;?>

            <?php if (!$block->isLastPage()): ?>
                <li class="item pages-item-next">
                    <?php $text = $block->getAnchorTextForNext() ? $block->getAnchorTextForNext() : '';?>
                    <a class="<?php /* @escapeNotVerified */ echo $text ? 'link ' : 'action '?> next" href="<?php /* @escapeNotVerified */ echo $block->getNextPageUrl() ?>" title="<?php /* @escapeNotVerified */ echo $text ? $text : __('Next') ?>">
                    <span class="next-button"><?php /* @escapeNotVerified */ echo $text ? $text : __('Next') ?></span>
                    </a>
                </li>
            <?php endif;?>
                <li class="item pages-item-next">
                     <label for="pagination-page" class="pagination-page__label">Go to page:</label>
                     <input id="pagination-page" class="pagination-page__input" type="number" value="">
                </li>
            </ul> </div>

<div class="show-amount">
        <?php if ($block->getShowAmounts()): ?>
            <span class="toolbar-number">
            <?php if ($block->getLastPageNum()>1): ?>
                <?php /* @escapeNotVerified */ echo __('Items %1 to %2 of %3 total', $block->getFirstNum(), $block->getLastNum(), $block->getTotalNum()) ?>
            <?php elseif ($block->getTotalNum() == 1): ?>
                <?php /* @escapeNotVerified */ echo __('%1 Item', $block->getTotalNum()) ?>
            <?php else: ?>
                <?php /* @escapeNotVerified */ echo __('%1 Item(s)', $block->getTotalNum()) ?>
            <?php endif; ?>
            </span>
        <?php endif ?>
        <select id="limiter" class="limiter-options">
            <?php foreach ($availableLimit as $_key => $_limit): ?>
                <option value="<?= $block->getUrl('*/*/*', ['_current' => true, '_query' => ['limit' => $_limit]]);?>"
                    <?php if ($currentLimit == $_limit) { echo "selected"; } ?>>
                    <?php /* @escapeNotVerified */ echo $_limit.' per page' ?>
                </option>
            <?php endforeach; ?>
        </select>
     </div>
  </div>
</div>
<?php } else { ?>
    <div class="single-selector">
        <select id="limiter" class="limiter-options">
            <?php foreach ($availableLimit as $_key => $_limit): ?>
                <option value="<?= $block->getUrl('*/*/*', ['_current' => true, '_query' => ['limit' => $_limit]]);?>"
                    <?php if ($currentLimit == $_limit) { echo "selected"; } ?>>
                    <?php /* @escapeNotVerified */ echo $_limit.' per page' ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
<?php } ?>
    <?php if ($block->getUseContainer()): ?>
    </div>
    <?php endif ?>
<?php endif ?>

<style type="text/css">

.pagination-block-area { padding-top: 32px; }
ul.pages-items li { display: inline-block; text-align: center; margin: 0 2.5px !important;
    line-height: 42px;}
a.page.next.jump { background: none;}
a.page.previous.jump { background: none;}
a.page.first{display: inline-block;background: #fff;padding: 0px 15px;border: 1px solid #d3d3d3;}
ul.pages-items li a {background: #fff; display: block;}
.pre-button {background: #ffffff;border: 1px solid #d3d3d3;font-size: .875rem;padding: 12px 22px;font-weight: 500;}
.numeric-button {border: 1px solid #d3d3d3;font-size: .875rem;padding: 12px 15px;font-weight: 500;}
.next-button {background: #ffffff;border: 1px solid #d3d3d3;font-size: .875rem;padding: 12px 22px;font-weight: 500;}
label.pagination-page__label {margin-left: 40px;}
ul.pages-items li.item.pages-item-next {
    background: none;
}
ul.pages-items li.current {
    background-color: #ededed;
  }
  ul.pages-items li a.page.last  {border: 1px solid #d3d3d3;
    font-size: .875rem;
    padding: 0 15px;
    font-weight: 500;}

span.toolbar-number {margin-left: 16px;margin-right: 16px;font-size: 14px;padding-top: 13px;
    display: inline-block;}
select.limiter-options { background: #fff; border: 1px solid #e6e6e6; padding: 8px; width:141px;}
.pager-block {padding: 10px;clear: both;float: right;    text-align: center;}
.pager-block .paging-label-style {float: left;}
.pager-block .show-amount  {float: left;}

.single-selector { padding-top: 32px; margin:0;  }
.single-selector select.limiter-options {

    float: right;
}

@media only screen and (max-width: 812px) and (min-width: 320px) {
.pager-block {float: none;}
.pager-block .paging-label-style {float: none;}
.pager-block .show-amount  {float: none;}
label.pagination-page__label { margin-left: 0;}
ul.items.pages-items {padding-bottom: 10px;}
.pager-block .paging-label-style {float:none;}

.pager-block .show-amount {float: none;}
ul.pages-items li.item.pages-item-next {
    background: none;
    margin: 5px !important;
}
}

@media only screen and (max-width: 640px) and (min-width: 320px) {
ul.items.pages-items {padding-bottom: 0;}
ul.pages-items li { min-height: 42px;}
label.pagination-page__label {margin-left: 0;}
.pagination-page__input {margin-left: 0;}

}
</style>
<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function ($) {
        jQuery('#limiter').on("change", function () {
            location.href = jQuery('#limiter').val();
        });
    });
</script>
