.default-button{
    .lib-font-size(14);
    .lib-line-height(16);
    font-weight: 500;
    color: @color-white;
    background: @color-event;
    cursor: pointer;
    font-family:@base-font;
    border: 1px solid @color-event;
    height: 40px;
    .lib-css(display,flex,1);
    .lib-css(justify-content,center,1);
    .lib-css(align-items,center,1);
    .lib-css(transition, all 300ms ease-in-out, 1);
    &:hover{
        color: @color-white;
        background: @color-event;
        .lib-css(transition, all 300ms ease-in-out, 1);
    }
}

.s-button{
    .lib-font-size(14);
    .lib-line-height(16);
    font-weight: 500;
    cursor: pointer;
    font-family:@base-font;
    border: 1px solid @color-black;
    height: 40px;
    .lib-css(display,flex,1);
    .lib-css(justify-content,center,1);
    .lib-css(align-items,center,1);
    .lib-css(transition, all 300ms ease-in-out, 1);
    background: @color-black;
    color: @color-white;
    &:hover{
        //background: @color-black-hover;
        .lib-css(transition, all 300ms ease-in-out, 1);
    }
}

.action {
    &.ronati-buttons{
        .standard-font-14();
        &.primary{
            background: @color-orange;
            color: @color-white;
            border: 1px solid transparent;
            transition: all .3s;
            border-radius: 0;
            text-transform: uppercase;
            font-weight: 300;
            &:hover {
                background: @color-white;
                border: 1px solid @color-orange;
                color: @color-orange;
            }
        }
        &.secondary {
            background: @color-white;
            color: @color-orange;
            border: 1px solid @color-orange;
            transition: all .3s;
            border-radius: 0;
            text-transform: uppercase;
            font-weight: 300;
            font-size: @font-size__base;
            line-height: 19px;
            display: inline-block;
            padding: 7px 15px;
            &:hover {
                background: @color-orange;
                color: @color-white;
                text-decoration: none;
                box-shadow: none;
            }
            &.bold-border{
                font-weight: 400;
                border-width: 2px;
            }
        }
        &.unActive{
            display: none;
        }
    }
}


