@color-black: #181717;
@color-black-hover: #2f2f2f;

@color-white_2: #d5d5d5;
@color-white_3: #d3d6d8;
@color-white_4: #e3e3e3;
@color-white_5: #f8f8f8;
@color-white_6: #CCC;
@color-blue: #3b506c;
@color-blue-light: #337ab7;
@color-grey: #646464;
@color-light-grey: #646464;
@color-light-grey-2: #ddd;
@color-light-grey-3: #b3b3b4;
@color-light-grey-4: #b8b8b8;
@color-light-grey-5: #777;
@color-light-grey-6: #888;
@color-light-grey-7: #c2c2c2;
@color-red: #ef595c;
@color-yellow: #c9a77a;
@color-yellow-hover: #b59368;

//new design
@color-error: #e02b27;
@ronati-color-black: #000;
@color-white: #fff;
@color-event:#F47658;
@grey-text-color: rgba(0, 0, 0, 0.7);
@grey-text-color2: rgba(0, 0, 0, 0.5);
@multiselect-selected-option: rgba(196, 196, 196, 0.18);
@color-orange: #F37656;
@color-triangle: rgba(59, 80, 107, 0.3);
@color-copyright-border: rgba(24,23,23,0.2);
@color-grey-text: rgba(0, 0, 0, 0.7);
@color-dropdown-item-hover: rgba(229, 229, 229, 0.5);
@input-focus-shadow: rgba(244, 118, 88, 0.25);
@color-inputs-shadow: rgba(244,118,88,0.25);
@color-head:#3B506B;
@color-green:#66AC46;
@color-hold: #CCA65C;
@color-deactivated: #8e8b8b;
@color-deleted: #C4C4C4;
@color-draft: #3399cc;
@color-action-text: rgba(0, 0, 0, 0.5);
@color-background:rgba(229, 229, 229, 0.24);
@color-background-white:#E5E5E5;
@color-background-grey:#f7f7f7;
@color-grey-open-close-icon:#9c9c9c;
@color-button-border:#cacaca;
@color-grey-text:rgba(0, 0, 0, 0.5);
@color-box-shadow: rgba(0, 0, 0, 0.75);
