@import "_colors.less";

input{
    &[type="text"],
    &[type="password"],
    &[type="url"],
    &[type="tel"],
    &[type="search"],
    &[type="number"],
    &[type="email"]{
        height: 45px;
        width: 100%;
        border: 1px solid @color-background-white;
        background: @color-white;
    }
}
