.standard-font-14{
    .lib-font-size(14);
    .lib-line-height(19);
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-weight: 300;
    color: @color-black;
    &:hover{
        text-decoration: none;
    }
}
.standard-font-14-hover{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: @color-black;
    &:hover,
    &.active {
        color: @color-light-grey-4;
    }
}
.standard-font-12{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}
.standard-font-16{
    .lib-font-size(16);
    .lib-line-height(22);
    letter-spacing: 0.12em;
    font-weight: 300;
    color: @color-black;
    &:hover{
        text-decoration: none;
    }
}
.flex-block{
    .lib-css(display, flex, 1);
}
.flex-block-vertical-center{
    .lib-css(display, flex, 1);
    .lib-css(align-items,center,1)

}

.transition(){
    .lib-css(transition,all 300ms ease-in-out,1)
}
//should be moved to _edit.less/_add.less


//@keyframes block_opacity {
//    from {
//        opacity: 1;
//        height: 100%;
//        }
//    to  { opacity: 0;
//        height: 0;
//        display: none;
//        }
//}

.progressbar-container{
    border: 1px solid @color-event;
}
.progressbar{
    background: @color-event;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 20px;
    .progress-percent{
        position: absolute;
        left: 50%;
        transform: translate(-50%);

    }
}
#upload-proceed{
    .transition();
}
.file-info{
    display: flex;
    justify-content: space-between;
}
.file-row{
    padding: 5px 10px;
    //&.isLoaded{
    //    animation: block_opacity 3s;
    //}
}
